<!-- Defined Embedded Ruby post rules -->
<%= form_for @shout, :html => { :multipart => true } do |f| %>
  <% if @shout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shout.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @shout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="uploads">
    <h3>Upload Photo</h3>
  <div class="visible-xs">
  <%= f.file_field :pic %>
  </div>
    <h3>Upload Video</h3>
  <div class="visible-xs">
  <%= f.file_field :snip %>
  </div>
  <!-- f.file_field :photo %> !-->
  <div class="center">
    <%= f.submit :class => "btn btn-info" %>
  </div>

  </div>

<% end %>