<!-- *Start* Views/shouts/_shout.html -->

<script type='text/javascript'>
function load(request) {
  $('#code').text(request);
  $('#preview').html(request);
}

function preview(value) {
  console.log("preview; value = " + value);

  /*
  $.getJSON("/preview?callback=?", value, function(data){
    load(data);
    console.log("preview callback\n" + data);
  });
  */

  $.ajax({
    dataType: "html",
    url: "/preview?url=" + value['url']
  })
  .done( function(data){
    load(data);
    console.log("preview callback\n" + data);
  });
}

function previewUrl() {
  preview({'url':$('#url_body').val()});
}

$('#examples a').click(function() {
  $('#url_body').focus(); 
  $('#url_body').val( $(this).attr('href'));
  previewUrl();
});

$(function () { 
  $("#url_body").focus();
  previewUrl();
});

//$('#upload_form').delayedObserver(1, function(element, value) { previewUrl() });
//$('#url_body').keydown(function() { alert("hi"); previewUrl() });
//$('#url_body').bind('input propertychange', function() { alert("hi"); previewUrl() });  


</script>
<!-- Defined Embedded Ruby post rules -->
<%= form_for @shout, :html => { :multipart => true, id: "upload_form" } do |f| %>
  <% if @shout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shout.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @shout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <H1>Step 1 Choose The Type Of Post You Want To Make</H1>
  <div>
    <ul>
      <li>
        <%= image_tag("camera3.png", :size => "100x100") %>
      </li>
      <li>
        <%= image_tag( "movie36.png", :size => "100x100") %>
      </li>
      <li>
        <%= image_tag("internet17.png",:size => "100x100") %>
      </li>
    </ul>
  </div>

  <div class="uploads">
    <ul>
      <li>
        <h3>Upload Photo</h3>
        <div class="visible-xs">
          <%= f.file_field :pic, id: 'pictureInput'  %>
        </div>
      </li>
      <li>
        <h3>Upload Video</h3>
        <div class="visible-xs">
          <%= f.file_field :snip, id: 'pictureInput2' %>
        </div>
      </li>
      <li>
        <h3>Url Link<s/h3>
        <div class="visible-xs">
          <%= f.label :url %>

          <%= f.text_area :url, id: 'url_body', placeholder: "Youtube, Vimeo, Soundcloud", onChange: 'previewUrl()' %>
        </div>
      </li>
    </ul></br>
    <h3>Preview</h3>

    <div id="target"></div>
    <div id="target2"></div>
    <div id="preview"></div>

  <!--This is where the preview of the post is going to be 
  -->

    <H1>Step 2 Write A Description</H1>
    <ul>
      <li>
        <div class="visible-xs">
          <%= f.text_area :content, placeholder: "Description" %>
        </div>
      </li>
    </ul>
  </div>

    <!-- f.file_field :photo %> !-->
    <div class="center">
      <%= f.submit "Create Post", :class => "btn btn-info" %>
    </div>


<% end %>

  <script>
    $(function() {
      $('#pictureInput').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#target').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>

  <script>
    $(function() {
      $('#pictureInput2').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Video();
          console.log(file);
          img.src = file.target.result;
          $('#target2').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>








<!-- *End* Views/shouts/_shout.html -->