<!-- *Start* Views/shouts/_shout.html -->
<style type="text/css">
  .post-padding{
    margin-top: 8vh;
  }

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
</style>

<script type='text/javascript'>
function load(request) {
  $('#code').text(request);
  $('#preview').html(request);
}

function preview(value) {
  console.log("preview; value = " + value);

  /*
  $.getJSON("/preview?callback=?", value, function(data){
    load(data);
    console.log("preview callback\n" + data);
  });
  */

  $.ajax({
    dataType: "html",
    url: "/preview?url=" + value['url']
  })
  .done( function(data){
    load(data);
    console.log("preview callback\n" + data);
  });
}

function previewUrl() {
  preview({'url':$('#url_body').val()});
}

$('#examples a').click(function() {
  $('#url_body').focus(); 
  $('#url_body').val( $(this).attr('href'));
  previewUrl();
});

$(function () { 
  $("#url_body").focus();
  previewUrl();
});

//$('#upload_form').delayedObserver(1, function(element, value) { previewUrl() });
//$('#url_body').keydown(function() { alert("hi"); previewUrl() });
//$('#url_body').bind('input propertychange', function() { alert("hi"); previewUrl() });  


</script>
<div class="Alignthisorelse">
  <div class="container post-padding">
    <div class="col-sm-8 col-sm-offset-2 form-box wow fadeInUp">
      <div class="form-top">
        <div class="form-top-left">
          <h2><strong>Create A Post<strong></h2>
            <p>Share whatever you makes you think</p>
        </div>
        <div class="form-top-right">
          <a href="#"><%= image_tag("postlightgray.fw.png", size: "65x65") %></a>
        </div>
      </div>
      <div class="form-bottom">

      <%= form_for @shout, :html => { :multipart => true, id: "upload_form", role:"form" } do |f| %>
        <% if @shout.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@shout.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
            <% @shout.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="Alignthisorelse">
          <div class="container">

              <div class="row">
                <div class="col-sm-3 how-it-works-box wow fadeInUp">
                  <div class="how-it-works-box-icon">
                    <a href="#"><%= image_tag("Newpostsnip.fw.png", size: "65x65") %></a>
                  </div>
                    <h2>Snip</h2>
                    <p class="ready-par">15 Sec Clip</p>
                    <div class="fileUpload btn-link-1">
                      <span>Upload Snip</span>
                      <%= f.file_field :snip, id: 'pictureInput2', placeholder: "Snip", type: "file", class: "upload" %>
                    </div>
                </div>

                <div class="col-sm-3 col-sm-offset-1 how-it-works-box wow fadeInDown">
                  <div class="how-it-works-box-icon">
                    <a href="#"><%= image_tag("Newpostpic.fw.png", size: "65x65") %></a>
                  </div>
                    <h2>Pic</h2>
                    <p class="ready-par">HD Picture/Selfie</p>

                    <div class="fileUpload btn-link-1">
                      <span>Upload Pic</span>
                       <%= f.file_field :pic, id: 'pictureInput', placeholder: "Pic", type: "file", class: "upload"  %>
                    </div>
                </div>
               </div>
                <div class="row">
                  <div class="col-sm-3 how-it-works-box wow fadeInUp">
                    <div class="how-it-works-box-icon">
                      <a href="#"><%= image_tag("Newpostvideo.fw.png", size: "65x65") %></a>
                    </div>
                    <h2>Video</h2>
                    <p class="ready-par">Share Full Video</p>
                    <div class="fileUpload btn-link-1">
                      <span>Upload Video</span>
                      <%= f.file_field :video, id: 'pictureInput2', placeholder: "Snip", type: "file", class: "upload" %>
                    </div>
                  </div>

                  <div class="col-sm-3 col-sm-offset-1 how-it-works-box wow fadeInDown">
                    <div class="how-it-works-box-icon">
                      <a href="#"><%= image_tag("Newpostin1.fw.png", size: "65x65") %></a>
                    </div>
                    <h2>In2</h3>
                    <p class="ready-par">URL Of Anything</p>
                    <div class="form-grouP">
                      <%= f.text_area :url, id: 'url_body', class: "form-control", placeholder: "Youtube, Vimeo, Soundcloud", onChange: 'previewUrl()', type:"search" %>
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-sm-5 col-sm-offset-1 section-bottom-button wow fadeInUp">
                  <div id="target"></div>
                  <div id="target2"></div>
                  <div id="preview"></div>
                  <%= f.text_area :content, class: "form-control", placeholder: "Write a description for your post...", type:"search" %>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 section-bottom-button wow fadeInUp">
                  <button
                  <%= f.submit "Create my account", class: "btn" %>> Post!
                  </button>
                </div>
              </div>

          </div>
        </div>

      <% end %>
      </div>
    </div>
  </div>
</div>







<script>
  $(function() {
    $('#pictureInput').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        $('#target').html(img);
      }
      reader.readAsDataURL(image);
      console.log(files);
    });
  });
</script>
<script>
  $(function() {
    $('#pictureInput2').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Video();
        console.log(file);
        img.src = file.target.result;
        $('#target2').html(img);
      }
      reader.readAsDataURL(image);
      console.log(files);
    });
  });
</script>