<!-- *Start* Views/shouts/_shout.html -->
<!-- Defined Embedded Ruby post rules -->
<%= form_for @shout, :html => { :multipart => true } do |f| %>
  <% if @shout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shout.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @shout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <!--<h3>What's on your Mind?</h3>
  <div class="visible-xs">
    <%#= f.label :content %>
    <%#= f.text_field :content %>
  </div>-->
  <H1>Step 1 Choose The Type Of Post You Want To Make</H1>

  <div class="uploads">
    <ul>
      <li>
        <h3>Upload Photo</h3>
        <div class="visible-xs">
          <%= f.file_field :pic, id: "pictureInput"  %>
        </div>
      </li>
      <li>
        <h3>Upload Video</h3>
        <div class="visible-xs">
          <%= f.file_field :snip, id: "pictureInput2" %>
        </div>
      </li>
      <li>
        <h3>YouTube Link</h3>
        <div class="visible-xs">
          <%= f.label :url %>
          <%= f.text_field :url %>
        </div>
      </li>
    </ul></br>


      <div id="target"></div>
      <div id="target2"></div>

  <!--This is where the preview of the post is going to be 
  -->



    <H1>Step 2 Write A Discription</H1>
    <ul>
      <li>
        <div class="visible-xs">
          <%= f.text_area :content, placeholder: "Say What You Gotta Say... Or Not Its Up To You. Do What You Want" %>
        </div>
      </li>
    </ul>
  </div>

    <!-- f.file_field :photo %> !-->
    <div class="center">
      <%= f.submit "Create Post", :class => "btn btn-info" %>
    </div>


<% end %>

  <script>
    $(function() {
      $('#pictureInput').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#target').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>

  <script>
    $(function() {
      $('#pictureInput2').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Video();
          console.log(file);
          img.src = file.target.result;
          $('#target2').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>
<!-- *End* Views/shouts/_shout.html -->