<!-- *Start* Views/shouts/show.html -->
<div class="visible-md visible-lg container_profile">

  <div class="post_main">
    <ul class="post_header">
	    <li></li><%= image_tag @shout.user.avatar(:thumb), class: 'user' %>
			<li></li><%= link_to @shout.user.full_name, feed_user_path(@shout.user) %>
			<li></li><%= image_tag "filter-nfuse2.png", size: "50x50" %>
		</ul>
	</div><br>

	<% if @shout.url.blank? %>
		<p><%= @shout.url_html %></p>

	<% else @shout.pic? %>
		<p class="user-box">
		  <%= image_tag @shout.pic.url if @shout.pic.exists? %>
		  <%= @shout.content %>
		</p>
	<% end %>

  <div class="<%= @shout.class %>-<%= @shout.id %>">
	  <%= link_to "Like", like_shout_path(@shout), method: :post %><%= @shout.like_score %> | 
	  <%= link_to "Dislike", dislike_shout_path(@shout), method: :delete %><%= @shout.dislike_score %>
	  <%#= link_to pluralize(@comments.count, 'comment'), @shout, class: 'comments' %>
	</div>
	<!--<div>
		<div><%#= render "comments/comments" %></div>
		<div><%#= render "comments/form" %></div>
	</div>-->
</div>
<!-- *End* Views/shouts/show.html -->