<div class="network_links_container">
  <% if @display_welcome %>
    <p class="centered_text link_accounts_paragraph">Click one of the below links or visit "Account Settings" to link an account and get started.</p>
  <% end %>
  <div class="network_container">
    <div class="network_login">
      <% if current_user && current_user_has_provider?('twitter') %>
        <%= link_to "Relink Twitter", "/auth/twitter" %>
      <% else %>
        <%= link_to "Link Twitter", "/auth/twitter" %>
      <% end %>
      <%= link_to image_tag("Twitter_logo_blue.png"), "/auth/twitter", :class => "network_login_link" %>
    </div>
  </div>
  <div class="network_container">
    <div class="network_login">
      <% if current_user && current_user_has_provider?('facebook') %>
        <%= link_to "Relink Facebook", "/auth/facebook" %>
      <% else %>
        <%= link_to "Link Facebook", "/auth/facebook" %>
      <% end %>
      <%= link_to image_tag("FB-f-Logo__blue_50.png"), "/auth/facebook", :class => "network_login_link" %>
    </div>
  </div>
  <div class="network_container">
    <div class="network_login">
      <% if current_user && current_user_has_provider?('instagram') %>
        <%= link_to "Relink Instagram", "/auth/instagram" %>
      <% else %>
        <%= link_to "Link Instagram", "/auth/instagram" %>
      <% end %>
      <%= link_to image_tag("Instagram_Icon_Large.png"), "/auth/instagram", :class => "network_login_link" %>
    </div>
  </div>
</div>
