<% provide(:title, "Log in") %>
<style type="text/css">
	.login-padding{
		margin-top: 8vh;
	}

  h3 {
    color: #fff;
  }

</style>
<div class="Alignthisorelse">
  <div class="container login-padding">
    <div class="col-md-6 col-md-offset-3 form-box wow fadeInUp">
      <div class="form-top-login">
        <div class="form-top-left">
          <h3><strong>Log In Right Now!!!<strong></h3>
            <p>Discover what you've missed since last time.</p>
        </div>
        <div class="form-top-right">
          <a href="#"><%= image_tag("lock27lightgray.fw.png", size: "65x65") %></a>
        </div>
      </div>
      <div class="form-bottom">
      		<%= form_for(:session, url: sessions_path, html: { role: "form"}) do |f| %>
            <div class="form-group">
              <%= f.text_field :email, :placeholder => "Email", class: "form-control input-lg", id:"form-email", type: "email" %>
            </div>
            <div class="form-group">
              <%= f.text_field :password, :placeholder => "Password", class: "form-control input-lg", id:"form-password", type: "password" %>
            </div>
              <button
              <%= f.submit "Create my account", class: "btn" %>> Log in!
              </button>
            <div class="form-links">
             	  <%= link_to "Forgot password?", new_password_reset_path %>
  							|
  							<%= link_to "Sign up now!", signup_path %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>