<!-- *Start* Views/sessions/new.html -->
<% provide(:title, "Log in") %>

<div class="container" id="content-box-signup">
	<div class="containerMain">
		<table class="center table">
			<%= form_for(:session, url: sessions_path) do |f| %>
				<tr>
					<td><%= f.label :email %></td>
					<td><%= f.text_field :email %></td>
				</tr>
				<tr>
					<td><%= f.label :password %></td>
					<td><%= f.password_field :password %></td>
				</tr>
				<tr>
					<td><%= f.submit "Login", class: "btn" %></td>
  <% end %>
					<td><%= link_to "Forgot password?", new_password_reset_path %></td>
				</tr>
				<tr>
					<td>New user?</td>
					<td><%= link_to "Sign up now!", signup_path %></td>
				</tr>
			</table>
  </div>
</div>
<!-- *End* Views/sessions/new.html -->
