<% provide(:title, "Step 3") %>


<div class="row" id="content-box">
  <div class="span6 offset0">
    <h1>Last step</h1>
    <%= form_for(@user, :multipart => true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
        <%= f.file_field :avatar %>
        <%= image_tag @user.avatar(:larger) %> <br>
      
        <%= f.file_field :banner %>
        <%= image_tag @user.banner(:large) %> <br>
              
       <%= f.submit "Save changes", class: "btn btn-large btn-info" %>
        <% end %>
      <%= link_to "skip this step", next_wizard_path %>
    </div>
  </div>