<!-- *Start* Views/callback_links/avatar_pic.html -->
<% provide(:title, "Step 3") %>
<style type="text/css">
  .pro-pics-padding {
    margin-top: 8vh;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

  h3 {
      color: #fff;
  }
</style>

<div class="Alignthisorelse">
  <div class="container pro-pics-padding">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 form-box wow fadeInUp">
        <div class="form-top-pro-pic">
          <div class="form-top-left">
            <h3><strong>Choose you profile images</strong></h3>
              <p>Almost there!!! Last step to create your profile.</p>
          </div>
          <div class="form-top-right">
            <a href="#"><%= image_tag("createprofilegray.fw.png", size: "60x60") %></a>
          </div>
        </div>
        <div class="form-bottom">
          <div class="Alignthisorelse">
            <%= form_for(@user, :multipart => true, html:{role: "form"}) do |f| %>
              <h2>Upload a Profile Picture</h2>
              <div id="target"> 
                <%= image_tag @user.avatar(:medium) %> 
              </div>
              <div class="fileUpload btn-link-1">
                <span>Upload Image</span>
              <%= f.file_field :avatar, id: "pictureInput", placeholder: "Snip", type: "file", class: "upload" %>
              </div>
              <h2>Upload a Profile Banner</h2>
              <div id="target2"> 
                <%= image_tag @user.banner(:medium) %>
              </div>
              <div class="fileUpload btn-link-1">
                <span>Upload Banner</span>
                <%= f.file_field :banner, id: "pictureInput2", placeholder: "Snip", type: "file", class: "upload" %>
              </div> &nbsp;
              <div>
                <button type="submit" class="btn btn-link-1">
                  Save Changes
                </button>
                <%= link_to "Skip", next_wizard_path, class: "btn btn-link-2" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
    $(function() {
      $('#pictureInput').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#target').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>
  <script>
    $(function() {
      $('#pictureInput2').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#target2').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>
<!-- *End* Views/callback_links/avatar_pic.html -->