<!-- *Start* Views/callback_links/callbacks.html -->
  <div class="containertotalSignup">
    <div class="containercallbacks">
      <h1 class="center"> Network Nfusion</h1>
      <p class="center"> Share your social life with Nfuse</p>
      <table class="inLineLeft">
        <tr>  
          <td><%= link_to image_tag("Twitter-Icon.png", size: "100x100"), "/auth/twitter?origin=#{request.original_url}", :class => "network_login_link" %>
          </td>
          <td><% if current_user && user_has_provider?('twitter') %>
            <%= link_to "reNfuse Twitter", "/auth/twitter?origin=#{request.original_url}" %>
            <% else %>
            <%= link_to "Nfuse Twitter", "/auth/twitter?origin=#{request.original_url}" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to image_tag("Facebook-Icon.png", size: "100x100"), "/auth/facebook?origin=#{request.original_url}", :class => "network_login_link" %>
          </td>
          <td><% if current_user && user_has_provider?('facebook') %>
              <%= link_to "reNfuse Facebook", "/auth/facebook?origin=#{request.original_url}" %>
              <% else %>
              <%= link_to "Nfuse Facebook", "/auth/facebook?origin=#{request.original_url}" %>
              <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to image_tag("Instagram-icon.png", size: "100x100"), "/auth/instagram?origin=#{request.original_url}", :class => "network_login_link" %>
          </td>
          <td><% if current_user && user_has_provider?('instagram') %>
              <%= link_to "reNfuse Instagram", "/auth/instagram?origin=#{request.original_url}" %>
              <% else %>
              <%= link_to "Nfuse Instagram", "/auth/instagram?origin=#{request.original_url}" %>
              <% end %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td><%= link_to image_tag("Youtube-Icon.png", size: "100x100"), "/auth/google_oauth2?origin=#{request.original_url}", :class => "network_login_link" %>
          </td>
          <td><% if current_user && user_has_provider?('google_oauth2') %>
              <%= link_to "reNfuse YouTube", "/auth/google_oauth2?origin=#{request.original_url}" %>
              <% else %>
              <%= link_to "Nfuse YouTube", "/auth/google_oauth2?origin=#{request.original_url}" %>
              <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to image_tag("Vimeo.png", size: "100x100"), "/auth/vimeo?origin=#{request.original_url}", :class => "network_login_link" %>
          </td>
          <td><% if current_user && user_has_provider?('vimeo') %>
              <%= link_to "reNfuse Vimeo", "/auth/vimeo?origin=#{request.original_url}" %>
              <% else %>
              <%= link_to "Nfuse Vimeo", "/auth/vimeo?origin=#{request.original_url}" %>
              <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to image_tag("Pinterest-Icon.png", size: "100x100"), "/auth/vimeo?origin=#{request.original_url}", :class => "network_login_link" %>
          </td>
          <td><% if current_user && user_has_provider?('vimeo') %>
              <%= link_to "reNfuse Pinterest", "/auth/vimeo?origin=#{request.original_url}" %>
              <% else %>
              <%= link_to "Nfuse Pinterest", "/auth/vimeo?origin=#{request.original_url}" %>
              <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to image_tag("Flickr-icon.png", size: "100x100"), "/auth/vimeo?origin=#{request.original_url}", :class => "network_login_link" %>
          </td>
          <td><% if current_user && user_has_provider?('vimeo') %>
              <%= link_to "reNfuse Flickr", "/auth/vimeo?origin=#{request.original_url}" %>
              <% else %>
              <%= link_to "Nfuse Flickr", "/auth/vimeo?origin=#{request.original_url}" %>
              <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to image_tag("Vine-Icon.png", size: "100x100"), "/auth/vimeo?origin=#{request.original_url}", :class => "network_login_link" %>
          </td>
          <td><% if current_user && user_has_provider?('vimeo') %>
              <%= link_to "reNfuse Vine", "/auth/vimeo?origin=#{request.original_url}" %>
              <% else %>
              <%= link_to "Nfuse Vine", "/auth/vimeo?origin=#{request.original_url}" %>
              <% end %>
          </td>
        </tr>
      </table>
      <div class="floatRight"> <%= link_to "Next", next_wizard_path %> </div>
    </div>
  </div>
<!-- *End* Views/callback_links/callbacks.html -->