<!-- *Start* Views/callback_links/callbacks.html -->

<style type="text/css">
  .sup-padding{
    margin-top: 26px;
  }
</style>

<div class="Alignthisorelse sup-padding">
  <div class="container">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1 form-box wow fadeInUp">
            <div class="form-top">
              <div class="form-top-left">
                <h2><strong>Network Nfusion.</strong></h2>
                  <p>Share your social life with Everyone.</p>
              </div>
              <div class="form-top-right">
                <a href="#"><%= image_tag("Nfuselogogray.fw.png", size: "65x65") %></a>
              </div>
              </div>
              <div class="form-bottom-sup-nfusion">
            <form role="form">
              <div class="Alignthisorelse">
                <div class="features-container section-container">
                  <div class="container">
                      <div class="row">
                        <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
                          <div class="features-box-icon">
                            <a href="#"><%= image_tag("facebookblue.fw.png", size: "60x60") %></a>
                          </div>
                            <h3><strong>Facebook<strong></h3>
                            <p>This is for catchy slogan.</p>
                          <% if current_user && user_has_provider?('facebook') %>
                              <%= link_to "You've Nfused Facebook", "/auth/facebook?origin=#{request.original_url}" %>
                              <% else %>
                              <%= link_to "Nfuse Facebook", "/auth/facebook?origin=#{request.original_url}" %>
                              <% end %>
                        </div>
                        <div class="col-sm-3 features-box wow fadeInDown">
                          <div class="features-box-icon">
                            <a href="#"><%= image_tag("twitterblue.fw.png", size: "60x60") %></a>
                          </div>
                            <h3><strong>Twitter<strong></h3>
                            <p>This is for catchy slogan.</p>
                          <% if current_user && user_has_provider?('twitter') %>
                            <%= link_to "You've Nfused Twitter", "/auth/twitter?origin=#{request.original_url}" %>
                            <% else %>
                            <%= link_to "Nfuse Twitter", "/auth/twitter?origin=#{request.original_url}" %>
                            <% end %>
                        </div>
                        <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
                          <div class="features-box-icon">
                            <a href="#"><%= image_tag("instagramblue.fw.png", size: "60x60") %></a>
                          </div>
                            <h3><strong>Instagram<strong></h3>
                            <p>This is for catchy slogan.</p>
                          <% if current_user && user_has_provider?('instagram') %>
                              <%= link_to "You've Nfused Instagram", "/auth/instagram?origin=#{request.original_url}" %>
                              <% else %>
                              <%= link_to "Nfuse Instagram", "/auth/instagram?origin=#{request.original_url}" %>
                              <% end %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 features-box wow fadeInUp">
                          <div class="features-box-icon">
                            <a href="#"><%= image_tag("youtubeblue.fw.png", size: "60x60") %></a>
                          </div>
                            <h3><strong>Youtube<strong></h3>
                            <p>This is for catchy slogan.</p>
                          <% if current_user && user_has_provider?('google_oauth2') %>
                              <%= link_to "You've Nfused YouTube", "/auth/google_oauth2?origin=#{request.original_url}" %>
                              <% else %>
                              <%= link_to "Nfuse YouTube", "/auth/google_oauth2?origin=#{request.original_url}" %>
                              <% end %>
                          </div>
                          <div class="col-sm-3 features-box features-box-gray wow fadeInDown">
                          <div class="features-box-icon">
                            <a href="#"><%= image_tag("vimeoblue.fw.png", size: "60x60") %></a>
                          </div>
                            <h3><strong>Vimeo<strong></h3>
                            <p>This is for catchy slogan.</p>
                          <% if current_user && user_has_provider?('vimeo') %>
                              <%= link_to "You've Nfused Vimeo", "/auth/vimeo?origin=#{request.original_url}" %>
                              <% else %>
                              <%= link_to "Nfuse Vimeo", "/auth/vimeo?origin=#{request.original_url}" %>
                              <% end %>
                          </div>
                          <div class="col-sm-3 features-box wow fadeInUp">
                          <div class="features-box-icon">
                            <a href="#"><%= image_tag("pinterestblue.fw.png", size: "60x60") %></a>
                          </div>
                            <h3><strong>Pinterest<strong></h3>
                            <p>This is for catchy slogan.</p>
                          <% if current_user && user_has_provider?('pinterest') %>
                              <%= link_to "You've Nfused Pinterest", "/auth/pinterest?origin=#{request.original_url}" %>
                              <% else %>
                              <%= link_to "Nfuse Pinterest", "/auth/pinterest?origin=#{request.original_url}" %>
                              <% end %>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
                          <div class="features-box-icon">
                            <a href="#"><%= image_tag("flickrblue.fw.png", size: "60x60") %></a>
                          </div>
                            <h3><strong>Flickr<strong></h3>
                            <p>This is for catchy slogan.</p>
                          <% if current_user && user_has_provider?('flickr') %>
                              <%= link_to "You've Nfused Flickr", "/auth/flickr?origin=#{request.original_url}" %>
                              <% else %>
                              <%= link_to "Nfuse Flickr", "/auth/flickr?origin=#{request.original_url}" %>
                              <% end %>
                        </div>
                          <div class="col-sm-3 features-box wow fadeInDown">
                            <h3><strong>Done Nfusing?<strong></h3>
                            <%= link_to "Next", next_wizard_path, class: "btn btn-link-1" %>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          </div>
      </div>
  </div>
</div>
<!-- *End* Views/callback_links/callbacks.html