<style>
.popup-messages-footer > textarea {
    border-bottom: 1px solid #b2b2b2 !important;
    height: 34px !important;
    margin: 7px;
    padding: 5px !important;
     border: medium none;
    width: 95% !important;
    overflow: hidden !important;
}
.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 83%;
}
.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}
.bg_none i {
    border: 1px solid #ff6701;
    border-radius: 25px;
    color: #ff6701;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none:hover i {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
</style>



  <li class="media">
    <a class="pull-left" href="#">
      <!-- Needs to be user image with link to profile -->
      <% if comment.user.avatar_file_name.present? && comment.user.avatar_file_name.include?('graph.facebook.com') %>
        <%= image_tag comment.user.avatar_file_name, class:"media-object img-circle", title: "Edit Image" %>
      <% else %>
        <%= image_tag comment.user.avatar(:thumb), class: "media-object img-circle",  title: "Edit Image" %>
      <% end %>
      <!--<img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" alt="profile">-->
    </a>
    <div class="media-body">
      <div class="well well-lg">
        <!-- Username goes here -->
        <h4 class="media-heading text-uppercase reviews"><%= comment.user.user_name%></h4>
        <ul class="media-date text-uppercase reviews list-inline">
          <!-- timeago in words of the comment -->
          <li class="dd"><%= time_ago_in_words(comment.created_at) %></li>
        </ul>
<!--         <div class="embed-responsive embed-responsive-16by9">
          This will be the media placement
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/80lNjkcp6gI" allowfullscreen></iframe>
        </div> -->
        <% if !comment.url.blank? %>
          <p> <%= comment.url_html %></p>
        <% elsif !comment.image_upload.blank? %>
          <%= image_tag comment.image_upload(:medium) %>
        <% else %>
        <% end %>
        <% unless comment.body.blank? %>
          <p class="media-comment">
            <%= comment.body %>
          </p>
        <% end %>
        <%#= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment), class="btn btn-info btn-circle text-uppercase"  %>
        <a class="btn btn-info btn-circle text-uppercase" data-toggle="modal" href="#<%= comment.id %>Comments" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
        <% if comment.children.any? %>
          <a class="btn btn-warning btn-circle text-uppercase" data-toggle="modal" href="#<%= comment.id %>Comments"><span class="glyphicon glyphicon-comment"></span> <%= comment.children.count %> comment</a>
        <% end %>
        <% if ActsAsVotable::Vote.where(votable_id: comment.id).pluck(:voter_id).include?(current_user.id) %>
          <%= link_to image_tag("smilingpurple.fw.png", size: "24x24"),
            dislike_this_comment_path(id: comment.id,
            owner_id: comment.user_id,
            comment_id: comment.id,
            owner_type: 'User'),
            method: :delete, remote: true %>
        <% else %>
          <%= link_to image_tag("smilinggray.fw.png", size: "24x24"),
            like_this_comment_path(id: comment.id,
            owner_id: comment.user_id,
            comment_id: comment.id,
            owner_type: 'User'),
            method: :post, remote: true %>
        <% end %>
        <a id="comment-<%=comment.id%>">
          <%= ActsAsVotable::Vote.where(votable_id: comment.id, votable_type: 'Comment').size %>
        </a>
      </div>
    </div>



<div id="<%= comment.id %>Comments" class="modal fade">
  <div class="modal-fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body-new-post">
          <div class="row-fluid">
            <div class="span12">
              <div class="span6">
                <div class="logowrapper">
                  <div class="Alignthisorelse">
                    <div class="container post-padding">
                      <div class="col-sm-6 form-box wow fadeInUp">
                        <div class="form-top-new-post">
                          <div class="form-bottom">
                            <% comment.children.each do |this| %>
                            <%# comment.children.includes(:user).each do |this| %>
                            <%# user = User.find(this.user_id) %>
                            <ul class="media-list">
                              <li class="media media-replied">

                                <div class="media-body">
                                  <div class="well well-lg">
                                  <a class="pull-left" href="#">
                                    <% if this.user.avatar_file_name.present? && this.user.avatar_file_name.include?('graph.facebook.com') %>
                                      <%= image_tag this.user.avatar_file_name, class:"media-object img-circle", title: "Edit Image" %>
                                    <% else %>
                                      <%= image_tag this.user.avatar(:thumb), class: "media-object img-circle", title: "Edit Image" %>
                                    <% end %>
                                    <!--<img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" alt="profile">-->
                                  </a>
                                    <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> <%= this.user.user_name%></h4>
                                    <ul class="media-date text-uppercase reviews list-inline">
                                      <li class="dd"><%= time_ago_in_words(this.created_at) %></li>
                                    </ul>
                                    <% if !this.url.blank? %>
                                      <p> <%= this.url_html %></p>
                                    <% elsif !this.image_upload.blank? %>
                                      <%= image_tag this.image_upload(:medium) %>
                                    <% else %>
                                    <% end %>
                                    <% unless this.body.blank? %>
                                      <p class="media-comment">
                                        <%= this.body %>
                                      </p>
                                    <% end %>
                                    <!-- <a class="btn btn-info btn-circle text-uppercase" data-toggle="modal" href="#<%= comment.id %>Reply" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a> -->
                                    <% if ActsAsVotable::Vote.where(votable_id: this.id).pluck(:voter_id).include?(current_user.id) %>
                                      <%= link_to image_tag("smilingpurple.fw.png", size: "24x24"),
                                          dislike_this_comment_path(id: this.id,
                                          owner_id: this.user_id,
                                          comment_id: this.id,
                                          owner_type: 'User'),
                                          method: :delete, remote: true %>
                                    <% else %>
                                        <%= link_to image_tag("smilinggray.fw.png", size: "24x24"),
                                          like_this_comment_path(id: this.id,
                                          owner_id: this.user_id,
                                          comment_id: this.id,
                                          owner_type: 'User'),
                                          method: :post, remote: true %>
                                    <% end %>
                                    <a id="comment-<%=this.id%>">
                                      <%= ActsAsVotable::Vote.where(votable_id: this.id, votable_type: 'Comment').size %>
                                    </a>
                                  </div>
                                </div>
                              </li>
                            </ul>
                            <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= form_for [@commentable, Comment.new(parent_id: comment, user_id: current_user.id)], :html => { :multipart => true, id: "upload_form", role:"form" } do |f| %>
        <%= f.hidden_field :parent_id %>
        <%= f.hidden_field :user_id %>
        <div class="modal-footer">
          <div class="popup-messages-footer">
            <%= f.text_area :body,  id: "status_message",  placeholder: "Type a message...", rows: "10", cols: "40" %>
            <div class="btn-footer">
              <button class="bg_none"><i class="glyphicon glyphicon-camera"></i> </button>
              <button class="bg_none"><i class="glyphicon glyphicon-link"></i> </button>
              <button type="submit" class="bg_none pull-right"><i class="glyphicon glyphicon-ok-sign"></i> </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    </div>
  </div>








    <div id="absolute_postition_test" class="modal fade">
      <div class="modal-fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body-new-post">
              <div class="row-fluid">
                <div class="span12">
                  <div class="span6">
                    <div class="logowrapper">
                      <div class="Alignthisorelse">
                        <div class="container post-padding">
                          <div class="col-sm-6 form-box wow fadeInUp">
                            <div class="form-top-new-post">
                              <div class="form-bottom">
                              <%= form_for [@commentable, Comment.new(user_id: current_user.id)], :html => { multipart: true, class: 'form-horizontal', id: 'commentForm'} do |f| %>
                                <%= f.hidden_field :parent_id %>
                                <%= f.hidden_field :user_id %>
                                <div class="Alignthisorelse">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-sm-2 how-it-works-box wow fadeInUp">
                                        <div class="how-it-works-box-icon">
                                          <a href="#"><%= image_tag("circlephoto.fw.png", size: "175x175") %></a>
                                        </div>
                                        <div class="fileUpload btn-link-1">
                                          <span>Upload Pic</span>
                                           <%= f.file_field :image_upload, id: 'newPostPictureInput', placeholder: "Pic", type: "file", class: "upload"  %>
                                        </div>
                                      </div>
                                      <div class="col-sm-2 col-sm-offset-1 how-it-works-box wow fadeInDown">
                                        <div class="how-it-works-box-icon">
                                          <a href="#"><%= image_tag("circlein2darkgray.fw.png", size: "175x175") %></a>
                                        </div>
                                        <div class="form-grouP">
                                          <%= f.text_area :url, id: 'profile_post_url_body', class: "form-control", placeholder: "URL of everything", onChange: 'previewUrl()', type:"search" %>
                                        </div>
                                      </div>
                                    </div>
                                      <div class="row">
                                        <div class="col-sm-5 section-bottom-button wow fadeInUp">
                                          <div id="target"></div>
                                          <div id="profilePostTarget"></div>
                                          <div id="profileUrlPostPreview"></div>
                                          <%= f.text_area :body, class: "form-control", placeholder: "Write a description for your post...", type:"search" %>
                                        </div>
                                      </div>
                                      <div class="col-sm-3 col-sm-offset-1 section-bottom-button wow fadeInUp">
                                        <button type="submit" class="btn">
                                         Post!
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>










  </li>

<%#= render partial: 'comments/new_comment_modal', locals: {commantable: @commentable, this: this} %>












<!--%a.pull-left{:href=>"#"}-->
  <!--%img.media-object{ :src => "/assets/anonuser.jpg", :style=> "width: 64px; height: 64px;" }-->
<!--.media-body-->
  <!--%h4.media-heading Anonymous User-->
  <!--%i= comment.created_at.strftime('%b %d, %Y at %H:%M') -->
  <!--%p= simple_format comment.content-->
  <!--.actions-->
    <!--= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment)-->
  <!--= nested_comments comment.children-->