  <li class="media">
    <a class="pull-left" href="#">
      <!-- Needs to be user image with link to profile -->
      <% if comment.user.avatar_file_name.present? && comment.user.avatar_file_name.include?('graph.facebook.com') %>
        <%= image_tag comment.user.avatar_file_name, class:"media-object img-circle", title: "Edit Image" %>
      <% else %>
        <%= image_tag comment.user.avatar(:thumb), class: "media-object img-circle",  title: "Edit Image" %>
      <% end %>
      <!--<img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" alt="profile">-->
    </a>
    <div class="media-body">
      <div class="well well-lg">
        <!-- Username goes here -->
        <h4 class="media-heading text-uppercase reviews"><%= comment.user.user_name%></h4>
        <ul class="media-date text-uppercase reviews list-inline">
          <!-- timeago in words of the comment -->
          <li class="dd"><%= time_ago_in_words(comment.created_at) %></li>
        </ul>
<!--         <div class="embed-responsive embed-responsive-16by9">
          This will be the media placement
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/80lNjkcp6gI" allowfullscreen></iframe>
        </div> -->
        <% unless comment.url.blank? %>
          <p> <%= comment.url_html %></p>
        <% elsif !comment.image_upload.blank? %>
          <%= comment.image_upload(:medium) %>
        <% else %>
        <% end %>
        <% unless comment.body.blank? %>
          <p class="media-comment">
            <%= comment.body %>
          </p>
        <% end %>
        <%#= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment), class="btn btn-info btn-circle text-uppercase"  %>
        <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#<%= comment.id %>Reply" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
        <% if comment.children.any? %>
          <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#<%= comment.id %>Comments"><span class="glyphicon glyphicon-comment"></span> <%= comment.children.count %> comment</a>
        <% end %>
        <% if ActsAsVotable::Vote.where(votable_id: comment.id).pluck(:voter_id).include?(current_user.id) %>
          <%= link_to image_tag("smilingpurple.fw.png", size: "24x24"),
              dislike_this_comment_path(id: comment.id,
              owner_id: comment.user_id,
              comment_id: comment.id,
              owner_type: 'User'),
              method: :delete, remote: true %>
        <% else %>
            <%= link_to image_tag("smilinggray.fw.png", size: "24x24"),
              like_this_comment_path(id: comment.id,
              owner_id: comment.user_id,
              comment_id: comment.id,
              owner_type: 'User'),
              method: :post, remote: true %>
        <% end %>
        <a id="comment-<%=comment.id%>">
          <%= ActsAsVotable::Vote.where(votable_id: comment.id, votable_type: 'Comment').size %>
        </a>
      </div>
    </div>

    <div class="collapse" id="<%= comment.id %>Comments">
      <% comment.children.each do |this| %>
      <%# comment.children.includes(:user).each do |this| %>
      <%# user = User.find(this.user_id) %>
      <ul class="media-list">
        <li class="media media-replied">
          <a class="pull-left" href="#">
            <% if this.user.avatar_file_name.present? && this.user.avatar_file_name.include?('graph.facebook.com') %>
              <%= image_tag this.user.avatar_file_name, class:"media-object img-circle", title: "Edit Image" %>
            <% else %>
              <%= image_tag this.user.avatar(:thumb), class: "media-object img-circle", title: "Edit Image" %>
            <% end %>
            <!--<img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" alt="profile">-->
          </a>
          <div class="media-body">
            <div class="well well-lg">
              <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> <%= this.user.user_name%></h4>
              <ul class="media-date text-uppercase reviews list-inline">
                <li class="dd"><%= time_ago_in_words(this.created_at) %></li>
              </ul>
              <% if !this.url.blank? %>
                <p> <%= this.url_html %></p>
              <% elsif !this.image_upload.blank? %>
                <%= this.image_upload(:medium) %>
              <% else %>
              <% end %>
              <% unless this.body.blank? %>
                <p class="media-comment">
                  <%= this.body %>
                </p>
              <% end %>
              <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#<%= comment.id %>Reply" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
              <% if ActsAsVotable::Vote.where(votable_id: this.id).pluck(:voter_id).include?(current_user.id) %>
                <%= link_to image_tag("smilingpurple.fw.png", size: "24x24"),
                    dislike_this_comment_path(id: this.id,
                    owner_id: this.user_id,
                    comment_id: this.id,
                    owner_type: 'User'),
                    method: :delete, remote: true %>
              <% else %>
                  <%= link_to image_tag("smilinggray.fw.png", size: "24x24"),
                    like_this_comment_path(id: this.id,
                    owner_id: this.user_id,
                    comment_id: this.id,
                    owner_type: 'User'),
                    method: :post, remote: true %>
              <% end %>
              <a id="comment-<%=this.id%>">
                <%= ActsAsVotable::Vote.where(votable_id: this.id, votable_type: 'Comment').size %>
              </a>
            </div>
          </div>
        </li>
      </ul>
      <% end %>
    </div>
    <div class="collapse" id="<%= comment.id %>Reply">
      <ul class="media-list">
        <%#= form_for(@comment, url: new_polymorphic_path([@commentablet, Comment.new], :parent_id => comment), html: {method: "get"}) do |f| %>
        <%= form_for [@commentable, Comment.new(parent_id: comment, user_id: current_user.id)] do |f| %>
        <%= f.hidden_field :parent_id %>
        <%= f.hidden_field :user_id %>
        <%= f.text_area :url, id: 'forum_post_url_body', class: "form-control", placeholder: "URL of everything", onChange: 'previewUrl()', type:"search" %>
        <%= f.file_field :image_upload, id: 'newPostPictureInput', placeholder: "Pic", type: "file", class: "upload"  %>
        <%= f.text_field :body, :rows => 4 %>
        <%= f.submit "Post Comment" %>
        <% end %>
      </ul>
    </div>
  </li>














<!--%a.pull-left{:href=>"#"}-->
  <!--%img.media-object{ :src => "/assets/anonuser.jpg", :style=> "width: 64px; height: 64px;" }-->
<!--.media-body-->
  <!--%h4.media-heading Anonymous User-->
  <!--%i= comment.created_at.strftime('%b %d, %Y at %H:%M') -->
  <!--%p= simple_format comment.content-->
  <!--.actions-->
    <!--= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment)-->
  <!--= nested_comments comment.children-->