<!-- TOPIC -->
<li class="media comment item topic_post">
  <header class="post_header">
    <div class="user">
      <!-- Needs to be user image with link to profile -->
      <% if comment.user.avatar_file_name.present? && comment.user.avatar_file_name.include?('graph.facebook.com') %>
        <%= image_tag comment.user.avatar_file_name, class:"media-object img-circle", title: "Edit Image" %>
      <% else %>
        <%= image_tag comment.user.avatar(:small), class: "media-object img-circle",  title: "Edit Image" %>
      <% end %>
      <a href="#" class='topic_user'><%= comment.user.user_name%></a>
    </div>
    <h5 class="media-heading reviews"><%= comment.topic.nil? ? 'I love Nfuse' : comment.topic.empty? ? 'I Love Nfuse' : comment.topic %>
    </h5>
  </header>
  <main class="post_content">
    <div class="timeline-user-box">
      <% if !comment.url.blank? %>
        <p><%= comment.url_html %></p>
      <% elsif !comment.image_upload.blank? %>
        <%= image_tag comment.image_upload(:medium) %>
      <% else %>
      <% end %>
      <% unless comment.body.blank? %>
        <p class="media-comment">
          <%= comment.body %>
        </p>
      <% end %>
    </div>
  </main>
  <footer class="post_actions">
    <a class="commentPost" data-toggle="modal" data-target=".<%= comment.id %>Comments" href="#" rel="nofollow">
      <i class="fa"></i><span><%= comment.children.size %></span>
    </a>
      <% if signed_in? %>
        <% if ActsAsVotable::Vote.where(votable_id: comment.id).pluck(:voter_id).include?(current_user.id) %>
          <%= link_to dislike_this_comment_path(id: comment.id,
                owner_id: comment.user_id,
                comment_id: comment.id,
                owner_type: 'User'),
                method: :delete, remote: true, class: 'likePost' do %>
            <i class="fa"></i>
            <span>
              <%= ActsAsVotable::Vote.where(votable_id: comment.id, votable_type: 'Comment').size %>
            </span>
          <% end %>
        <% else %>
          <%= link_to like_this_comment_path(id: comment.id,
                owner_id: comment.user_id,
                comment_id: comment.id,
                owner_type: 'User'),
                method: :post, remote: true, class: 'likePost' do %>
            <i class="fa"></i>
            <span>
              <%= ActsAsVotable::Vote.where(votable_id: comment.id, votable_type: 'Comment').size %>
            </span>
          <% end %>
        <% end %>
      <% else %>
        <a class="likePost" href="#" rel="nofollow">
          <i class="fa"></i>
          <span>
            <%= ActsAsVotable::Vote.where(votable_id: comment.id, votable_type: 'Comment').size %>
          </span>
        </a>
      <% end %>
    <a id="flagpost" class="flagPost" data-toggle="modal" data-target="#flagmodal" href="#" rel="nofollow">
      <i class="fa"></i><span>Flag</span>
    </a>
    <a class="timeStamp" href="javascript:void(0)">
      <i class="fa"></i><span><%= time_ago_in_words(comment.created_at) %></span>
    </a>
  </footer>

  <!-- COMMENTS MODAL -->
  <div class="modal fade <%= comment.id %>Comments" id="commentmodal" tabindex="-1" role="dialog" aria-labelledby="notificationslabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="notificationslabel"><%= comment.topic.nil? ? 'I love Nfuse' : (comment.topic.empty? ? 'I Love Nfuse' : comment.topic) %></h4>
        </div>
        <div class="modal-body container-fluid">
          <!-- COMMENT -->
          <ul id="comments-list" class="row sub_<%= comment.id %>_comments">
            <% comment.children.each do |this| %>
              <%# comment.children.includes(:user).each do |this| %>
              <%# user = User.find(this.user_id) %>
              <%= render partial: 'comments/sub_comment', locals: {this: this} %>
            <% end %>
          </ul>
        </div>
        <% if signed_in? %>
          <div class="modal-footer">
            <a class="user">
              <% if current_user.avatar_file_name.present? && current_user.avatar_file_name.include?('graph.facebook.com') %>
                <%= image_tag current_user.avatar_file_name %>
              <% else %>
                <%= image_tag current_user.avatar(:small) %>
              <% end %>
            </a>
              <%= form_for [@commentable, Comment.new(parent_id: comment, user_id: current_user.id)], :html => { :multipart => true, id: "upload_form", role:"form", class: "dropup minimal new_comment forum-image-upload"}, remote: true do |f| %>
                <%= f.hidden_field :parent_id %>
                <%= f.hidden_field :user_id %>
                <label for="forum_sub_comment_image_upload" class="forum_image_upload">
                  <i class="fa fa-photo"></i>
                  <%= f.file_field :image_upload, class: "upload" %>
                </label>
                <a id="link-drop-link" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#"><i class="fa fa-link"></i></a>
                <div id="link-drop" class="dropdown-menu" aria-labelledby="link-drop-link">
                  <textarea class="form-control" name="comment[url]" onchange="previewUrl()" placeholder="Paste URL Here" type="search"></textarea>
                </div>
                  <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="comment[body]"></textarea>
                <button type='submit' class='submit'>Done</button>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</li>