<style>
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 0 0 17%;
}
</style>


<div id="profilePostTarget"></div>

<div id="forumUrlPostPreview"></div>
<%= form_for [@commentable, Comment.new(user_id: current_user.id)], :html => { multipart: true, class: 'form-horizontal', id: 'commentForm'} do |f| %>
<%= f.hidden_field :parent_id %>
<%= f.hidden_field :user_id %>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Comment</label>
    <div class="col-sm-4">
      <%= f.text_field :body, id: 'uploadMedia', onChange: 'previewUrl()', class: 'form-control', rows: 5, placeholder: 'Comment' %>
      <!-- <input class="form-control" name="addComment" id="addComment" rows="5"></input> -->
    </div>
  </div>
  <div class="form-group">
    <label for="uploadMedia" class="col-sm-2 control-label">Upload media</label>
    <div class="col-sm-4">
      <div class="input-group">
        <div class="input-group-addon">http://</div>
          <%= f.text_field :url, class: 'form-control', id: 'forum_post_url_body', placeholder: "URL of everything" %>
          <!-- <input type="text" class="form-control" name="uploadMedia" id="uploadMedia"> -->
      </div>
    </div>
  </div>
  <div class="fileUpload btn-link-1">
    <span>Upload Pic</span>
      <%= f.file_field :image_upload, id: 'newPostPictureInput', placeholder: "Pic", type: "file", class: 'upload'  %>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">                    
      <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span>Submit</button>
    </div>
  </div>
<% end %>





<%#= f.file_field :pic, id: 'newPostPictureInput', placeholder: "Pic", type: "file", class: "upload"  %>


<!-- 
<script>
  $(function() {
    $('#newPostPictureInput').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        $('#profilePostTarget').html(img);
      }
      reader.readAsDataURL(image);
      console.log(files);
    });
  });
</script>
 -->
<script>
function load(request) {
  $('#code').text(request);
  $('#forumUrlPostPreview').html(request);
}

function preview(value) {
  console.log("preview; value = " + value);

  /*
  $.getJSON("/preview?callback=?", value, function(data){
    load(data);
    console.log("preview callback\n" + data);
  });
  */

  $.ajax({
    dataType: "html",
    url: "/preview?url=" + value['url']
  })
  .done( function(data){
    load(data);
    console.log("preview callback\n" + data);
  });
}

function previewUrl() {
  preview({'url':$('#forum_post_url_body').val()});
}

$('#examples a').click(function() {
  $('#forum_post_url_body').focus(); 
  $('#forum_post_url_body').val( $(this).attr('href'));
  previewUrl();
});

$(function () { 
  $("#forum_post_url_body").focus();
  previewUrl();
});

//$('#upload_form').delayedObserver(1, function(element, value) { previewUrl() });
//$('#forum_post_url_body').keydown(function() { alert("hi"); previewUrl() });
//$('#forum_post_url_body').bind('input propertychange', function() { alert("hi"); previewUrl() });  


</script>