<div id="new_post_modal" class="modal fade">
  <div class="modal-fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body-new-post">
          <div class="row-fluid">
            <div class="span12">
              <div class="span6">
                <div class="logowrapper">
                  <div class="Alignthisorelse">
                    <div class="container post-padding">
                      <div class="col-sm-6 form-box wow fadeInUp">
                        <div class="form-top-new-post">
                          <div class="form-bottom">
                          <%= form_for [@commentable, Comment.new(parent_id: comment, user_id: current_user.id)], :html => { :multipart => true, id: "upload_form", role:"form" } do |f| %>
                            <div class="Alignthisorelse">
                              <div class="container">
                                <div class="row">
                                  <div class="col-sm-2 how-it-works-box wow fadeInUp">
                                    <div class="how-it-works-box-icon">
                                      <a href="#"><%= image_tag("circlephoto.fw.png", size: "175x175") %></a>
                                    </div>
                                    <div class="fileUpload btn-link-1">
                                      <span>Upload Pic</span>
                                       <%= f.file_field :image_upload, id: 'newPostPictureInput', placeholder: "Pic", type: "file", class: "upload"  %>
                                    </div>
                                  </div>
                                  <div class="col-sm-2 col-sm-offset-1 how-it-works-box wow fadeInDown">
                                    <div class="how-it-works-box-icon">
                                      <a href="#"><%= image_tag("circlein2darkgray.fw.png", size: "175x175") %></a>
                                    </div>
                                    <div class="form-grouP">
                                      <%= f.text_area :url, id: 'profile_post_url_body', class: "form-control", placeholder: "URL of everything", onChange: 'previewUrl()', type:"search" %>
                                    </div>
                                  </div>
                                </div>
                                  <div class="row">
                                    <div class="col-sm-5 section-bottom-button wow fadeInUp">
                                      <div id="target"></div>
                                      <div id="profilePostTarget"></div>
                                      <div id="profileUrlPostPreview"></div>
                                      <%= f.text_area :body, class: "form-control", placeholder: "Write a description for your post...", type:"search" %>
                                    </div>
                                  </div>
                                  <div class="col-sm-3 col-sm-offset-1 section-bottom-button wow fadeInUp">
                                    <button type="submit" class="btn">
                                     Post!
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


























<div id="new_post_modal" class="modal fade">
  <div class="modal-fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body-new-post">
          <div class="row-fluid">
            <div class="span12">
              <div class="span6">
                <div class="logowrapper">
                  <div class="Alignthisorelse">
                    <div class="container post-padding">
                      <div class="col-sm-6 form-box wow fadeInUp">
                        <div class="form-top-new-post">
                          <div class="form-bottom">
                            <% comment.children.each do |this| %>
                            <%# comment.children.includes(:user).each do |this| %>
                            <%# user = User.find(this.user_id) %>
                            <ul class="media-list">
                              <li class="media media-replied">
                                <a class="pull-left" href="#">
                                  <% if this.user.avatar_file_name.present? && this.user.avatar_file_name.include?('graph.facebook.com') %>
                                    <%= image_tag this.user.avatar_file_name, class:"media-object img-circle", title: "Edit Image" %>
                                  <% else %>
                                    <%= image_tag this.user.avatar(:thumb), class: "media-object img-circle", title: "Edit Image" %>
                                  <% end %>
                                  <!--<img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" alt="profile">-->
                                </a>
                                <div class="media-body">
                                  <div class="well well-lg">
                                    <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> <%= this.user.user_name%></h4>
                                    <ul class="media-date text-uppercase reviews list-inline">
                                      <li class="dd"><%= time_ago_in_words(this.created_at) %></li>
                                    </ul>
                                    <% if !this.url.blank? %>
                                      <p> <%= this.url_html %></p>
                                    <% elsif !this.image_upload.blank? %>
                                      <%= image_tag this.image_upload(:medium) %>
                                    <% else %>
                                    <% end %>
                                    <% unless this.body.blank? %>
                                      <p class="media-comment">
                                        <%= this.body %>
                                      </p>
                                    <% end %>
                                    <a class="btn btn-info btn-circle text-uppercase" data-toggle="modal" href="#<%= comment.id %>Reply" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                    <% if ActsAsVotable::Vote.where(votable_id: this.id).pluck(:voter_id).include?(current_user.id) %>
                                      <%= link_to image_tag("smilingpurple.fw.png", size: "24x24"),
                                          dislike_this_comment_path(id: this.id,
                                          owner_id: this.user_id,
                                          comment_id: this.id,
                                          owner_type: 'User'),
                                          method: :delete, remote: true %>
                                    <% else %>
                                        <%= link_to image_tag("smilinggray.fw.png", size: "24x24"),
                                          like_this_comment_path(id: this.id,
                                          owner_id: this.user_id,
                                          comment_id: this.id,
                                          owner_type: 'User'),
                                          method: :post, remote: true %>
                                    <% end %>
                                    <a id="comment-<%=this.id%>">
                                      <%= ActsAsVotable::Vote.where(votable_id: this.id, votable_type: 'Comment').size %>
                                    </a>
                                  </div>
                                </div>
                              </li>
                            </ul>
                            <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
