<% if a.trackable %>
  <span>liked your post</span>
    <% case @provider %>
    <% when "gplus" %>
      <% if post.type != 'hiddenType' %>
        <%= render partial: "users/#{a.provider}_post", locals: {post: post} %>
      <% end %>
    <% when "tumblr" %>
      <% unless a.type == 'chat' || a.type == 'audio' %>
        <%= render partial: "users/#{a.provider}_post", locals: {post: post} %>
      <% end %>
    <% when "facebook" %>
      <% unless a.story.present? && ((a.story.include? 'profile picture') || (a.story.include? 'cover photo')) %>
        <%= render partial: "users/#{a.provider}_post", locals: {post: post} %>
      <% end %>
    <% when "twitter" %>
      <% unless a.retweeted == true %>
        <%= render partial: "users/#{a.provider}_post", locals: {post: post} %>
      <% end %>
    <% else %>
        <%= render partial: "users/#{a.provider}_post", locals: {post: post} %>
    <% end %>
  <% end %>
