<style>


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}
ul.social-network li a img{
  margin-top: 10px ;
}


/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #87ceeb;
}

.social-network a.icoRss:hover img, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
/*
a {
 background-color: #D3D3D3;   
}*/


</style>

<div>
  <ul class="social-network social-circle">
    <li>
     <%= link_to explore_user_path(session[:user_id]), {class: "icoRss", title: "All"} do %>
          <%= image_tag('educationalwhite.fw.png', size: "28x28") %>
        <% end %>
    </li>
    <li>
      <%= link_to explore_nfuse_only_user_path(session[:user_id]), {class: "icoRss", title: "Nfuse"} do%>
        <%= image_tag "Nfuselogowhite.fw.png", size: "28x28" %>
        <%end%>
    </li>
    <li>
      <%= link_to explore_twitter_only_user_path(session[:user_id]), {class: "icoRss", title: "Twitter"} do %>
      <%= image_tag "twitterwhite.fw.png", size: "28x28"%>      
      <%end%>
    </li>
    <li>
      <%= link_to explore_instagram_only_user_path(session[:user_id]), {class: "icoRss", title: "Instagram"} do%>
      <%= image_tag "instagramwhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
    <li>
      <%= link_to explore_facebook_only_user_path(session[:user_id]), {class: "icoRss", title: "Facebook"} do%>
      <%= image_tag "facebookwhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
    <li>
      <%= link_to "#", {class: "icoRss", title: "Youtube"} do %>
        <%= image_tag "youtubewhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
    <li>
      <%= link_to "#", {class: "icoRss", title: "Vimeo"} do %>
        <%= image_tag "vimeowhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
    <li>
      <%= link_to "#", {class: "icoRss", title: "Pinterest"} do %>
        <%= image_tag "pinterestwhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
    <li>
      <%= link_to "#", {class: "icoRss", title: "Flickr"} do %>
        <%= image_tag "flickrwhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
  </ul>
</div>