<ul>
  <li>
   <%= link_to explore_user_path(session[:user_id]) do %>
        <%= image_tag('FilterExplore2.png', size: "34x34") %>
      <% end %>
  </li>
  <li>
    <%= link_to explore_nfuse_only_user_path(session[:user_id]) do%>
      <%= image_tag "filter-nfuse2.png", size: "34x34" %>
      <%end%>
  </li>
  <li>
    <%= link_to explore_twitter_only_user_path(session[:user_id]) do %>
    <%= image_tag "Twitter-Icon.png", size: "34x34"%>      
    <%end%>
  </li>
  <li>
    <%= link_to explore_instagram_only_user_path(session[:user_id]) do%>
    <%= image_tag "Instagram-icon.png", size: "34x34" %>
    <%end%>
  </li>
  <li>
    <%= link_to explore_facebook_only_user_path(session[:user_id]) do%>
    <%= image_tag "Facebook-Icon.png", size: "34x34" %>
    <%end%>
  </li>
  <li>
    <%= link_to "#" do %>
      <%= image_tag "Youtube-Icon.png", size: "34x34" %>
    <%end%>
  </li>
  <li>
    <%= link_to "#" do %>
      <%= image_tag "Vimeo.png", size: "34x34" %>
    <%end%>
  </li>
  <li>
    <%= link_to "#" do %>
      <%= image_tag "Pinterest-Icon.png", size: "34x34" %>
    <%end%>
  </li>
  <li>
    <%= link_to "#" do %>
      <%= image_tag "Flickr-icon.png", size: "34x34" %>
    <%end%>
  </li>
  <li>
    <%= link_to "#" do %>
      <%= image_tag "Vine-Icon.png", size: "34x34" %>
    <%end%>
  </li>
</ul>