<style>
@media only screen and (max-width: 1125px) {
    #fadeshow6 {
        display: none;
    }
}
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin: 0 0 20px 20vw;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}
ul.social-network li a img{
  margin-top: 10px ;
}


/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #87ceeb;
}

.social-network a.icoRss:hover img, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
/*
a {
 background-color: #D3D3D3;   
}*/


</style>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <ul class="social-network social-circle Alignthisorelse" id="fadeshow6">
    <!-- explore -->
    <li id="explore_all">
      <%= link_to explore_user_path(current_user), {class: "icoRss expIcon", title: "Explore"} do %>
          <%= image_tag('educationalwhite.fw.png', size: "28x28") %>
      <%end%>
    </li>
    <!-- explore -->
    <!-- nfuse -->
    <li>
      <%= link_to explore_nfuse_only_user_path(current_user), {class: "icoRss expIcon", title: "Nfuse", id: "explore_nfuse"} do%>
        <%= image_tag "Nfuselogowhite.fw.png", size: "28x28" %>
        <%end%>
    </li>
    <!-- nfuse -->
    <!-- twitter -->
    <li>
      <%= link_to explore_twitter_only_user_path(current_user), {class: "icoRss expIcon", title: "Twitter", id: "explore_twitter"} do %>
      <%= image_tag "twitterwhite.fw.png", size: "28x28"%>      
      <%end%>
    </li>
    <!-- twitter -->
    <!-- instagram -->
    <li>
      <%= link_to explore_instagram_only_user_path(current_user), {class: "icoRss expIcon", title: "Instagram", id: "explore_instagram"} do%>
      <%= image_tag "instagramwhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
    <!-- instagram -->
      <!-- tumblr -->
    <li>
      <%= link_to explore_tumblr_only_user_path(current_user), {class: "icoRss expIcon", title: "Tumblr", id: "explore_tumblr"} do %>
        <%= image_tag "tumblrwhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
    <!-- tumblr -->
    <!-- youtube -->
    <li>
      <%= link_to explore_youtube_only_user_path(current_user), {class: "icoRss expIcon", title: "Youtube", id: "explore_youtube"} do %>
        <%= image_tag "youtubewhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
    <!-- youtube -->
    <!-- gplus -->
    <li>
      <%= link_to explore_gplus_only_user_path(current_user), {class: "icoRss expIcon", title: "Google Plus", id: "explore_gplus"} do %>
        <%= image_tag "googlepluswhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
    <!-- gplus -->
    <!-- vimeo -->
    <li>
      <%= link_to explore_vimeo_only_user_path(current_user), {class: "icoRss expIcon", title: "Vimeo", id: "explore_vimeo"} do %>
        <%= image_tag "vimeowhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
    <!-- vimeo  -->
    <!-- flickr -->
    <li>
      <%= link_to explore_flickr_only_user_path(current_user), {class: "icoRss expIcon", title: "Flickr", id: "explore_flickr"} do %>
        <%= image_tag "flickrwhite.fw.png", size: "28x28" %>
      <%end%>
    </li>
      <!-- flickr -->
    <!-- facebook -->
<!--     <li>
      <%#= link_to explore_facebook_only_user_path(current_user), {class: "icoRss expIcon", title: "Facebook", id: "explore_facebook"} do%>
      <%#= image_tag "facebookwhite.fw.png", size: "28x28" %>
      <%#end%>
    </li> -->
    <!-- facebook -->
  </ul>

<script>
$(document).ready(function(){
    $(".expIcon").removeClass("activeNavIcon");
    var urlPath = window.location.pathname;
    //alert(urlPath);
    if(urlPath == "/explore"){
      $('#explore_all').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore_nfuse_only')!== -1){
      $('#explore_nfuse').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore_twitter_only')!== -1){
      $('#explore_twitter').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore_instagram_only')!== -1){
      $('#explore_instagram').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore_facebook_only')!== -1){
      $('#explore_facebook').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore_youtube_only')!== -1){
      $('#explore_youtube').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore_gplus_only')!== -1){
      $('#explore_gplus').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore_vimeo_only')!== -1){
      $('#explore_vimeo').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore_flickr_only')!== -1){
      $('#explore_flickr').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore_tumblr_only')!== -1){
      $('#explore_tumblr').addClass("activeNavIcon");
    }
});
</script>