  <% case post.type %>
  <% when 'photo' %>
    <div class="timeline-user-box">
      <%= image_tag(post.image, class: 'facebook_image') %>
    </div>
      <div class="center">
        <% if post.message.present? %>
            <%= post.message%>
        <%end%>
      </div>
  <% when 'link' %>
    <% if post.image.present? %>
      <div class="timeline-user-box">
        <%= image_tag(post.image, class: 'facebook_image') %>
      </div>
    <%end%>
      <div class="center">
        <% if post.description.present? %>
            <%= post.description %>
        <%end%>
      </div>
      <div class="center">
        <% if post.message.present? %>
            <%= post.message%>
        <%end%>
      </div>
  <% when 'video' %>
    <div class="center">
      <% if post.caption == 'youtube.com' %>
        <iframe
        id="ytplayer"
        width="75%"
        autoplay=0
        src="<%= post.youtube_source %>"
        frameborder="0"
        allowfullscreen>
        </iframe>
      <div class="center">
        <% if post.message.present? %>
            <%= post.message%>
        <%end%>
      </div>
      <%else%>
        <video width="75%" controls>
          <source src="<%= post.source %>" type='video/mp4' />
          <source src="<%= post.source %>" type='video/ogv' />
        </video>
      <div class="center">
        <% if post.message.present? %>
            <%= post.message%>
        <%end%>
      </div>
      <%end%>
    </div>
  <% when 'status' %>
    <div class="center">
      <% if post.message.present? %>
          <%= post.message%>
      <%end%>
    </div>
  <% end %>