<!-- *Start* Views/users/_facebook_post.html -->
<div class="individual_post facebook_post item " data-id="<%= post.id %>" id="content-box-feed">
  <div class="post_main">
    <ul class="post_header">
      <li class="user_name"><%= link_to post.from.name, post.from.link_to_profile, :target => "_blank" %></li>
      <li class="right"><%= link_to image_tag("FB-f-Logo__blue_50.png", :class => "provider_logo"), post.link_to_post, target: "_blank" %></li>
    </ul>
  </div>
  <div class="post_content">
    <ul>
      <% if post.story %>
        <li><%= post.story %></li>
      <% end %>
      <% if post.image %>
        <li><%= image_tag(post.image) %></li>
      <% end %>
      <% if post.caption_text && post.status_type != "shared_story" %>
        <li><%= post.caption_text %></li>
      <% end %>
      <% if post.article_link && post.type == "link" %>
        <li><%= link_to "View the Link", post.article_link, :target => "_blank" %></li>
      <% end %>
    </ul>
    <% if post.story_tags %>
      <ul class="story_tags">
        <% post.story_tags.each do |story_tag| %>
          <% if story_tag.type == "user" %>
            <li><%= link_to story_tag.name, story_tag.link_to_profile, :target => "_blank" %></li>
          <% else %>
            <li><%= story_tag.name %></li>
          <% end %>
        <% end %>
        <% if post.story_tags.length > 1 %>
          <li>were tagged in this post.</li>
        <% else %>
          <li>was tagged in this post.</li>
        <% end %>
      </ul>
    <% end %>
  </div><br>
  <div class="<%= post.class %>-<%= post.id %> post_footer" >
    <ul class="post_footer_li">
      <li><%= link_to "Like", like_shout_path(post.id, key: :facebook), method: :put, remote: true %> | 
        <%= link_to "Dislike", dislike_shout_path(post.id, key: :facebook), method: :put, remote: true  %></li>
      <li class="right"><%= time_ago_in_words(post.created_time, :class => "time-ago") %> ago</li>
    </ul>
  </div>
</div>
<!-- *End* Views/users/_facebook_post.html -->