<% case post.type %>
  <% when 'photo' %>
    <div class="timeline-user-box">
      <%= image_tag(post.photo, :class => "image_post gplus_image") %>
    </div>
    <% if post.caption.present? %>
      <div class="center">
        <%= post.caption_text %>
      </div>
    <% end %>
  <% when 'video' %>
    <div class="timeline-user-box">
      <iframe
      id="ytplayer"
      type="text/html"
      width="100%"
      height="225"
      src="<%= post.video %>"
      frameborder="0"
      allowfullscreen>
      </iframe>
    </div>
    <% if post.caption.present? %>
      <div class="center">
        <%= post.caption_text %>
      </div>
    <% end %>
<% else %>
  <div class="center">
    <%= post.caption_text %>
  </div>
<% end %>

