<ul>
  <li>
   <%= link_to root_path(session[:user_id]) do %>
        <%= image_tag('FilterHub2.png', size: "30x30") %>
      <% end %>
  </li>
  <li>
    <%= link_to nfuse_only_user_path(session[:user_id]) do%>
      <%= image_tag "filter-nfuse2.png", size: "30x30" %>
      <%end%>
  </li>
  <li>
    <%= link_to twitter_only_user_path(session[:user_id]) do %>
    <%= image_tag "32-twitter.png", size: "30x30"%>      
    <%end%>
  </li>
  <li>
    <%= link_to instagram_only_user_path(session[:user_id]) do%>
    <%= image_tag "32-instagram.png", size: "30x30" %>
    <%end%>
  </li>
  <li>
    <%= link_to facebook_only_user_path(session[:user_id]) do%>
    <%= image_tag "32-facebook.png", size: "30x30" %>
    <%end%>
  </li>
  <li>
    <%= link_to "#" do %>
      <%= image_tag "32-youtube.png", size: "30x30" %>
    <%end%>
  </li>
  <li>
    <%= link_to "#" do %>
      <%= image_tag "32-vimeo.png", size: "30x30" %>
    <%end%>
  </li>
  <li>
    <%= link_to "Pintrest","#" %>
      <%#= image_tag ".png", size: "30x30" %>
    <%#end%>
  </li>
</ul>