<style>
@media only screen and (max-width: 1125px) {
    #fadeshow5 {
        display: none;
    }
}/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin: 0 0 20px 20vw;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}
ul.social-network li a img{
  margin-top: 10px ;
}


/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #87ceeb;
}

.social-network a.icoRss:hover img, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
/*
a {
 background-color: #D3D3D3;   
}*/


</style>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<ul class="social-network social-circle Alignthisorelse" id="fadeshow5">
  <!-- hub -->
  <li>
    <%= link_to root_path(current_user), {class: "icoRss hubIcon", title: "All", id: "all"} do %>
      <%= image_tag "hubwhite.fw.png", size: "28x28" %>
    <%end%>
  </li>
  <!-- hub -->
  <!-- nfuse -->
  <li>
    <%= link_to nfuse_only_user_path(current_user), {class: "icoRss hubIcon", title: "Nfuse", id: "nfuse"} do %>
      <%= image_tag "Nfuselogowhite.fw.png", size: "28x28" %>
      <%end%>
  </li>
  <!-- nfuse -->
  <!-- twitter -->
  <li>
    <%= link_to twitter_only_user_path(current_user), {class: "icoRss hubIcon", title: "Twitter", id: "twitter"} do %>
    <%= image_tag "twitterwhite.fw.png", size: "28x28"%>      
    <%end%>
  </li>
  <!-- twitter -->
  <!-- instagram -->
  <li>
    <%= link_to instagram_only_user_path(current_user), {class: "icoRss hubIcon", title: "Instagram", id: "instagram"} do%>
    <%= image_tag "instagramwhite.fw.png", size: "28x28" %>
    <%end%>
  </li>
  <!-- instagram -->
  <!-- tumblr -->
  <li>
    <%= link_to tumblr_only_user_path(current_user), {class: "icoRss hubIcon", title: "Tumblr", id: "tumblr"} do %>
      <%= image_tag "tumblrwhite.fw.png", size: "28x28" %>
    <%end%>
  </li>
  <!-- tumblr -->
  <!-- youtube -->
  <li>
    <%= link_to youtube_only_user_path(current_user), {class: "icoRss hubIcon", title: "Youtube", id: "youtube"} do %>
      <%= image_tag "youtubewhite.fw.png", size: "28x28" %>
    <%end%>
  </li>
  <!-- youtube -->
  <!-- gplus -->
  <li>
    <%= link_to gplus_only_user_path(current_user), {class: "icoRss hubIcon", title: "Google Plus", id: "gplus"} do %>
      <%= image_tag "gpluswhite.fw.png", size: "28x28" %>
    <%end%>
  </li>
  <!-- gplus -->
  <!-- vimeo -->
  <li>
    <%= link_to vimeo_only_user_path(current_user), {class: "icoRss hubIcon", title: "Vimeo", id: "vimeo"} do %>
      <%= image_tag "vimeowhite.fw.png", size: "28x28" %>
    <%end%>
  </li>
  <!-- vimeo -->
  <!-- flickr -->
  <li>
    <%= link_to flickr_only_user_path(current_user), {class: "icoRss hubIcon", title: "Flickr", id: "flickr"} do %>
      <%= image_tag "flickrwhite.fw.png", size: "28x28" %>
    <%end%>
  </li>
  <!-- flickr -->
  <!-- facebook -->
<!--   <li>
    <%#= link_to facebook_only_user_path(current_user), {class: "icoRss hubIcon", title: "Facebook", id: "facebook"} do%>
    <%#= image_tag "facebookwhite.fw.png", size: "28x28" %>
    <%#end%>
  </li> -->
  <!-- facebook -->
</ul>

<script>
$(document).ready(function(){
    $(".hubIcon").removeClass("activeNavIcon");
    var urlPath = window.location.pathname;
    //alert(urlPath);
    if(urlPath == "/"){
      $('#all').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/nfuse_only')!== -1){
      $('#nfuse').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/twitter_only')!== -1){
      $('#twitter').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/instagram_only')!== -1){
      $('#instagram').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/facebook_only')!== -1){
      $('#facebook').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/youtube_only')!== -1){
      $('#youtube').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/gplus_only')!== -1){
      $('#gplus').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/vimeo_only')!== -1){
      $('#vimeo').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/flickr_only')!== -1){
      $('#flickr').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/tumblr_only')!== -1){
      $('#tumblr').addClass("activeNavIcon");
    }
});
</script>