<!-- *Start* Views/users/_instagram_post.html -->
<div class="individual_post instagram_post mosaicflow__item" data-id="<%= post.id %>" id="content-box-feed">
  <div class="post_main">
    <ul class="post_header">
      <li><%= link_to image_tag(post.profile_picture, :class => "user_profile_picture"), feed_user_path(@user) %></li>
        <li class="user_name"><%= link_to "#{post.full_name}", post.user_url, :target => "_blank" %></li>
      <li class="right"><%= link_to image_tag("Instagram_Icon_Large.png", :class => "provider_logo"), post.link_to_post, :target => "_blank" %></li>
    </ul>
  </div>
    <div class="post_content">
      <% if post.type == "image" %>
        <ul>
          <li><%= image_tag(post.low_resolution_image_url) %></li>
          <% if post.caption.present? %>
            <li><%= post.caption_text %></li>
          <% end %>
        </ul><br>
      <% elsif post.type == "video" %>
        <ul>
          <li>
            <video width="200" height="200" controls>
              <source src="<%= post.video %>" type="video/mp4">
            </video>
          </li>
        </ul>
      <% end %>
    </div>
  <div class="<%= post.class %>-<%= post.id %> post_footer">
    <ul class="post_footer_li">
      <li><%= link_to "Like", like_shout_path(post.id, key: :instagram), method: :put, remote: true %> | 
        <%=link_to "Dislike", dislike_shout_path(post.id, key: :instagram), method: :put,  remote: true  %></li>
      <li class="right"><%= time_ago_in_words(post.created_time, :class => "time-ago") %> ago</li>
    </ul>
  </div>
</div>
<!-- *End* Views/users/_instagram_post.html -->