<% if post.type == "image" %>
    <div class="timeline-user-box">
      <%= image_tag(post.low_resolution_image_url, :class => "image_post") %>
    </div>
    <% if post.caption.present? %>
    <div class="center">
      <%= post.caption_text %>
    </div>
    <% end %>
<% elsif post.type == "video" %>
  <div class="center">
    <video width="100%" controls>
      <source src="<%= post.video %>" type='video/mp4' />
      <source src="<%= post.video %>" type='video/ogv' />
    </video>
  </div>
    <% if post.caption.present? %>
    <div class="center">
      <%= post.caption_text %>
    </div>
    <% end %>
<% end %>
