<div class="individual_post instagram_post" data-id="<%= post.id %>" id="content-box-feed">
  <div class="network_logo">
    <%= image_tag("Instagram_Icon_Large.png", :class => "provider_logo" ) %>
  </div>
  <div class="post_main">
    <div class="post_header">
      <ul>
        <li><%= link_to image_tag(post.profile_picture, :class => "user_profile_picture"), post.user_url, :target => "_blank" %></li>
        <li><%= link_to "@#{post.username}", post.user_url, :target => "_blank" %></li>
      </ul>
    </div>
    <div class="post_content">
      <% if post.type == "image" %>
        <ul>
          <li><%= image_tag(post.low_resolution_image_url) %></li>
          <% if post.caption.present? %>
            <li><%= post.caption_text %> <%= time_ago_in_words(post.created_time, :class => "time-ago") %> ago</li>
          <% end %>
        </ul>
      <% elsif post.type == "video" %>
        <ul>
          <li>
            <video width="360" height="360" controls>
              <source src="<%= post.video %>" type="video/mp4">
            </video>
          </li>
        </ul>
      <% end %>
      <div class="post_stats">
        <ul>
          <li>Comment: <%= post.comments_count %></li>
          <li data-instagram-like-count="<%= post.id %>"><%= link_to "Like:", "/instagram/like/#{post.id}" %> <span class="js-instagram-like-count"><%= post.likes_count %></span></li>
          <li>
            <%= link_to "View on Instagram", post.link_to_post, :target => "_blank" %>
          </li>
          <li>
            <div class="<%= post.class %>-<%= post.id %>">
              <%= link_to "Like", like_shout_path(post.id, key: :instagram), method: :put, remote: true %> | <%=link_to "Dislike", dislike_shout_path(post.id, key: :instagram), method: :put,
                                                              remote: true  %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>