<style>
.nfused_network a{
  color: #af9aee;
}
</style>
<form role="form">
  <div class="Alignthisorelse">
    <div class="features-container section-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
            <!-- twitter -->
            <div class="features-box-icon">
              <%= link_to image_tag("twitterblue.fw.png", size: "60x60"), "/auth/twitter?origin=#{request.original_url}" %>
            </div>
              <h3>Twitter</h3>
              <p>Share your Twitter posts.</p>
            <% if current_user && user_has_provider?('twitter') %>
              <p class="nfused_network">
              <%= link_to "You've Nfused Twitter", "/auth/twitter?origin=#{request.original_url}" %>
              <%= link_to "Remove Network", remove_token_path(provider: 'twitter') %>
              </p>
            <% else %>
              <%= link_to "Nfuse Twitter", "/auth/twitter?origin=#{request.original_url}" %>
            <% end %>
            <!-- twitter -->
          </div>
          <div class="col-sm-3 features-box wow fadeInDown">
            <!-- instagram -->
            <div class="features-box-icon">
              <%= link_to image_tag("instagramblue.fw.png", size: "60x60"), "/auth/instagram?origin=#{request.original_url}" %>
            </div>
              <h3>Instagram</h3>
              <p>Share your Instagram posts.</p>
            <% if current_user && user_has_provider?('instagram') %>
              <p class="nfused_network">
                <%= link_to "You've Nfused Instagram", "/auth/instagram?origin=#{request.original_url}" %>
              <%= link_to "Remove Network", remove_token_path(provider: 'instagram') %>
              </p>
            <% else %>
                <%= link_to "Nfuse Instagram", "/auth/instagram?origin=#{request.original_url}" %>
            <% end %>
            <!-- instagram -->
          </div>
          <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
            <!-- tumblr -->
            <div class="features-box-icon">
              <%= link_to image_tag("tumblrblue.fw.png", size: "60x60"), "/auth/tumblr?origin=#{request.original_url}" %>
            </div>
              <h3>Tumblr</h3>
              <p>Share your Tumblr posts.</p>
              <% if current_user && user_has_provider?('tumblr') %>
              <p class="nfused_network">
                <%= link_to "You've Nfused Tumblr", "/auth/tumblr?origin=#{request.original_url}" %>
              <%= link_to "Remove Network", remove_token_path(provider: 'tumblr') %>
              </p>
              <% else %>
                <%= link_to "Nfuse Tumblr", "/auth/tumblr?origin=#{request.original_url}" %>
              <% end %>
              <!-- tumblr -->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 features-box wow fadeInUp">
            <!-- youtube -->
            <div class="features-box-icon">
              <%= link_to image_tag("youtubeblue.fw.png", size: "60x60"), "/auth/google_oauth2?origin=#{request.original_url}" %>
            </div>
              <h3>Youtube</h3>
              <p>Share your Youtube posts.</p>
            <% if current_user && user_has_provider?('google_oauth2') %>
              <p class="nfused_network">
              <%= link_to "You've Nfused YouTube", "/auth/google_oauth2?origin=#{request.original_url}" %>
              <%= link_to "Remove Network", remove_token_path(provider: 'youtube') %>
              </p>
            <% else %>
              <%= link_to "Nfuse YouTube", "/auth/google_oauth2?origin=#{request.original_url}" %>
            <% end %>
            <!-- youtube -->
          </div>
          <div class="col-sm-3 features-box features-box-gray wow fadeInDown">
            <!-- gplus -->
            <div class="features-box-icon">
              <%= link_to image_tag("gplusblue.fw.png", size: "60x60"), "/auth/gplus?origin=#{request.original_url}" %>
            </div>
            <h3>Google Plus</h3>
            <p>Share your Google+ posts.</p>
            <% if current_user && user_has_provider?('gplus') %>
              <p class="nfused_network">
              <%= link_to "You've Nfused Google Plus", "/auth/gplus?origin=#{request.original_url}" %>
              <%= link_to "Remove Network", remove_token_path(provider: 'gplus') %>
              </p>
            <% else %>
              <%= link_to "Nfuse Google Plus", "/auth/gplus?origin=#{request.original_url}" %>
            <% end %>
            <!-- gplus -->
          </div>
          <div class="col-sm-3 features-box wow fadeInUp">
            <!-- vimeo -->
            <div class="features-box-icon">
              <%= link_to image_tag("vimeoblue.fw.png", size: "60x60"), "/auth/vimeo?origin=#{request.original_url}" %>
            </div>
              <h3>Vimeo</h3>
              <p>Share your Vimeo posts.</p>
            <% if current_user && user_has_provider?('vimeo') %>
              <p class="nfused_network">
                <%= link_to "You've Nfused Vimeo", "/auth/vimeo?origin=#{request.original_url}" %>
              <%= link_to "Remove Network", remove_token_path(provider: 'vimeo') %>
              </p>
            <% else %>
                <%= link_to "Nfuse Vimeo", "/auth/vimeo?origin=#{request.original_url}" %>
            <% end %>
            <!-- vimeo -->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
            <!-- flickr -->
            <div class="features-box-icon">
             <%= link_to image_tag("flickrblue.fw.png", size: "60x60"), "/auth/flickr?origin=#{request.original_url}" %>
            </div>
            <h3>Flickr</h3>
            <p>Share your Flickr posts.</p>
            <% if current_user && user_has_provider?('flickr') %>
              <p class="nfused_network">
              <%= link_to "You've Nfused Flickr", "/auth/flickr?origin=#{request.original_url}" %>
              <%= link_to "Remove Network", remove_token_path(provider: 'flickr') %>
              </p>
            <% else %>
              <%= link_to "Nfuse Flickr", "/auth/flickr?origin=#{request.original_url}" %>
            <% end %>
            <!-- flickr -->
          </div>
          <div class="col-sm-3 features-box wow fadeInDown">
            <% if controller_name == 'callback_links' %>
              <%= link_to "Skip", next_wizard_path, class: "btn btn-link-2" %>
            <% elsif controller_name == 'users' && action_name == 'edit' %>
              <h3><%= link_to "Done Nfusing?", root_path, class: "btn btn-link-2" %></h3>
            <% else %>
              <p>Whats up</p>
            <%end%>
          </div>
          <div class="col-sm-3 features-box features-box-gray wow fadeInUp">
            <!-- facebook -->
            <div class="features-box-icon">
              <%= link_to image_tag("facebookblue.fw.png", size: "60x60"), "/auth/facebook?origin=#{request.original_url}" %>
              <%#= image_tag("Newpostin1.fw.png", size: "60x60") %>
            </div>
              <h3>Facebook</h3>
              <p>Share your Facebook posts</p>
            <% if current_user && user_has_provider?('facebook') %>
              <p class="nfused_network">
              <%= link_to "You've Nfused Facebook", "/auth/facebook?origin=#{request.original_url}" %>
              <%= link_to "Remove Network", remove_token_path(provider: 'facebook') %>
              </p>
            <% else %>
              <%= link_to "Nfuse Facebook", "/auth/facebook?origin=#{request.original_url}" %>
            <% end %>
              <!-- facebook -->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>