<!-- BIG BANNER -->
<div id="user-banner">
  <% if current_user?(@user) %>
    <a data-toggle="modal" data-target="#editmodal">
    <i class="edit-pic fa fa-camera"></i>
  <% else %>
    <a>
    <i class="edit-pic"></i>
  <% end %>
    <div class="shadow"></div>
    <%= image_tag @user.banner.url(:larger)%>
    <!-- <img src="/assets/users/default-banner.jpg" alt="User Banner"/> -->
  </a>
</div>
<!-- <a id="user" data-toggle="modal" data-target="#editmodal" class="mobile">
  <img src="/assets/users/default.jpg" alt="User Image"/>
</a> -->
<% if current_user?(@user) %>
  <a id= "user" data-toggle="modal" data-target="#editmodal" class="mobile">
<% else %>
  <a id= "user" class="mobile">
<% end %>
  <% if @user.avatar_file_name.present? && @user.avatar_file_name.include?('graph.facebook.com') %>
    <%= image_tag @user.avatar_file_name, title: "Edit Image" %>
  <% else %>
    <%= image_tag @user.avatar.url(:larger) %> 
  <% end %>
</a>

<ul id="user-info" class="user-left">
  <li id="user-name"><%= @user.full_name %></li>
  <li id="user-link"><a href="">@<%= @user.user_name%></a></li>
</ul>
<ul id="user-stats" class="user-right">
  <li id="user-following"><a href="#" data-toggle="modal" data-target="#followingmodal">Following: <%= @user.followed_users.count %></a></li>
  <li id="user-followers"><a href="#" data-toggle="modal" data-target="#followersmodal">Followers: <%= @user.followers.count %></a></li>
  <li id="user-likes"><a href="">Likes: <%= ActsAsVotable::Vote.where(voter_id: @user.id).count %></a></li>
</ul>
<!-- USER NAVBAR -->
<nav id="user-nav" class="center navbar">
  <ul>
    <li><%= link_to "Feed", feed_user_path(@user) %></li>
    <li><%= link_to "Vue", vue_user_path(@user) %></li>
    <li id="user-spacer">
      <!-- PROFILE PIC -->
      <% if current_user?(@user) %>
        <a id="user" data-toggle="modal" data-target="#editmodal" class="desk">
        <i class="edit-pic fa fa-camera"></i>
      <% else %>
        <a id="user" class='desk'>
        <i class="edit-pic"></i>
      <% end %>
      <% if @user.avatar_file_name.present? && @user.avatar_file_name.include?('graph.facebook.com') %>
        <%= image_tag @user.avatar_file_name, title: "Edit Image" %>
      <% else %>
        <%= image_tag @user.avatar.url(:larger) %>
      <% end %>
      </a>
    </li>
    <% if current_user?(@user) %>
      <li><%= link_to 'Likes', user_likes_user_path(@user) %></li>
      <li><a href="#" data-toggle="modal" data-target="#sharemodal">+ Post</a></li>
      <!-- <li><a href="#" data-toggle="modal" data-target="#editmodal">Edit</a></li> -->
    <% else %>
      <li>
        <%= link_to 'Likes', user_likes_user_path(@user) %>
      </li>
      <li>
        <a>
        <%= render 'follow_form' if signed_in? %>
        </a>
      </li>
    <% end  %>
  </ul>
</nav>