<style>
@media only screen and (max-width: 900px) {
    #fadeshow1 {
        display: none;
    }
}
@media only screen and (max-width: 1050px) {
    #fadeshow2 {
        display: none;
    }
}
@media only screen and (max-width: 1050px) {
    #fadeshow3 {
        display: none;
    }
}
</style>
<div><%= image_tag @user.banner.url(:larger), class: "banner" %>
</div>
<div class="main-avatar">
  <% if current_user?(@user) %>
    <a data-toggle="modal" data-target="#profile_pic_upload_modal">
      <%= image_tag @user.avatar(:larger), class: "avatar-picture-main", id: "profile-picture-current-user", title: "Edit Image" %> 
    </a>
  <%else%>
    <%= image_tag @user.avatar(:larger), class: "avatar-picture-main", id: "profile-picture"%> 
  <%end%>
</div>
<div class="profile_bar">
  <div class="inLineLeft" id="fadeshow1">
    <h2 class="user-full-name"><%= @user.full_name%><br> 
      <span class="atUserName">@<%= link_to @user.user_name, feed_user_path(@user)%></span>
    </h2>
  </div>
  <div class="inLineRight">
    <ul>
      <li>
        <%= render 'follow_form' if signed_in? %>
      </li>
      <li>
        <% unless !current_user?(@user) %>
        <li id="fadeshow2">
          <a data-toggle="modal" data-target="#new_post_modal">
            <%= image_tag('add50gray.fw.png', size: "26x26", class: "tilt edit_profile_link", title: "New Post") %>
          </a>
        </li>
        <li id="fadeshow3">
          <%= link_to edit_user_path(current_user) do %>
            <%= image_tag('settingsgray.fw.png', size: "26x26", class: "tilt edit_profile_link") %>
          <% end %>
        </li>
        <% end %>
      </li>
    </ul>
  </div>
    <%= render 'shared/stats' %>
</div>

<div id="profile_pic_upload_modal" class="modal fade">
  <div class="modal-fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Upload a new profile pic or banner</h3>
        </div>
        <div class="modal-body">
          <div class="row-fluid">
            <div class="span12">
              <div class="span6">
                <div class="logowrapper">
                  <div class="Alignthisorelse">
                    <%= render partial: 'users/upload_pics_form' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="new_post_modal" class="modal fade">
  <div class="modal-fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Share a picture or url</h3>
        </div>
        <div class="modal-body-new-post">
          <div class="row-fluid">
            <div class="span12">
              <div class="span6">
                <div class="logowrapper">
                  <div class="Alignthisorelse">
                    <div class="container post-padding">
                      <div class="col-sm-6 form-box wow fadeInUp">
                        <div class="form-top-new-post"><!-- 
                          <div class="form-top-left">
                            <h2><strong>Create A Post<strong></h2>
                              <p>Share a picture or url</p>
                          </div>
                          <div class="form-top-right">
                            <a href="#"><%#= image_tag("postlightgray.fw.png", size: "50x50") %></a>
                          </div>
                        </div> -->
                        <div class="form-bottom">

                        <%= form_for Shout.new, :html => { :multipart => true, id: "upload_form", role:"form" } do |f| %>

                          <div class="Alignthisorelse">
                            <div class="container">

                                <div class="row">
                                  <div class="col-sm-2 how-it-works-box wow fadeInUp">
                                      <div class="how-it-works-box-icon">
                                        <a href="#"><%= image_tag("circlephoto.fw.png", size: "175x175") %></a>
                                      </div>
                                      <div class="fileUpload btn-link-1">
                                        <span>Upload Pic</span>
                                         <%= f.file_field :pic, id: 'newPostPictureInput', placeholder: "Pic", type: "file", class: "upload"  %>
                                      </div>
                                  </div>

                                  <div class="col-sm-2 col-sm-offset-1 how-it-works-box wow fadeInDown">
                                    <div class="how-it-works-box-icon">
                                      <a href="#"><%= image_tag("circlein2darkgray.fw.png", size: "175x175") %></a>
                                    </div>
                                    <div class="form-grouP">
                                      <%= f.text_area :url, id: 'profile_post_url_body', class: "form-control", placeholder: "URL of everything", onChange: 'previewUrl()', type:"search" %>
                                    </div>
                                  </div>
                                 </div>
                  <!--                 <div class="row">
                                   <div class="col-sm-3 how-it-works-box wow fadeInUp">
                                     <div class="how-it-works-box-icon">
                                       <a href="#"><%#= image_tag("circlevideo.fw.png", size: "160x160") %></a>
                                     </div>
                                     <div class="fileUpload btn-link-1">
                                       <span>Upload Video</span>
                                       <%#= f.file_field :video, id: 'pictureInput2', placeholder: "Snip", type: "file", class: "upload" %>
                                     </div>
                                   </div>

                                   <div class="col-sm-3 col-sm-offset-1 how-it-works-box wow fadeInDown">
                                     <div class="how-it-works-box-icon">
                                       <%#= image_tag("circlesnipdarkgray.fw.png", size: "160x160") %>
                                     </div>
                                     <div class="fileUpload btn-link-1">
                                       <span>Upload Snip</span>
                                         <%#= f.file_field :snip, id: 'pictureInput2', placeholder: "Snip", type: "file", class: "upload" %>
                                     </div>
                                   </div>
                                </div> -->

                                <div class="row">
                                  <div class="col-sm-5 section-bottom-button wow fadeInUp">
                                    <div id="target"></div>
                                    <div id="profilePostTarget"></div>
                                    <div id="profileUrlPostPreview"></div>
                                    <%= f.text_area :content, class: "form-control", placeholder: "Write a description for your post...", type:"search" %>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-sm-3 col-sm-offset-1 section-bottom-button wow fadeInUp">
                                    <button type="submit" class="btn">
                                     Post!
                                    </button>
                                  </div>
                                </div>

                            </div>
                          </div>

                        <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $(function() {
    $('#pictureInput').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        $('#target').html(img);
      }
      reader.readAsDataURL(image);
      console.log(files);
    });
  });
</script>
<script>
  $(function() {
    $('#pictureInput2').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        $('#target2').html(img);
      }
      reader.readAsDataURL(image);
      console.log(files);
    });
  });
</script>
<script>
  $(function() {
    $('#newPostPictureInput').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        $('#profilePostTarget').html(img);
      }
      reader.readAsDataURL(image);
      console.log(files);
    });
  });
</script>

<script>
function load(request) {
  $('#code').text(request);
  $('#profileUrlPostPreview').html(request);
}

function preview(value) {
  console.log("preview; value = " + value);

  /*
  $.getJSON("/preview?callback=?", value, function(data){
    load(data);
    console.log("preview callback\n" + data);
  });
  */

  $.ajax({
    dataType: "html",
    url: "/preview?url=" + value['url']
  })
  .done( function(data){
    load(data);
    console.log("preview callback\n" + data);
  });
}

function previewUrl() {
  preview({'url':$('#profile_post_url_body').val()});
}

$('#examples a').click(function() {
  $('#profile_post_url_body').focus(); 
  $('#profile_post_url_body').val( $(this).attr('href'));
  previewUrl();
});

$(function () { 
  $("#profile_post_url_body").focus();
  previewUrl();
});

//$('#upload_form').delayedObserver(1, function(element, value) { previewUrl() });
//$('#profile_post_url_body').keydown(function() { alert("hi"); previewUrl() });
//$('#profile_post_url_body').bind('input propertychange', function() { alert("hi"); previewUrl() });  


</script>