<div><%= image_tag @user.banner.url(:larger), class: "banner" %>
</div>

<div class="main-avatar"><%= image_tag @user.avatar(:larger), class: "avatar-picture-main", id: "profile-picture"%> 
</div>

<div class="profile_bar">
  <div class="inLineLeft">
    <h1><%= @user.full_name%><br> 
      <span class="atUserName">@<%= link_to @user.user_name, feed_user_path(@user)%></span>
    </h1>
  </div>
  <div class="inLineRight">
    <ul>
      <li>
        <%= render 'follow_form' if signed_in? %>
      </li>
      <li>
        <% unless !current_user?(@user) %>
        <li>
          <%= link_to new_shout_path do %>
            <%= image_tag('add50gray.fw.png', size: "26x26", class: "tilt edit_profile_link") %>
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(session[:user_id]) do %>
            <%= image_tag('settingsgray.fw.png', size: "26x26", class: "tilt edit_profile_link") %>
          <% end %>
        </li>
        <% end %>
      </li>
    </ul>
  </div>
  <%= render 'shared/stats' %>
</div>