<!-- *Start* Views/users/_shout.html -->
<div class="visible-md visible-lg individual_post item nFuse_post " data-id="<%= shout.id %>" data-provider="<%= shout.provider %>">
  <!--<p id="notice"><%#= notice %></p>-->
  <div class="post_main">
    <ul class="post_header">
      <li><%= link_to image_tag(shout.user.avatar(:thumb), :class => "user_profile_picture"), feed_user_path(shout.user) %></li>
      <li class="user_name"><%= link_to shout.user.full_name, feed_user_path(shout.user) %></li>
      <li class="right"><%= image_tag "Beaker_new.png", size: "50x50" %></li>
    </ul>
  </div><br>

  <% if !shout.url.blank? %>
        <!-- ####### No idea why but I have to remove the player wrapper id In css. If I remove the HTML the video doesn't show up. ######### -->
       <p> <%= shout.url_html %></p>
        <div class="caption">
          <p><%= shout.content %></p>
          <!-- <p>Duration: <b><%#= shout.duration %></b></p> -->
        </div>
  <% else shout.is_pic? %>
    <p class="timeline-user-box">
      <%= image_tag shout.pic_url %>
    </p>
    <p>
      <%= shout.content %>
    </p>
  <% end %>
  <div class="<%= shout.class %>-<%= shout.id %> post_footer">
    <ul class="post_footer_li">
      <li><%= link_to image_tag("smiling42.png", size: "20x20"), like_shout_path(shout.id), method: :post, remote: true %><%= shout.like_score %></li>
      <li><%= image_tag("double7.png", size: "20x20") %>440</li>
      <li><%= image_tag("favourite2.png", size: "20x20") %>250</li>
      <li class="right"><%= time_ago_in_words(shout.created_time) %> ago</li>
      <li><%= link_to 'Destroy', shout_path(shout.id), :method => :delete, :confirm => "Are you sure?" %></li>
    </ul>
    <%#= pluralize shout.comments_count, "comment" %>
  </div>
  <!--<div class="post_comments">
    <ul>
      <%# shout.comments.each do |comment| %>
        <li><%#= image_tag comment.user.avatar(:thumb) %>
          <%#= comment.user.full_name %>
          <%#= comment.body %></li>
      <%# end %>
    </ul>
    <%#= form_for([shout, Comment.new]) do |f| %>

      <div class="field">
        <%#= f.text_area :body, rows: 8 %>
      </div>
      <div class="actions">
        <%#= f.submit %>
      </div>
    <%# end %>  
  </div>-->
</div>
