<!-- *Start* Views/users/_shout.html -->
<div class="visible-md visible-lg individual_post item nFuse_post " data-id="<%= shout.id %>" data-provider="<%= shout.provider %>">
  <!--<p id="notice"><%#= notice %></p>-->
  <div class="post_main">
    <ul class="post_header">
      <li><%= link_to image_tag(shout.user.avatar(:thumb), :class => "user_profile_picture"), feed_user_path(shout.user) %></li>
      <li class="user_name"><%= link_to shout.user.user_name, feed_user_path(shout.user) %></li>
    </ul>
  </div><br>

  <% if !shout.url.blank? %>
       <p> <%= shout.url_html %></p>
        <div class="caption">
        <% if shout.has_content? %>
          <li><%= shout.content %></li>
        <% end %>
          <!-- <p>Duration: <b><%#= shout.duration %></b></p> -->
        </div>
  <% else shout.is_pic? %>
    <div class="timeline-user-box">
      <%= image_tag shout.pic_url %>
    </div>
    <div class="caption">
      <% if shout.has_content? %>
        <li><%= shout.content %></li>
      <% end %>
    </div>
  <% end %>
     <div class="right"> <%= image_tag "Beaker_new.png", size: "20x20" %> <p class="timeStamp"><%= time_ago_in_words(shout.created_time) %> ago </p> </div>
  <br>
  <div class="<%= shout.class %>-<%= shout.id %> post_footer">
  </div>
    <ul class="post_actions">
      <li class="tilt"><%= link_to image_tag("smiling42.png", size: "20x20"),
       like_shout_path(id: shout.id, owner_id: @user.id), method: :post, remote: true %><%= shout.like_score(shout.id) %>
      </li>
      <li class="vr"></li>
      <li class="tilt"><%= image_tag("double7.png", size: "20x20") %></li>
      <li class="vr"></li>
      <li class="tilt"><%= link_to image_tag("testbeaker.fw.png", size: "20x20"), nfuse_post_path(shout.id), method: :post, remote: true %>
          <div id="info" style="display:none;">
            <%#= render partial: "shouts/nfuse_post", locals: {shout: shout} %>
          </div></li>
      <li class="vr"></li>
      <li class="tilt">
        <% unless !current_user?(shout.user) %>
          <%= link_to image_tag("show8.png", size: "20x20"), shout_path(shout.id), :method => :delete, :confirm => "Are you sure?" %>
        <% end %>
      </li>
    </ul>
    <%#= pluralize shout.comments_count, "comment" %>
    <div class="post_comments">
      <ul>
        <%# shout.comments.each do |comment| %>
          <li><%#= image_tag comment.user.avatar(:thumb) %>
            <%#= comment.user.user_name %>
            <%#= comment.body %></li>
        <%# end %>
      </ul>
      <%#= form_for([shout.commentable, shout.comment]) do |f| %>

        <div class="field">
          <%#= f.text_area :body, rows: 8 %>
        </div>
        <div class="actions">
          <%#= f.submit %>
        </div>
      <%# end %>  
    </div>
  </div>

