<!-- *Start* Views/users/_shout.html -->
<div class="visible-md visible-lg individual_post item nFuse_post " data-id="<%= shout.id %>" data-provider="<%= shout.provider %>">
  <!--<p id="notice"><%#= notice %></p>-->
  <div class="post_main">
    <ul class="post_header">
      <li><%= link_to image_tag(shout.user.avatar(:thumb), :class => "user_profile_picture"), feed_user_path(shout.user) %></li>
      <li class="user_name"><%= link_to shout.user.user_name, feed_user_path(shout.user) %></li>
    </ul>
  </div><br>

  <% if !shout.url.blank? %>
    <p> <%= shout.url_html %></p>
    <div class="caption">
      <li><%= shout.content %></li>
      <!-- <p>Duration: <b><%#= shout.duration %></b></p> -->
    </div>
  <% elsif shout.is_pic? %>
    <div class="timeline-user-box">
      <%= image_tag shout.pic_url %>
    </div>
    <div class="caption">
        <li><%= shout.content %></li>
    </div>
  <% elsif shout.is_video? %>
    <div class="timeline-user-box">
      <video align="center" preload controls style="margin-left: 20%; margin-right: 20%; width:60%; height:226px;">
      <source src="<%= shout.video_url %>" type="video/ogg">
      </video>
      <%#= videojs_rails sources: { mp4: "http://domain.com/path/to/video.mp4", webm: "http://another.com/path/to/video.webm"}, setup: "{}", controls: false, width:"350" %>
    </div>
    <div class="caption">
        <li><%= shout.content %></li>
    </div>
  <% end %>
     <div class="right"> <%= image_tag "filter-nfuse2.png", class: "provider_logo", size: "18x18" %> <p class="timeStamp"><%= time_ago_in_words(shout.created_time) %> ago </p> </div>
  <br>
  <div class="<%= shout.class %>-<%= shout.id %> post_footer">
  </div>
    <ul class="post_actions">
      <li class="tilt">
        <%= link_to image_tag("smilinggray.fw.png", size: "24x24"),
                        like_shout_path(id: shout.id,
                        owner_id: shout.user.id), 
                         method: :post, remote: true %>
                        <%= shout.like_score(shout.id) %>
      </li>
      <li class="vr"></li>
      <li class="tilt"><%= image_tag("commentgray.fw.png", size: "24x24") %></li>
      <li class="vr"></li>

      <li class="tilt"><%= link_to image_tag("testbeakergray.fw.png", size: "24x24"),
                        user_nfused_page_path(id: shout.id,
                                        owner_id: shout.user.id,
                                        url: shout_url_html(shout),
                                        user_id:  current_user.id), 
                                        method: :post, remote: true %>
      </li>

      <li class="vr"></li>
      <li class="tilt">
        <% unless !current_user?(shout.user) %>
          <%= link_to image_tag("delete3gray.fw.png", size: "24x24"), shout_path(shout.id), :method => :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
          <li class="tilt"><%= image_tag("share1gray.fw.png", size: "24x24") %></li>
        <% end %>
      </li>
    </ul>

    <div class="post_comments" id="comment_list_<%= shout.id %>">
      <ul>
        <% shout.comments.each do |comment| %>
          <%= render partial: 'shared/comment', locals: {comment: Commented.new(comment) } %>
        <% end %>
      </ul>

      <%= render partial: 'shared/comment_form', locals: { shout: Commented.new(shout) } %>

    </div>
  </div>

