<% if !shout.url.blank? %>
  <div class="timeline-user-box center" style="iframe{width:100%;}">
    <%= shout.url_html %>
  </div>
  <div class="center">
    <%= shout.content %>
  </div>
<% elsif shout.is_pic? %>
  <div class="timeline-user-box">
    <%= image_tag shout.pic_url %>
  </div>
  <div class="center">
    <%= shout.content %>
  </div>
<% elsif shout.is_video? %>
  <div class="timeline-user-box">
    <video 
      style="background:transparent url(<%= shout.pic_url %>) no-repeat 50% 50%;"
      preload="none"
      id="ytplayer" 
      type="video/mp4" 
      width="100%" 
      height="225" 
      src="<%= shout.video_url %>" 
      frameborder="0"
      allowfullscreen
      controls>
    </video>
  </div>
  <div class="center">
    <%= shout.content %>
  </div>
<% elsif shout.is_full_video? %>
  <div class="timeline-user-box">
    <video 
      style="background:transparent url(<%= shout.pic_url %>) no-repeat 50% 50%;"
      preload="none"
      id="ytplayer" 
      type="video/flv" 
      width="100%" 
      height="225" 
      src="<%= shout.full_video_url %>" 
      frameborder="0"
      allowfullscreen
      controls>
    </video>
  </div>
  <div class="center">
    <%= shout.content %>
  </div>
<% else %>
  <div class="center text_only_post">
    <%= shout.content %>
  </div>
<% end %>