<% if post.type == 'photo'%>
  <div class="timeline-user-box">
    <%= image_tag(post.image, :class => "tumblr_image") %>
  </div>
  <% if post.text.present? %>
    <div class="center">
      <%= strip_tags(post.text) %>
    </div>
  <% end %>
<% elsif post.type == 'video' %>
  <% if post.video_type == 'tumblr' %>
    <div class="timeline-user-box">
      <video controls autoload="none" style="background:transparent url(<%= post.video_thumbnail %>) no-repeat 50% 50%;" >
        <source src="<%= post.video %>" type='video/mp4' />
        <source src="<%= post.video %>" type='video/ogv' />
      </video>
    </div>
  <% else %>
    <div class="timeline-user-box">
      <iframe
      id="ytplayer"
      type="text/html"
      width="100%"
      height="225"
      src="<%= post.video %>"
      frameborder="0"
      allowfullscreen>
      </iframe>
    </div>
  <% end %>
    <% if post.text.present? %>
        <div class="center">
          <%= strip_tags(post.text) %>
        </div>
    <% end %>
<% elsif post.type == 'audio' %>
    <div class="timeline-user-box">
      <Iframe
      <%= post.audio %>>
      </Iframe>
    </div>
    <% if post.text.present? %>
        <div class="center">
          <%= strip_tags(post.text) %>
        </div>
    <% end %>
<% elsif post.type == 'text'  %>
    <div class="center">
      <%= post.body %>
    </div>
<% elsif post.type == 'quote'  %>
    <div class="center">
      <%= strip_tags(post.text) %>
    </div>
<% elsif post.type == 'link'  %>
    <div class="center">
      <a href="#{ post.link_to_url}">
        <%= post.excerpt %>
      </a>
      <%= strip_tags(post.text) %>
    </div>
<% else %>
  <div class="center">
    <%= strip_tags(post.text) %>
  </div>
<% end %>
