<!-- *Start* Views/users/_twitter_post.html -->
<div class="individual_post item twitter_post" data-id="<%= post.tweet_id %>" width="275" height="auto">
  <div class="post_main">
    <ul class="post_header">
      <li><%= link_to image_tag(post.profile_picture, :class => "user_profile_picture"), post.user_url, :target => "_blank" %></li>
      <li class="user_name"><%= link_to post.user_name, post.user_url, :target => "_blank" %></li>
      <li class="right"><%= link_to image_tag("Twitter_logo_blue.png", :class => "provider_logo"), post.link_to_tweet, :target => "_blank" %></li>
    </ul>
  </div>
  <div class="post_content">
    <% if post.tweet_image.present? %>
      <%= image_tag(post.tweet_image, :class => "image_post") %>
    <% end %>
      <%= post.tweet_text %> 
  </div><br>
  <div class="<%= post.class %>-<%= post.tweet_id %> post_footer">
    <ul class="post_footer_li">
      <li><%= link_to "Like", like_shout_path(post.tweet_id, key: :twitter), method: :put, remote: true %><%#= post.like_score %></li>
      <li class="right"><%= time_ago_in_words(post.created_time) %> ago</li>
    </ul>
  </div>
</div>
<!-- *End* Views/users/_twitter_post.html -->