<!-- *Start* Views/users/_twitter_post.html -->
<style>
  .tweeter_image{
    width: 300px;
  }
</style>
<div class="individual_post item twitter_post" data-id="<%= post.tweet_id %>" width="275" height="auto">
  <div class="post_main">
    <ul class="post_header">
      <li>
        <%= link_to image_tag(post.avatar, :class=> 'user_profile_picture', size:"50x50"), feed_user_path(post.user) %>
      </li>
      <li class="user_name"><%= link_to "#{post.username}", feed_user_path(post.user) %></li>
    </ul>
  </div>

  <div class="post_content">
    <% if post.has_media? %>
      <% if post.type == 'video' %>
        <video src="<%= post.tweet_video %>" width="100%" height="258" controls></video>
      <% elsif post.type == 'photo' %>
        <div class="timeline-user-box">
          <%= image_tag(post.tweet_image, :class => "image_post tweeter_image") %>
        </div>
      <% end %>
    <% end %>
      <%= post.tweet_text %> 
  </div><br>

  <div class="right">
  </div>

  <ul class="post_actions">
    <li class="tilt"><%= link_to image_tag("smilinggray.fw.png", size: "24x24"), 
      like_shout_path(id: post.tweet_id,
                owner_id: post.user.id,
                key: :twitter),
                method: :post, remote: true %>
      <a id="shout-<%=post.tweet_id%>">
        <%= post.like_score(post.tweet_id) %>
      </a>
    </li>
    <li class="vr"></li>
    <li class="tilt">
      <a data-toggle="modal" data-target="#tweet_modal_<%= post.tweet_id %>">
        <%= image_tag("commentgray.fw.png", size: "24x24") %>
      </a>
      <a>
       <%= Comment.where(commentable_type: post.class.to_s, commentable_id: post.tweet_id).count %>
      </a>
    </li>
    <li class="vr"></li>
    <li class="tilt">
      <%= link_to image_tag("twitterblue.fw.png", 
                            :class => "provider_logo", 
                            size: "24x24"), 
                            post.link_to_tweet, 
                            :target => "_blank" %>
      <p class="timeStamp">
        <%= time_ago_in_words(post.created_time) %> ago
      </p>
      <%#= link_to image_tag("favouritedarkgray.fw.png", size: "24x24"),
        user_nfused_page_path(id: post.tweet_id,
                        owner_id: post.user.id,
                        user_id:  current_user.id,
                        key: :twitter, url: ( post.tweet_image || '') ),
                        method: :post, remote: true %>
    </li>

<!--     <li class="vr"></li>
      <%# unless !current_user?(post.user) %>
        <li class="tilt"><%#= image_tag("delete3gray.fw.png", size: "24x24") %></li>
      <%# else %>
        <li class="tilt"><%#= image_tag("share1gray.fw.png", size: "24x24") %></li>
      <%# end %> -->
  </ul>

  </div>

  <div id="tweet_modal_<%= post.tweet_id %>" class="modal fade">
    <div class="modal-fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Comment on <%= post.user.user_name %>'s post</h3>
          </div>    
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span6">
                          <div class="logowrapper">
                            <div class="post_content">
                              <% if post.has_media? %>
                                <% if post.type == 'video' %>
                                  <video src="<%= post.tweet_video %>" width="100%" height="258" controls></video>
                                <% elsif post.type == 'photo' %>
                                  <div class="modal-timeline-user-box center">
                                    <%= image_tag(post.tweet_image, :class => "image_post tweeter_image") %>
                                  </div>
                                <% end %>
                              <% end %>
                              <div class="center">
                                <%= post.tweet_text %> 
                              </div>
                            </div>
                           <br>
                          </div>
                        </div>
                        <div class="container">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="panel">
                                <div class="panel-body" id="comment_list_<%= post.tweet_id %>">
                                  <ul class="chat">
                                    <% Comment.where(commentable_type: post.class.to_s, commentable_id: post.tweet_id).each do |comment| %>
                                      <%= render partial: 'shared/comment', locals: {comment: comment } %>
                                    <% end %>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <%= render partial: 'shared/comment_form', locals: { shout: Commented.new(post) } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
