<% if post.has_media? %>
  <% if post.type == 'video' || post.type == "animated_gif" %>
	  <div class="center">
      <video width="100%" controls preload="none" poster=<%= post.image%> >
        <source src="<%= post.video %>" type='video/mp4' />
        <source src="<%= post.video %>" type='video/ogv' />
      </video>
	  </div>
  <% elsif post.type == 'photo' %>
    <div class="timeline-user-box">
      <%= image_tag(post.image, :class => "twitter_image") %>
    </div>
  <% end %>
<% elsif post.has_video_url? %>
    <iframe
    id="ytplayer"
    type="text/html"
    width="100%"
    height="225"
    src="https://www.youtube.com/embed/<%= post.twitter_url_video %>"
    frameborder="0"
    allowfullscreen>
    </iframe>
<% end %>
  <%= post.text %><br>
