<% if post.has_media? %>
  <% if post.type == 'video' %>
	  <div class="center">
      <video width="75%" controls>
        <source src="<%= post.tweet_video %>" type='video/mp4' />
        <source src="<%= post.tweet_video %>" type='video/ogv' />
      </video>
	  </div>
  <% elsif post.type == 'photo' %>
    <div class="modal-timeline-user-box center">
      <%= image_tag(post.tweet_image, :class => "twitter_image") %>
    </div>
  <% end %>
<% elsif post.has_video_url? %>
  <iframe
  id="ytplayer"
  type="text/html"
  width="100%"
  height="225"
  src="http://www.youtube.com/embed/<%= post.twitter_url_video %>"
  frameborder="0"
  allowfullscreen>
  </iframe>
<% end %>
<div class="center">
  <%= post.tweet_text %>
</div>