<!-- *Start* Views/users/_twitter_post.html -->
<div class="individual_post mosaicflow__item twitter_post" data-id="<%= post.tweet_id %>" id="content-box-feed">
  <div class="post_main">
    <ul class="post_header">
      <li><%= link_to image_tag(post.profile_picture, :class => "user_profile_picture"), post.user_url, :target => "_blank" %></li>
        <li class="user_name"><%= link_to post.user_name, post.user_url, :target => "_blank" %></li>
        <li class="right"><%= link_to image_tag("Twitter_logo_blue.png", :class => "provider_logo"), post.link_to_tweet, :target => "_blank" %></li>
    </ul>
  </div>
  <div class="post_content">
    <% if post.tweet_image.present? %>
      <%= image_tag(post.tweet_image) %>
    <% end %>
      <%= post.tweet_text %> 
  </div>
  <div class="<%= post.class %>-<%= post.tweet_id %> post_footer">
    <div class="left"> <%= link_to "Like", like_shout_path(post.tweet_id, key: :twitter), method: :put, remote: true %> | <%=link_to "Dislike", dislike_shout_path(post.tweet_id, key: :twitter), method: :put, remote: true  %>      
    </div>
    <div class="right">        
      <%= time_ago_in_words(post.created_time) %> ago
    </div>
  </div>
</div>
<!-- *End* Views/users/_twitter_post.html -->