<!-- *Start* Views/users/_twitter_post.html -->
<style>
  .tweeter_image{
    width: 300px;
    height: 300px;
  }
</style>
<div class="individual_post item twitter_post" data-id="<%= post.tweet_id %>" width="275" height="auto">
  <div class="post_main">
    <ul class="post_header">
      <li>
        <%= link_to image_tag(post.avatar, :class=> 'user_profile_picture', size:"50x50"), feed_user_path(post.user) %>
      </li>
      <li class="user_name"><%= link_to "#{post.username}", feed_user_path(post.user) %></li>
    </ul>
  </div>

  <div class="post_content">
    <% if post.tweet_image.present? %>
    <div class="timeline-user-box">
      <%= image_tag(post.tweet_image, :class => "image_post tweeter_image") %>
    </div>
    <% end %>
      <%= post.tweet_text %> 
  </div><br>

  <div class="right">
    <%= link_to image_tag("twitterblue.fw.png", :class => "provider_logo", size: "20x20"), post.link_to_tweet, :target => "_blank" %> 
    <p class="timeStamp">
      <%= time_ago_in_words(post.created_time) %> ago
    </p>
  </div>

  <ul class="post_actions">
    <li class="tilt"><%= link_to image_tag("smilinggray.fw.png", size: "24x24"), 
      like_shout_path(id: post.tweet_id,
                owner_id: post.user.id,
                key: :twitter),
                method: :post, remote: true %> 
      <%= post.like_score(post.tweet_id) %>
    </li>
    <li class="vr"></li>
    <li class="tilt">
      <div id="accordion">
        <%= link_to image_tag("commentgray.fw.png", size: "24x24"), "#collapseOne", "data-toggle" => "collapse", "data-parent" => "#accordion" %>
      </div>
    </li>
    <li class="vr"></li>
    <li class="tilt">
      <%= link_to image_tag("favoritedarkgray.fw.png", size: "24x24"),
        user_nfused_page_path(id: post.tweet_id,
                        owner_id: post.user.id,
                        user_id:  current_user.id,
                        key: :twitter, url: ( post.tweet_image || '') ),
                        method: :post, remote: true %>
    </li>

    <li class="vr"></li>
      <% unless !current_user?(post.user) %>
        <li class="tilt"><%= image_tag("delete3gray.fw.png", size: "24x24") %></li>
      <% else %>
        <li class="tilt"><%= image_tag("share1gray.fw.png", size: "24x24") %></li>
      <% end %>
  </ul>

  <div class="<%= post.class %>-<%= post.tweet_id %>" id="comment_list_<%= post.tweet_id %>">
      <div class="panel">
        <div class="panel-collapse collapse" id="collapseOne">
          <div class="panel-body"> <!-- These are for the comment img and content -->
            <ul class="comment">
              <% Comment.where(commentable_type: post.class.to_s, commentable_id: post.tweet_id).each do |comment| %>
                <%= render partial: 'shared/comment', locals: {comment: comment } %>
              <% end %>
            </ul>
            <div>
              <%= render partial: 'shared/comment_form', locals: { shout: Commented.new(post) } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- *End* Views/users/_twitter_post.html -->










