
<% case post.type %>
<% when 'youtube_video' %>
<div class="timeline-user-box">
  <iframe
  id="ytplayer"
  type="text/html"
  width="100%"
  height="225"
  src="https://www.youtube.com/embed/<%= post.twitter_url_video %>"
  frameborder="0"
  allowfullscreen>
  </iframe>
</div>
  <p>
    <%= post.text %>
  </p>
<% when 'animated_gif', 'video' %>
<div class="timeline-user-box">
  <video controls autoload="none" style="background:transparent url(<%= post.image %>) no-repeat 50% 50%;" >
    <source src="<%= post.video %>" type='video/mp4' />
    <source src="<%= post.video %>" type='video/ogv' />
  </video>
</div>
  <p>
    <%= post.text %>
  </p>
<% when 'photo' %>
<div class="timeline-user-box">
  <%= image_tag(post.image, :class => "image_post") %>
</div>
  <p>
    <%= post.text %>
  </p>
<% else %>
  <p class='center text_only_post'>
    <%= post.text %>
  </p>
<% end %>
