<%= form_for @user, html:{role: "form", class: 'edit_user', id: 'edit_user_3', multipart: true} do |f| %>
  <div class="row">
    <div class="form-group image-upload col-xs-12 col-sm-4 col-md-4">
      <h5>Profile Picture</h5>
      <small>At least 200 x 200</small>
      <!--  <div id="target">
      <img alt="Default medium" src="img/users/default.jpg">
      </div> -->
      <div id="user_avatar_change">
        <label for="user_avatar_upload">
          <% if @user.avatar_file_name.present? && @user.avatar_file_name.include?('graph.facebook.com') %>
            <%= image_tag @user.avatar_file_name %>
          <% else %>
            <%= image_tag @user.avatar(:large) %>
          <% end %>
        </label>
      </div>
      <div class="fileUpload btn-link-1">
        <%= f.file_field :avatar, id: "user_avatar_upload", placeholder: "Snip", type: "file", class: "upload" %>
      </div>
    </div>
    <div class="form-group image-upload col-xs-12 col-sm-8 col-md-8">
      <h5>Profile Banner</h5>
      <small>At least 2400 x 1000</small>
      <!-- <div id="target2"> 
      <img alt="Default2 medium" src="/assets/users/default-banner.jpg">
      </div> -->
      <div id="user_banner_change">
        <label for="user_banner_upload">
          <%= image_tag @user.banner(:large), id: "profilebann" %>
        </label>
      </div>
      <div class="fileUpload btn-link-1">
        <%= f.file_field :banner, id: "user_banner_upload", placeholder: "Snip", type: "file", class: "upload" %>
      </div>
    </div>
  </div>
  <% if controller_name == 'callback_links' %>
    <%= link_to "Skip", next_wizard_path, class: "btn btn-link-2" %>
  <% end %>
<% end %>