<%= form_for(@user, :multipart => true, html:{role: "form"}) do |f| %>
  <h2>Upload a Profile Picture</h2>
  <div id="target"> 
    <%= image_tag @user.avatar(:medium) %> 
  </div>
  <div class="fileUpload btn-link-1">
    <span>Upload Image</span>
  <%= f.file_field :avatar, id: "pictureInput", placeholder: "Snip", type: "file", class: "upload" %>
  </div>
  <h2>Upload a Profile Banner</h2>
  <div id="target2"> 
    <%= image_tag @user.banner(:medium) %>
  </div>
  <div class="fileUpload btn-link-1">
    <span>Upload Banner</span>
    <%= f.file_field :banner, id: "pictureInput2", placeholder: "Snip", type: "file", class: "upload" %>
  </div> &nbsp;
  <div>
    <button type="submit" class="btn btn-link-1">
      Save
    </button>
    <% if controller_name == 'callback_links' %>
      <%= link_to "Skip", next_wizard_path, class: "btn btn-link-2" %>
    <%end%>
  </div>
<% end %>