<!-- *START* Views/users/_user.html.erb  -->

<li class="list-group-item">
  <div class="col-xs-12 col-sm-3">
    <% if user.avatar_file_name.present? && user.avatar_file_name.include?('graph.facebook.com') %>
      <%= link_to image_tag(user.avatar_file_name, size: '110'), feed_user_path(user), class: "img-responsive img-circle" %>
    <% else %>
      <%= link_to image_tag(user.avatar.url(:followp)), feed_user_path(user), class: "img-responsive img-circle" %>
    <% end %>
	</div>
	<div class="col-xs-12 col-sm-9">
    <span class="name"><%= user.full_name	%></span><br/>
    <h2>
   	<span class="atUserName">@<%= link_to user.user_name, feed_user_path(user)%></span>
 		</h2><br>
    <span class="text-muted c-info">Followers:<%= user.followers.count %></span>
    <span class="text-muted c-info">Following:<%= user.followed_users.count %></span>
    <span class="text-muted c-info">Likes:<%= user.total_likes %></span>
	</div>
	<div class="clearfix"></div>
</li>



<!-- *END* Views/users/_user.html.erb  -->