   <!-- START CONTENT -->
<section id="settings" class="container">
  <div class="row">
    <!-- PRIVACY 
    <header class="page-title col-xs-12 center">
      <h1 class="heavy">Settings</h1>
      <p class="intro-text">Nfuse networks, update information & customize your profile</p>
    </header>-->
    <!-- NAV TABS -->
    <ul id="settings-tab" class="col-xs-12 content nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#profile-images" aria-controls="profile-images" role="tab" data-toggle="tab">
        <h5 class="tab-title"><i class="fa fa-picture-o"></i> Profile Images</h5>
        <span>Update or change your profile images</span></a>
      </li>
      <li role="presentation">
        <a href="#account-info" aria-controls="account-info" role="tab" data-toggle="tab">
        <h5 class="tab-title"><i class="fa fa-pencil-square-o"></i> Account Info</h5>
        <span>Update or change your account info</span></a>
      </li>
      <li role="presentation">
        <a href="#networks" aria-controls="networks" role="tab" data-toggle="tab">
        <h5 class="tab-title"><i class="fa fa-globe"></i> Networks</h5>
        <span>Add more networks to share</span></a>
      </li>
    </ul>
    <!-- SWITCHABLE CONTENT -->
    <article class="content col-xs-12 tab-content">
      <!-- PANEL ONE -->
      <div role="tabpanel" class="tab-pane active" id="profile-images">
        <%= form_for @user, html:{role: "form", class: 'edit_user', id: 'edit_user_3', multipart: true} do |f| %>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-4">
              <h5>Profile Picture</h5>
              <small>At least 200 x 200</small>
              <!--  <div id="target">
              <img alt="Default medium" src="img/users/default.jpg">
              </div> -->
              <div id="user_avatar_change">
                <label for="user_avatar_upload">
                  <% if @user.avatar_file_name.present? && @user.avatar_file_name.include?('graph.facebook.com') %>
                    <%= image_tag @user.avatar_file_name %>
                  <% else %>
                    <%= image_tag @user.avatar(:medium) %>
                  <% end %>
                </label>
              </div>
              <div class="fileUpload btn-link-1">
                <%= f.file_field :avatar, id: "user_avatar_upload", placeholder: "Snip", type: "file", class: "upload" %>
              </div>
            </div>
            <div class="form-group col-xs-12 col-sm-8 col-md-8">
              <h5>Profile Banner</h5>
              <small>At least 2400 x 1000</small>
              <!-- <div id="target2"> 
              <img alt="Default2 medium" src="/assets/users/default-banner.jpg">
              </div> -->
              <div id="user_banner_change">
                <label for="user_banner_upload">
                  <%= image_tag @user.banner(:larger), id: "profilebann" %>
                </label>
              </div>
              <div class="fileUpload btn-link-1">
                <%= f.file_field :banner, id: "user_banner_upload", placeholder: "Snip", type: "file", class: "upload" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- PANEL TWO -->
      <div role="tabpanel" class="tab-pane" id="account-info">
        <%= form_for(@user, html: {class: 'minimal edit_user', id: ''}) do |f| %>
          <div class="error_messages">
            <div>
              <%= render 'shared/error_messages', object: f.object %>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-md-6">
                <input class="form-control input-lg" id="form-first-name" name="user[first_name]" placeholder="First Name" type="search">
                <input class="form-control input-lg" id="form-last-name" name="user[last_name]" placeholder="Last Name" type="search">
                <input class="form-control input-lg" id="form-user-name" name="user[user_name]" placeholder="User Name" type="search">
              </div>
              <div class="col-xs-12 col-md-6">
                <input class="form-control input-lg" id="form-email" name="user[email]" placeholder="Email" type="email">
                <input class="form-control input-lg" id="form-password" name="user[password]" placeholder="Password" type="password">
                <input class="form-control input-lg" id="inputPassword" name="user[password_confirmation]" placeholder="Password Confirmation" type="password">
              </div>
            </div>
          </div>
        <%end%>
      </div>
      <!-- PANEL THREE -->
      <div role="tabpanel" class="tab-pane" id="networks">
        <!-- TWITTER -->
        <div class="network center col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <i class="fa fa-twitter"></i>
            <h3>Twitter</h3>
            <p>Share your Twitter posts.</p>
            <% if current_user && user_has_provider?('twitter') %>
                <%= link_to "/auth/twitter?origin=#{request.original_url}" do %>
                  <button type="button" id="nfuseTw" >
                      Re-Nfuse Twitter
                  </button>
                <% end %> | 
                <%= link_to remove_token_path(provider: 'twitter') do %>
                  <button type="button" id="nfuseTw" >
                      Remove Network
                  </button>
                <% end %>
            <% else %>
              <%= link_to "/auth/twitter?origin=#{request.original_url}"  do %>
                <button type="button" id="nfuseTw" >
                    Nfuse it
                </button>
              <% end %>
            <% end %>
        </div>
        <!-- INSTAGRAM -->
        <div class="network center col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <i class="fa fa-instagram"></i>
            <h3>Instagram</h3>
            <p>Share your Instagram posts.</p>
            <% if current_user && user_has_provider?('instagram') %>
                <%= link_to "/auth/instagram?origin=#{request.original_url}" do %>
                  <button type="button" id="nfuseIn" >
                      Re-Nfuse Instagram
                  </button>
                <% end %>
                 | 
                <%= link_to remove_token_path(provider: 'instagram') do %>
                  <button type="button" id="nfuseTbl">
                      Remove Network
                  </button>
                <% end %>
            <% else %>
              <%= link_to "/auth/instagram?origin=#{request.original_url}" do %>
                <button type="button" id="nfuseIn" >
                    Nfuse it
                </button>
              <% end %>
            <% end %>
        </div>
        <!-- TUMBLR -->
        <div class="network center col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <i class="fa fa-tumblr"></i>
            <h3>Tumblr</h3>
            <p>Share your Tumblr posts.</p>
            <% if current_user && user_has_provider?('tumblr') %>
                <%= link_to "/auth/tumblr?origin=#{request.original_url}" do %>
                  <button type="button" id="nfuseTbl">
                      Re-Nfuse Tumblr
                  </button>
                <% end %> | 
                <%= link_to remove_token_path(provider: 'tumblr') do %>
                  <button type="button" id="nfuseTbl">
                      Remove Network
                  </button>
                <% end %>
            <% else %>
              <%= link_to "/auth/tumblr?origin=#{request.original_url}" do %>
                <button type="button" id="nfuseTbl">
                    Nfuse it
                </button>
              <% end %>
            <% end %>
        </div>

        <!-- YOUTUBE -->
        <div class="network center col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <i class="fa fa-youtube-play"></i>
            <h3>Youtube</h3>
            <p>Share your Youtube posts.</p>
            <% if current_user && user_has_provider?('google_oauth2') %>
              <%= link_to "/auth/google_oauth2?origin=#{request.original_url}" do %>
                <button type="button" id="nfuseYt">
                    Re-Nfuse Youtube
                </button>
              <% end %> | 
              <%= link_to remove_token_path(provider: 'youtube') do %>
                <button type="button" id="nfuseYt">
                    Remove Network
                </button>
              <% end %>
            <% else %>
              <%= link_to "/auth/google_oauth2?origin=#{request.original_url}" do %>
                <button type="button" id="nfuseYt">
                    Nfuse it
                </button>
              <% end %>
            <% end %>
        </div>

        <!-- G PLUS -->
        <div class="network center col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <i class="fa fa-google-plus"></i>
            <h3>Google Plus</h3>
            <p>Share your Google Plus posts.</p>
            <% if current_user && user_has_provider?('gplus') %>
              <%= link_to "/auth/gplus?origin=#{request.original_url}" do %>
                <button type="button" id="nfuseGp">
                    Re-Nfuse Google Plus
                </button>
              <% end %> | 
              <%= link_to remove_token_path(provider: 'gplus') do %>
                <button type="button" id="nfuseGp">
                    Remove Network Plus
                </button>
              <% end %>
            <% else %>
              <%= link_to "/auth/gplus?origin=#{request.original_url}" do %>
                <button type="button" id="nfuseGp">
                    Nfuse it
                </button>
              <% end %>
            <% end %>
        </div>

        <!-- VIMEO -->
        <div class="network center col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <i class="fa fa-vimeo"></i>
            <h3>Vimeo</h3>
            <p>Share your Vimeo posts.</p>
            <% if current_user && user_has_provider?('vimeo') %>
              <%= link_to "/auth/vimeo?origin=#{request.original_url}" do %>
                <button type="button" id="nfuseVm">
                    Re-Nfuse Vimeo
                </button>
              <% end %> | 
              <%= link_to remove_token_path(provider: 'vimeo') do %>
                <button type="button" id="nfuseVm">
                    Remove Network
                </button>
              <% end %>
            <% else %>
              <%= link_to "/auth/vimeo?origin=#{request.original_url}" do %>
                <button type="button" id="nfuseVm">
                    Nfuse it
                </button>
              <% end %>
            <% end %>
        </div>

        <!-- PINTEREST -->
        <div class="network center col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <i class="fa fa-pinterest-p"></i>
            <h3>Pinterest</h3>
            <p>Share your Pinterest posts.</p>
            <% if current_user && user_has_provider?('pinterest') %>
              <%= link_to "/auth/pinterest" do %>
                <button type="button" id="nfusePn">
                    Re-Nfuse Pinterest
                </button>
              <% end %> | 
              <%= link_to remove_token_path(provider: 'pinterest') do %>
                <button type="button" id="nfusePn">
                    Remove Network
                </button>
              <% end %>
            <% else %>
              <%= link_to "/auth/pinterest" do %>
                <button type="button" id="nfusePn">
                    Nfuse it
                </button>
              <% end %>
            <% end %>
        </div>

        <!-- FACEBOOK -->
        <div class="network center col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <i class="fa fa-facebook"></i>
            <h3>Facebook</h3>
            <p>Share your Facebook posts.</p>
            <% if current_user && user_has_provider?('facebook') %>
              <%= link_to "/auth/facebook?origin=#{request.original_url}" do %>
                <button type="button" id="nfuseFb">
                    Re-Nfuse Facebook
                </button>
              <% end %> | 
              <%= link_to remove_token_path(provider: 'facebook') do %>
                <button type="button" id="nfuseFb">
                    Remove Network
                </button>
              <% end %>
            <% else %>
              <%= link_to "/auth/facebook?origin=#{request.original_url}" do %>
                <button type="button" id="nfuseFb">
                    Nfuse it
                </button>
              <% end %>
            <% end %>
        </div>
      </div>
    </article>
    <!-- SAVE ALL -->
    <div id="saveall" class="col-xs-12 content">
      <button type="submit" class="fullw btn btn-default">Finished</button>
    </div>
  </div>
</section>