<!-- *START* Views/users/edit.html.erb  -->
<% provide(:title, "Edit user") %>

    <h1 class="center">Settings</h1>
    <%= form_for @user, :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
<div class="masonJar" id="masonJar">
      <div class="item whiteBox">
        <h2 class="center">Account Info</h2>
        <table>
          <tr>
            <td><%= f.label :first_name, "First Name" %></td>
            <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td><%= f.label :last_name %></td>
            <td><%= f.text_field :last_name %></td>
          </tr>
          <tr>
            <td><%= f.label :user_name %></td>
            <td><%= f.text_field :user_name %></td>
          </tr>
          <tr>
            <td><%= f.label :phone_number %></td>
            <td><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <td><%= f.label :email %></td>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <td><%= f.label :password %></td>
            <td><%= f.password_field :password %></td>
          </tr>
          <tr>
            <td><%= f.label :password_confirmation, "Confirm Password" %></td>
            <td><%= f.password_field :password_confirmation %></td>
          </tr>
          <tr>
            <td><%= f.label :intro %></td>
            <td><%= f.text_field :intro %></td>
          </tr>
          <tr>
            <td><%= link_to "Log out", signout_path, method: :delete %></td>
          </tr>
        </table>
      </div>

      <div class="item whiteBox">
        <h2 class="center">Profile Images</h2>
        <table>
          <tr>
            <td><p>Your profile pic</p></td>
            <td><%= f.file_field :avatar, id: "pictureInput" %></td>
            <td><div id="target" class="thumb"><%= image_tag @user.avatar(:medium) %></div></td>
          </tr>
          <tr>
            <td><p>Your profile banner</p></td>
            <td><%= f.file_field :banner, id: "pictureInput2" %></td>
            <td><div id="target2" class="thumb"><%= image_tag @user.banner(:medium) %></div></td>
          </tr>
        </table>
      </div>

      <div class="item whiteBox">
        <h2 class="center">Networks</h2>
        <table>
          <tr>
            <td><%= render "link_networks" %></td>
            <td><%= f.submit "Save changes", class: "settingsaveBtn" %></td>
          </tr>
        <% end %>
      </table>
    </div>

  <script>
    $(function() {
      $('#pictureInput').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#target').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>

  <script>
    $(function() {
      $('#pictureInput2').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#target2').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>
</div>
<!-- *End* Views/users/edit.html.erb  -->
