<style>
.centering_search {
  position: absolute;
  top: 50%;
}
</style>
<div class="row">
  <%= render partial: "searches/show" %>
</div>
<div class="new_explore_filters">
  <div class="top-big-link wow fadeInUp landingbottompush center">
  <%= link_to 'Users', explore_users_user_path(current_user), class: "btn btn-link-2" %>
  <%= link_to 'Businesses', businessconnector_path, class: "btn btn-link-2" %>
  <%= link_to 'Tv', explore_users_user_path(current_user), class: "btn btn-link-2" %>
  <%= link_to 'Travel', businessconnector_path, class: "btn btn-link-2" %>
</div><br>
<div class="top-big-link wow fadeInUp landingbottompush center">
  <%= link_to 'Sports', explore_users_user_path(current_user), class: "btn btn-link-2" %>
  <%= link_to 'Music', businessconnector_path, class: "btn btn-link-2" %>
  <%= link_to 'Food', explore_users_user_path(current_user), class: "btn btn-link-2" %>
  <%= link_to 'Celebrities', businessconnector_path, class: "btn btn-link-2" %>
  <%= link_to 'Businesses', businessconnector_path, class: "btn btn-link-2" %>
</div><br>
</div><br>
