<ul class="nav pull-right navbar-right navbar-nav">
	<li>        
	  <%= link_to hub_user_path(session[:user_id]) do %>
	    <%= image_tag('molecule4.png', size: "32x32") %>
	  <% end %>
	  hub
	</li>
	<li>        
	  <%= link_to explore_user_path(session[:user_id]) do %>
	    <%= image_tag('educational27.png', size: "32x32") %>
	  <% end %>
	  explore
	</li>
</ul>
<% @timeline.each do |post| %>
    <%= render partial: "twitter_post", locals: {post: post} if post.is_a? Twitter::Post %>
     <%= render partial: "instagram_post", locals: {post: post} if post.is_a? Instagram::Post %>
<% end %>

