<style>
.centering_search {
  margin-top: 10%;
}
.row_top_padding {
	padding-top: 10px
}

#search_explore {

}

#search_explore input[type="text"] {
    background-color: rgba(19, 19, 19, 0.11);
    border: 0 none;
    font: bold 22px Arial,Helvetica,Sans-serif;
    margin-top: 2px;
    color: #fff;
    width: 620px;
    height: 40px;
    padding: 6px 15px 6px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    }
</style>
<div calss="container">
	<div class="centering_search">
		<div class="row">
			<div class="col-sm-12 center">
				<div class="col-sm-4 col-sm-offset-4">
					<%= image_tag('Nfuseexplorebanner.png')%>
				</div>
			</div>
		</div>

		<div class="row">
      <div class="col-sm-12 center" >
        <%= form_tag search_path, method: 'get', id: "search_explore" do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search #Hashtags @Users and Popular Media" %>
        <% end %>
      </div>
		</div>

		<div class="row">
			<div class="col-sm-12 center">
				<div class="row row_top_padding">
					<div class="col-md-6 col-md-offset-3">
					  <%= link_to 'Users', explore_users_user_path(current_user), class: "btn btn-link-2" %>
            <%= link_to 'My Vue', my_top_50_path, class: "btn btn-link-2" %>
            <%= link_to 'Trending', trending_path, class: "btn btn-link-2" %>
            <%= link_to 'Most Popular', most_popular_path, class: "btn btn-link-2" %>
            <%= link_to 'Random', random_path, class: "btn btn-link-2" %>
					</div>
				</div>
        <div class="row row_top_padding">
          <div class="col-md-6 col-md-offset-3">
            <%= link_to 'Businesses', businessconnector_path, class: "btn btn-link-2" %>
            <%= link_to 'Youtubers', youtubers_path, class: "btn btn-link-2" %>
            <%= link_to 'Celebrities', celebrities_path, class: "btn btn-link-2" %>
            <%= link_to 'Fashion', fashion_path, class: "btn btn-link-2" %>
            <%= link_to 'Music', music_path, class: "btn btn-link-2" %>
          </div>
        </div>
        <div class="row row_top_padding">
          <div class="col-md-6 col-md-offset-3">
            <%= link_to 'Food', food_path, class: "btn btn-link-2" %>
            <%= link_to 'Tv', tv_shows_path, class: "btn btn-link-2" %>
            <%= link_to 'Travel', travel_path, class: "btn btn-link-2" %>
            <%= link_to 'Sports', sports_path, class: "btn btn-link-2" %>
            <%= link_to 'News', travel_path, class: "btn btn-link-2" %>
            <%= link_to 'Technology', sports_path, class: "btn btn-link-2" %>
          </div>
        </div>
        <div class="row row_top_padding">
          <div class="col-md-6 col-md-offset-3">
            <%= link_to 'Health & Fitness', food_path, class: "btn btn-link-2" %>
            <%= link_to 'Animals', tv_shows_path, class: "btn btn-link-2" %>
            <%= link_to 'Science & History', travel_path, class: "btn btn-link-2" %>
            <%= link_to 'Best Instagram', sports_path, class: "btn btn-link-2" %>
            <%= link_to 'Wedding', travel_path, class: "btn btn-link-2" %>
            <%= link_to 'Shopping', sports_path, class: "btn btn-link-2" %>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>