<div class="explore_filters">
  <%= render partial: "users/explore_filters" %>
</div><br>
<div id="masonJar" class="center explore_container clearfix masonJar">
<!--   <div class="loader">
    <div class="loader-img"></div>
  </div> -->
    <% @timeline.first(50).each do |post| %>
      <% case post.provider %>
      <% when "nfuse" %>
        <!-- LEAVE OFF UNTIL PAGINATION WRITTEN FOR SHOUTS. -->
        <%=  render partial: 'users/shout', locals: {shout: post} %>
      <% when "gplus" %>
        <% if post.type != 'hiddenType' %>
          <%= render partial: "users/post", locals: {post: post} %>
        <% end %>
      <% when "tumblr" %>
        <% unless post.type == 'chat' || post.type == 'audio' %>
          <%= render partial: "users/post", locals: {post: post} %>
        <% end %>
      <% else %>
        <%= render partial: "users/post", locals: {post: post} %>
      <% end %>
    <% end %>
</div>
<!-- *End* Views/users/explore.html.erb  -->