  <%## unless @unauthed_accounts.empty? %>
    <%##= render partial: "unauthed_accounts" %>
  <%## end %>
<% if @timeline.present? %>
  <% cache(["users_feed", @timeline.map(&:id), ActsAsVotable::Vote.maximum(:updated_at)]) do %>
    <% @timeline.each do |post| %>
      <% cache(post) do %>
        <article class="individual_post item <%= post.provider %>_post0">
          <header class="post_header">
            <div class="user">
              <%= image_tag("#{post.avatar}", class: 'user_profile_picture', size:'45x45', alt: 'P6pl2kfg normal') %>
              <%= link_to truncate(post.user_name, length: 16), "/users/#{post.user_name}/feed" %>
            </div>
            <%= link_to post.link_to_post, class: 'timeStamp', target: 'blank', title: 'Go to entry' do %>
            <!-- <a class="timeStamp" href="#" target="_blank" title="Go To Entry"> -->
             
              <i class="fa"></i></i> <%= time_ago_in_words(post.created_time) %>
            <% end %>
          </header>
          <main class="post_content">
            <% case post.provider %>
            <% when "nfuse" %>
              <% unless post.exclusive == true %>
                <%=  render partial: 'users/shout', locals: {shout: post} %>
              <% end %>
            <% when "gplus" %>
              <% if post.type != 'hiddenType' %>
                <%= render partial: "users/post", locals: {post: post} %>
              <% end %>
            <% when "tumblr" %>
              <% unless post.type == 'chat' || post.type == 'audio' %>
                <%= render partial: "users/post", locals: {post: post} %>
              <% end %>
            <% when "facebook" %>
              <% unless post.story.present? && ((post.story.include? 'profile picture') || (post.story.include? 'cover photo')) %>
                <%= render partial: "users/post", locals: {post: post} %>
              <% end %>
            <% when "twitter" %>
              <% unless post.retweeted == true %>
                <%= render partial: "users/post", locals: {post: post} %>
              <% end %>
            <% else %>
              <%= render partial: "users/post", locals: {post: post} %>
            <% end %>
          </main>
          <footer class="post_actions">
            <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
              <i class="fa"></i><span>666</span>
            </a>
          </footer>
        </article>
      <% end %>
    <% end %>
  <% end %>
<!--    <div class="load_posts_link">
    <%#= link_to "Load more posts", @load_more_url, id: "load-more" %>
  </div> -->
<% elsif @timeline.blank? && @unauthed_accounts.empty? %>
  <div id="empty_feed_container">
    <% if current_user?(@user) %>
      <%= render partial: "users/network_authentications" %>
    <% else %>
      <p> <%= @user.user_name %> has not Nfused any networks. </p>
      <%= image_tag("sadface.fw.png", size:"100x100") %>
    <% end %>
  </div>
<% end %>

        <article class="individual_post item instagram_post0">
            <header class="post_header">
                <div class="user">
                    <img alt="11820660 1609991055932652 2099461914 a" class="user_profile_picture" height="45" src="https://scontent.cdninstagram.com/hphotos-xtf1/t51.2885-19/11820660_1609991055932652_2099461914_a.jpg" width="45">
                    <a href="/">collegehumor</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 6d
                </a>
            </header>
            <main class="post_content">
                <div class="timeline-user-box">
                    <video width="100%" controls="" preload="none" autoload="none" poster="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/s320x320/e15/12317708_1495632684073251_1251927360_n.jpg">
                        <source src="https://scontent.cdninstagram.com/hphotos-xtf1/t50.2886-16/12344669_921793924563268_479938280_n.mp4" type="video/mp4">
                        <source src="https://scontent.cdninstagram.com/hphotos-xtf1/t50.2886-16/12344669_921793924563268_479938280_n.mp4" type="video/ogv">
                    </video>
                </div>
                <p>
                    The Force Awakens Is Just Like Phantom Menace - Full video link in profile - #starwars #forceawakens #dejavu #collegehumor
                </p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>

        <article class="individual_post item youtube_post0">
            <header class="post_header">
                <div class="user">
                    <img alt="P6pl2kfg normal" class="user_profile_picture" height="45" src="https://pbs.twimg.com/profile_images/641252681017856001/p6PL2KFg_normal.jpg" width="45" />
                    <a href="/">SportsCenter</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 1h
                </a>
            </header>
            <main class="post_content">
                <div class="timeline-user-box">
                    <img alt="12357265 1531984430456660 1658616788 n" class="image_post" src="https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/s320x320/e35/12357265_1531984430456660_1658616788_n.jpg" />
                </div>
                <p>
                    ICYMI: Wisconsin coach Bo Ryan retires, effective immediately. Longtime assistant Greg Gard named interim coach. https://t.co/5Z4osLkbqB
                </p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>

        <article class="individual_post item twitter_post0" data-id="677134541241339904">
            <header class="post_header">
                <div class="user">
                    <img alt="B6imm6eu normal" class="user_profile_picture" height="45" src="https://pbs.twimg.com/profile_images/586012188302708736/B6IMM6eu_normal.jpg" width="45" />
                    <a href="/">ESPNNBA</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 1h
                </a>
            </header>
            <main class="post_content">
                <div class="timeline-user-box">
                    <iframe
                        id="ytplayer"
                        type="text/html"
                        width="100%"
                        height="225"
                        src="https://www.youtube.com/embed/Q6vVuj3iggE"
                        frameborder="0"
                        allowfullscreen>
                    </iframe>
                </div>
                <p>LeBron James reminds us that sometimes it&#39;s bigger than the game of basketball.  https://t.co/ooTy2YyNyh</p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>

        <article class="individual_post item vine_post0" data-id="676993942966034432" id="content-box-feed">
            <header class="post_header">
                <div class="user">
                    <img alt="Pnayqdx8 normal" class="user_profile_picture" height="45" src="http://pbs.twimg.com/profile_images/629351437676511232/PnAYQDx8_normal.png" width="45" />
                    <a href="/">espn</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 1h
                </a>
            </header>
            <main class="post_content">
                <div class="timeline-user-box">
                    <img alt="12338726 1677133435831730 48120539 n" class="image_post" src="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/s320x320/e35/12338726_1677133435831730_48120539_n.jpg" />
                </div>
                <p>
                    This high school basketball player shows absolutely no mercy against his opponent: https://t.co/gRl2FuC7KM
                </p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>

        <article class="individual_post item tumblr_post0" data-id="676992690148495361" id="content-box-feed">
            <header class="post_header">
                <div class="user">
                    <img alt="Yisgmtks normal" class="user_profile_picture" height="45" src="http://pbs.twimg.com/profile_images/484110574083514369/yiSgMtks_normal.png" width="45" />
                    <a href="/">UWMadison</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 1h
                </a>
            </header>
            <main class="post_content">
                <p>
                    Wisconsin. Basketball. Two different statements, but you redefined both. For everything, #ThanksBo. #Badgers https://t.co/SWZ93OtJPa
                </p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>

        <article class="individual_post item instagram_post0" data-id="676987043197665281" id="content-box-feed">
            <header class="post_header">
                <div class="user">
                    <img alt="Zfc10x2x normal" class="user_profile_picture" height="45" src="http://pbs.twimg.com/profile_images/662452875335999488/zFc10x2X_normal.jpg" width="45" />
                    <a href="/">ESPNCBB</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 1h
                </a>
            </header>
            <main class="post_content">
                <div class="timeline-user-box">
                    <video class="post_video" width="100%" controls autoload="none" poster="https://scontent.cdninstagram.com/hphotos-xtf1/t51.2885-15/s320x320/e15/12328164_1023960387675234_96161171_n.jpg">
                        <source src="https://scontent.cdninstagram.com/hphotos-xpt1/t50.2886-16/12382795_1654666981489320_1091532020_n.mp4" type='video/mp4' />
                        <source src="https://scontent.cdninstagram.com/hphotos-xpt1/t50.2886-16/12382795_1654666981489320_1091532020_n.mp4" type='video/ogv' />
                    </video>
                </div>
                <p>
                    This just in: Bo Ryan, winningest coach in Wisconsin basketball history, announces retirement effective immediately. https://t.co/o0w9wdAGSn
                </p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>

        <article class="individual_post item twitter_post0" data-id="677134541241339904">
            <header class="post_header">
                <div class="user">
                    <img alt="B6imm6eu normal" class="user_profile_picture" height="45" src="http://pbs.twimg.com/profile_images/586012188302708736/B6IMM6eu_normal.jpg" width="45" />
                    <a href="/">ESPNNBA</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 1h
                </a>
            </header>
            <main class="post_content">
                <div class="timeline-user-box">
                    <img alt="12338805 1033691250029904 1500705864 n" class="image_post" src="https://scontent.cdninstagram.com/hphotos-xft1/t51.2885-15/s320x320/e35/12338805_1033691250029904_1500705864_n.jpg">
                </div>
                <p>LeBron James reminds us that sometimes it&#39;s bigger than the game of basketball.  https://t.co/ooTy2YyNyh</p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>


        <article class="individual_post item youtube_post0" data-id="677121950934802432" id="content-box-feed">
            <header class="post_header">
                <div class="user">
                    <img alt="P6pl2kfg normal" class="user_profile_picture" height="45" src="http://pbs.twimg.com/profile_images/641252681017856001/p6PL2KFg_normal.jpg" width="45" />
                    <a href="/">SportsCenter</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 1h
                </a>
            </header>
            <main class="post_content">
                <div class="timeline-user-box">
                    <img alt="12357265 1531984430456660 1658616788 n" class="image_post" src="https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/s320x320/e35/12357265_1531984430456660_1658616788_n.jpg" />
                </div>
                <p>
                    ICYMI: Wisconsin coach Bo Ryan retires, effective immediately. Longtime assistant Greg Gard named interim coach. https://t.co/5Z4osLkbqB
                </p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>


        <article class="individual_post item vine_post0" data-id="676993942966034432" id="content-box-feed">
            <header class="post_header">
                <div class="user">
                    <img alt="Pnayqdx8 normal" class="user_profile_picture" height="45" src="http://pbs.twimg.com/profile_images/629351437676511232/PnAYQDx8_normal.png" width="45" />
                    <a href="/">espn</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 1h
                </a>
            </header>
            <main class="post_content">
                <div class="timeline-user-box">
                    <img alt="12338726 1677133435831730 48120539 n" class="image_post" src="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/s320x320/e35/12338726_1677133435831730_48120539_n.jpg" />
                </div>
                <p>
                    This high school basketball player shows absolutely no mercy against his opponent: https://t.co/gRl2FuC7KM
                </p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>


        <article class="individual_post item tumblr_post0" data-id="676992690148495361" id="content-box-feed">
            <header class="post_header">
                <div class="user">
                    <img alt="Yisgmtks normal" class="user_profile_picture" height="45" src="http://pbs.twimg.com/profile_images/484110574083514369/yiSgMtks_normal.png" width="45" />
                    <a href="/">UWMadison</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 1h
                </a>
            </header>
            <main class="post_content">
                <p>
                    Wisconsin. Basketball. Two different statements, but you redefined both. For everything, #ThanksBo. #Badgers https://t.co/SWZ93OtJPa
                </p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>


        <article class="individual_post item instagram_post0" data-id="676987043197665281" id="content-box-feed">
            <header class="post_header">
                <div class="user">
                    <img alt="Zfc10x2x normal" class="user_profile_picture" height="45" src="http://pbs.twimg.com/profile_images/662452875335999488/zFc10x2X_normal.jpg" width="45" />
                    <a href="/">ESPNCBB</a>
                </div>
                <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                    <i class="fa"></i> 1h
                </a>
            </header>
            <main class="post_content">
                <div class="timeline-user-box">
                    <video class="post_video" width="100%" controls autoload="none" poster="https://scontent.cdninstagram.com/hphotos-xtf1/t51.2885-15/s320x320/e15/12328164_1023960387675234_96161171_n.jpg">
                        <source src="https://scontent.cdninstagram.com/hphotos-xpt1/t50.2886-16/12382795_1654666981489320_1091532020_n.mp4" type='video/mp4' />
                        <source src="https://scontent.cdninstagram.com/hphotos-xpt1/t50.2886-16/12382795_1654666981489320_1091532020_n.mp4" type='video/ogv' />
                    </video>
                </div>
                <p>
                    This just in: Bo Ryan, winningest coach in Wisconsin basketball history, announces retirement effective immediately. https://t.co/o0w9wdAGSn
                </p>
            </main>
            <footer class="post_actions">
                <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                    <i class="fa"></i><span>666</span>
                </a>
            </footer>
        </article>