<style>
.tab-content {
    border-radius: 0px;
    padding: 0px 30px;
}
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
</style>
<% if current_user.relationships.where(follow_type: 'Page').collect(&:followed_id).any? %>
<section id="thehub" class="container-fluid clearfix">
  <nav id="user-nav" class="hub center navbar">
    <ul>
      <li><%= link_to 'Nfusers', root_path , class: "btn btn-link-2" %></li>
      <li><%= link_to 'Pages', followed_pages_user_path(current_user), class: "btn btn-link-2" %></li>
    </ul>
  </nav>
</section>

<section id="masonJar" class="clearfix">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>

  <%# cache(["user_hub", timeline.map(&:id), ActsAsVotable::Vote.maximum(:updated_at)]) do %>
    <% @timeline.first(30).each do |post| %>
      <%# cache(post) do %>
          <article class="individual_post item <%= post.provider %>_post0">
            <header class="post_header">
              <div class="user">
                <%= image_tag(post.page.profile_pic, size:'45x45', alt: 'P6pl2kfg normal') %>
                <%= link_to truncate(post.username, length: 16), "/pages/#{post.username}" %>
              </div>
              <%= link_to post.link_to_post, class: 'timeStamp', target: 'blank', title: 'Go to entry' do %>
              <!-- <a class="timeStamp" href="#" target="_blank" title="Go To Entry"> -->
                <i class="fa"></i> <%= time_ago_in_words(post.created_time) %>
              <% end %>
            </header>
            <main class="post_content">
              <% case post.provider %>
              <% when 'instagram' %>
                <% if post.type == "image" %>
                  <div class="timeline-user-box">
                    <%= image_tag(post.image, :class => "image_post") %>
                  </div>
                  <% if post.text.present? %>
                    <div class="center">
                      <%= post.text %>
                    </div>
                  <% end %>
                <% elsif post.type == "video" %>
                  <div class="center">
                    <video controls autoload="none" style="background:transparent url(<%= post.image %>) no-repeat 50% 50%;" >
                      <source src="<%= post.video %>" type='video/mp4' />
                      <source src="<%= post.video %>" type='video/ogv' />
                    </video>
                  </div>
                  <% if post.text.present? %>
                    <div class="center">
                      <%= post.text %>
                    </div>
                  <% end %>
                <% end %>
              <% when 'twitter' %>
                <% if post.is_not_in_reply.nil? && post.is_not_retweeted? %>
                  <% if post.has_media? %>
                    <% if post.type == 'animated_gif' || post.type== 'video' %>
                      <div class="center">
                        <video controls autoload="none" style="background:transparent url(<%= post.image %>) no-repeat 50% 50%;" >
                          <source src="<%= post.video %>" type='video/mp4' />
                          <source src="<%= post.video %>" type='video/ogv' />
                        </video>
                      </div>
                    <% elsif post.type == 'photo' %>
                      <div class="timeline-user-box">
                        <%= image_tag(post.image, :class => "image_post") %>
                      </div>
                    <% end %>
                  <% end %>
                  <div class="center">
                    <%= post.text %>
                  </div>
                <%end%>
              <% when 'google_oauth2' %>
                <iframe
                  id="ytplayer"
                  type="text/html"
                  width="100%"
                  height="225"
                  src="https://www.youtube.com/embed/<%= post.video %>"
                  frameborder="0"
                  allowfullscreen>
                </iframe>
                <% if post.text.present? %>
                  <div class="center">
                    <%= post.text %>
                  </div>
                <% end %>
              <%end%>
            </main>
            <footer class="post_actions">
              <!-- <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                <i class="fa"></i><span>666</span>
              </a> -->
              <% if ActsAsVotable::Vote.where(votable_id: post.id).pluck(:voter_id).include?(current_user.id) %>
                <%= link_to dislike_shout_path(id: post.id, owner_id: post.page.id, owner_type: post.page.class.name, key: post.provider), {method: :delete, remote: true, class: 'likePost liked'} do %>
                  <i class="fa"></i><span class="liked-<%= post.id %>"><%= post.like_score(post.id) %></span>
                <% end %>
              <% else %>
                <%= link_to like_shout_path(id: post.id, owner_id: post.page.id, owner_type: post.page.class.name, key: post.provider), {method: :post, remote: true, class: 'likePost'} do %>
                  <i class="fa"></i><span class="liked-<%= post.id %>"><%= post.like_score(post.id) %></span>
                <% end %>
              <% end %>
            </footer>
          </article>
      <% end %>
    <%# end %>
    <%# end %>

</section>
<% else %>
  <section id="thehub" class="container-fluid clearfix">
    <nav id="user-nav" class="hub center navbar">
    <ul>
      <li><%= link_to 'Nfusers', root_path , class: "btn btn-link-2" %></li>
      <li><%= link_to 'Pages', followed_pages_user_path(current_user), class: "btn btn-link-2" %></li>
    </ul>
    </nav>
    <div class="row">
      <div class="explore_filters col-xs-12 center">
        <p>Can't display posts because you aren't following anyone... <%= current_user.first_name %>, Why aren't you following someone yet?</p>
          <%= link_to 'Start Exploring', explore_user_path(current_user), class: "btn btn-link-2" %>
      </div>
    <!-- SWITCHABLE CONTENT -->
    <article class="col-xs-12 tab-content">
      <!-- PANEL THREE -->
      <div id="networks">
        <% m=  Page.all %>
        <% m.first(10).each do |this| %>
          <!-- PROFILE -->
          <div class="individual_profile col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="/pages/<%= this.page_name %>">
              <div class="profile-head">
                <p><%= this.full_name.capitalize %></p>
              </div>
              <%= image_tag(this.profile_pic) %>
            </a>
          </div>
        <% end %>

      </div>
    </article>
  </div>
</section>
<% end %>
