<% provide(:title, 'Sign up') %>

<h1 class="center">Sign up</h1>
<div class="container">
  <div class="containerMain">
<%= form_tag("/auth/identity/register", method: 'post') do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- make a table noob -->

  <table class="signupTable">
  <tr>
    <td><%= label_tag :first_name %></td>
    <td><%= text_field_tag :first_name, @identity.try(:first_name) %></td>
  </tr>
  <tr>
    <td><%= label_tag :last_name %></td>
    <td><%= text_field_tag :last_name, @identity.try(:last_name) %></td>
  </tr>    
  <tr>
    <td><%= label_tag :email %></td>
    <td><%= text_field_tag :email, @identity.try(:email) %></td>
  </tr>    
  <tr>
    <td><%= label_tag :password %></td>
    <td><%= password_field_tag :password %></td>
  </tr>   
  <tr>
    <td><%= label_tag :password_confirmation %></td>
    <td><%= password_field_tag :password_confirmation %></td>
  </tr>
        
      <tr><td><%= submit_tag "Create my account", class: "btn" %></td></tr>
  </table>
</div>

<% end %>

