<% provide(:title, 'Sign up') %>


<div class="row" id="content-box-signup">
  <div class="span4">
    <h1>Sign Up!</h1>
    <%= simple_form_for @user do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

          <%= f.input :first_name %> 
          <%= f.input :last_name %> 
          <%= f.input :user_name %> 
          <%= f.input :email, input_html: { name: "email" } %> 
          <%= f.input :password, as: 'password', input_html: { name: "password" } %> 
          <%= f.input :password_confirmation, label: "Confirm Password", as: 'password', input_html: { name: "password_confirmation" } %> 
          <%= f.input :conditions, as: :radio %>   
          <%= f.button :submit, label: 'Create my account' %> 
    <% end %>
  </div>
</div>