
<% if params[:last_page] %>
  $('.nextBizPage').remove();
	<% @pages.each do |page| %>
    $('article.tab-content #networks').append('<%= j render partial: "pages/page", locals: {page: page}  %>');
  <% end %>
  $('#paginate_only_once').text('')
  $('article.tab-content #networks').append('<div id="request" class="individual_profile col-xs-12 col-sm-8 col-md-6 col-lg-"><div class="vcenter"><div class="vcell"><button type="button" class="btn btn-default default" data-toggle="modal" data-target="#requestmodal">Request Missing</button></div></div></div>')
<% elsif params[:middle_page] %>
//  $('article.tab-content #networks .nextBizPage').remove();
	<% @pages.each do |page| %>
	  $('article.tab-content #networks').append('<%= j render partial: "pages/page", locals: {page: page}  %>');
  <% end %>
  $('#paginate_only_once').text('')
  $('#paginate_only_once').append('<a href="/users/<%= request.env['PATH_INFO'] %>?page=<%= params[:page].to_i + 1 %>" data-remote="true" class="nextBizPage"></a>');
<% else %>
	<% @pages.each do |page| %>
	  $('article.tab-content #networks').append('<%= j render partial: "pages/page", locals: {page: page}  %>');
  <% end %>
<% end %>