 <!-- This is the analytics dont mess with ;) -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55492129-1', 'auto');
  ga('send', 'pageview');

</script>


<!-- Start of regular page -->
<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <div class="main-avatar"><%= image_tag @user.avatar, size: "210x210" %> </div>
        <div>
          <ul class="pull-left inline follow-btn">
            <li><h1><%= @user.full_name %></h1></li>
            <li><%= render 'follow_form' if signed_in? %></li>
            <li><% unless !current_user?(@user) %> 
                  <%= link_to "Edit", edit_user_path(session[:user_id]), class: "btn btn-medium"  %> 
                  <% else %>
                  <%= link_to "#", class: "start-conversation", "data-sid" => current_user.id, "data-rip" => @user.id do %>
                    <%= image_tag('chat56.fw.png', size: "30x30") %>
                    <% end %>
                <% end %> 
            </li>
          </ul>
        </div>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h1><%= @title %></h1>
      <%= render file: "users/feed" %>
  </div>
</div>
      <script type="text/javascript">
        FeedIndex.providers = {facebook: <%= @providers.facebook? %>, twitter: <%= @providers.twitter? %>};
        $(document).ready(function () {
          FeedIndex.initialize();
        });
      </script>