<% provide(:title, @title) %>
<div class="row">
  <aside class="span4" id="content-box-profile">
    <section>
      <div><%= image_tag @user.banner(:large) %> </div>
      <div class="main-avatar"><%= image_tag @user.avatar(:larger), class: "avatar-picture-main" %> </div>
        <div>
          <ul class="pull-left inline follow-btn">
            <li><h1><%= @user.full_name %></h1></li>
            <li><%= render 'follow_form' if signed_in? %></li>
          </ul>
        </div>
    </section>
    <section>
      <%= render 'shared/stats' %>

    </section>
  </aside>
    <h1><%= @title %></h1>
        <% if @users.any? %>
          <div class="row span8 col-1-2">
                <ul class="users">
                  <%= render @users %>
                </ul>
          </div>
          <%= will_paginate %>
        <% end %>

</div>