<% content_for :for_head do %>
  <title>Vue</title>
<% end %>
<style>
.tab-content {
    border-radius: 0px;
    padding: 0px 30px;
}
</style>

<section id="userarea">
  <%= render partial: "profile_info" %>
</section>
<% if Impression.where(user_id: @user.id, impressionable_type: 'Page').any? %>

    <!-- SWITCHABLE CONTENT -->
    <article class="col-xs-12 tab-content">
      <!-- PANEL THREE -->
      <div id="networks">
        <% all_pages = [] %>
        <% seen_pages = Page.where(id: Impression.where(user_id: @user.id, impressionable_type: 'Page').pluck(:impressionable_id).uniq) %>
        <% non_seen_pages = Page.where.not(id: Impression.where(user_id: @user.id, impressionable_type: 'Page').pluck(:impressionable_id).uniq) %>
        <% all_pages << seen_pages  %>
        <% all_pages << non_seen_pages  %>
        <% all_pages.flatten.each do |page| %>

          <!-- PROFILE -->
          <div class="individual_profile col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="/pages/<%= page.page_name %>">
              <div class="profile-head">
                <p><%= page.thing_name.capitalize %></p>
              </div>
              <%= image_tag(page.profile_pic) %>
            </a>
          </div>
        <% end %>

      </div>
    </article>
<% else %>
<% m = Page.all %>
  <section id="settings" class="container">
    <div class="row">    
      <div class="center col-xs-12 content">
        <h3>Check out some of these pages</h3>
      </div>
      <!-- SWITCHABLE CONTENT -->
      <article class="content col-xs-12 tab-content">
        <!-- PANEL THREE -->
        <div id="networks">
          <% m.each do |page| %>
            <!-- PROFILE -->
            <div class="individual_profile col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <a href="/pages/<%= page.page_name %>">
                <div class="profile-head">
                  <p><%= page.thing_name.capitalize %></p>
                </div>
                <%= image_tag(page.profile_pic) %>
              </a>
            </div>
          <% end %>

        </div>
      </article>
    </div>
  </section>
<% end %>