<h1>Event</h1>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Starts at:</b>
  <%= @event.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @event.ends_at %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<h2>Comments</h2>

<%= render "comments/comments" %>
<%= render "comments/form" %>



<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= raw  @event.description %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Place:</b>
  <%= @event.place %>
</p>

<p>
  <b>Place long:</b>
  <%= @event.place_long %>
</p>

<p>
  <b>Place latt:</b>
  <%= @event.place_latt %>
</p>

<%= link_to 'Edit', edit_community_event_path(@community, @event) %> |
<%= link_to 'Back', community_events_path %>


<div id="comments_id">
 <%=render :partial=>"events/comments", :locals=>{:commentable => @event, :comment => @comment}%>
</div>