  <article class="individual_post item <%= post.provider %>_post0" data-id="<%= post.id %>" id="content-box-feed">
    <header class="post_header">
      <div class="user">
        <%= image_tag("#{@comp}.jpg", class: 'user_profile_picture', size:'45x45', alt: 'P6pl2kfg normal') %>
        <%= link_to truncate(@compname, length: 16), root_path %>
      </div>
      <%= link_to post.link_to_post, class: 'timeStamp', target: 'blank', title: 'Go to entry' do %>
      <!-- <a class="timeStamp" href="#" target="_blank" title="Go To Entry"> -->
       
        <i class="fa"></i></i> <%= time_ago_in_words(post.created_time) %>
      <% end %>
    </header>
    <main class="post_content">
      <% case post.provider %>
      <% when 'instagram' %>
        <div class="timeline-user-box">
          <% if post.type == "image" %>
            <%= image_tag(post.image, :class => "image_post") %>
          <% elsif post.type == "video" %>
            <video width="100%" controls autoload="none" poster=<%= post.image %> >
              <source src="<%= post.video %>" type='video/mp4' />
              <source src="<%= post.video %>" type='video/ogv' />
            </video>
          <% end %>
        </div>
        <p>
          <% if post.text.present? %>
            <%= post.text %>
          <% end %>
        </p>
      <% when 'twitter' %>
        <div class="timeline-user-box">
          <% if post.has_media? %>
            <% if post.type == 'animated_gif' || post.type== 'video' %>
                <video width="100%" controls autoload="none" poster=<%= post.image %> >
                  <source src="<%= post.video %>" type='video/mp4' />
                  <source src="<%= post.video %>" type='video/ogv' />
                </video>
            <% elsif post.type == 'photo' %>
              <div class="timeline-user-box">
                <%= image_tag(post.image, :class => "image_post") %>
              </div>
            <% end %>
          <% elsif post.has_video_url? %>
            <iframe
            id="ytplayer"
            type="text/html"
            width="100%"
            height="225"
            src="https://www.youtube.com/embed/<%= post.twitter_url_video %>"
            frameborder="0"
            allowfullscreen>
            </iframe>
          <% end %>
        </div>
        <p>
          <%= post.text %>
        </p>
      <% when 'youtube' %>
        <div class="timeline-user-box">
          <iframe
            id="ytplayer"
            type="text/html"
            width="100%"
            height="225"
            src="https://www.youtube.com/embed/<%= post.video %>"
            frameborder="0"
            allowfullscreen>
          </iframe>
        </div>
        <p>
          <% if post.text.present? %>
            <%= post.text %>
          <% end %>
        </p>
      <%end%>
    </main>
  </article>