<style>
  .<%=post.provider%>_image {
    width: 300px;
  }
</style>
<div class="individual_post item <%=post.provider%>_post" data-id="<%=post.id%>" id="content-box-feed">
  <div class="post_main">
   <ul class="post_header">
     <li>
       <%= link_to image_tag(post.avatar, :class => "user_profile_picture", size: "50x50"), root_path %>
     </li>
     <li class="user_name">
       <%= link_to "#{post.username}", root_path %>
     </li>
   </ul>
  </div>
  <div class="post_content">
    <% if post.image.present? %>
        <div class="timeline-user-box">
          <%= image_tag(post.image, :class => "image_post") %>
        </div>
        <% if post.text.present? %>
        <div class="center">
          <%= post.text %>
        </div>
        <% end %>
    <% elsif post.video.present? %>
      <% if post.provider == 'youtube' %>
        <iframe
          id="ytplayer"
          type="text/html"
          width="100%"
          height="225"
          src="http://www.youtube.com/embed/<%= post.video %>"
          frameborder="0"
          allowfullscreen>
        </iframe>
      <% else %>
        <div class="center">
          <video width="100%" controls>
            <source src="<%= post.video %>" type='video/mp4' />
            <source src="<%= post.video %>" type='video/ogv' />
          </video>
        </div>
      <%end%>
      <% if post.text.present? %>
        <div class="center">
          <%= post.text %>
        </div>
      <% end %>
    <% else %>
      <% if post.text.present? %>
        <div class="center">
          <%= post.text %>
        </div>
      <% end %>
    <% end %>
        <br>
  </div>
  <div class="right">
  </div>
  <ul class="post_actions">
    <li class="tilt">
      <%#= link_to image_tag("smilinggray.fw.png", size: "24x24"),
                  like_shout_path(id: post.id,
                                  owner_id: post.user.id,
                                  key: post.provider),
                  method: :post, remote: true %>
      <a id="shout-<%=post.id%>">
        <%#= post.like_score(post.id) %>
      </a>
    </li>
    <li class="vr"></li>
    <li class="tilt">
      <a data-toggle="modal" data-target="#<%=post.provider%>_modal_<%= post.id %>">
        <%#= image_tag("commentgray.fw.png", size: "24x24") %>
      </a>
      <a id="post_<%=post.id%>_comment_count">
        <%#= Comment.where(commentable_type: post.class.to_s, commentable_id: post.id).count %>
      </a>
    </li>
    <li class="vr"></li>
    <li class="tilt">
      <%= link_to image_tag("#{post.provider}blue.fw.png",
                            size: "24x24",
                            :class => "#{post.provider}_provider_logo"),
                  post.link_to_post,
                  :target => "_blank" %>
      <p class="timeStamp">
        <%= time_ago_in_words(post.created_time) %> ago
      </p>
    </li>
  </ul>
</div>
