<style>
  .<%=post.provider%>_image {
    width: 300px;
  }
</style>
<div class="individual_post item <%=post.provider%>_post" data-id="<%=post.id%>" id="content-box-feed">
  <div class="post_main">
   <ul class="post_header">
     <li>
       <%= link_to image_tag("#{@page.twitter_handle}.jpg", :class => "user_profile_picture", size: "50x50"), root_path %>
     </li>
     <li class="user_name">
       <%= link_to truncate(@page.thing_name, length: 15), "/#{@page.page_name}" %>
     </li>
   </ul>
  </div>
  <div class="post_content">
    <% case post.provider %>
    <% when 'instagram' %>
      <% if post.type == "image" %>
        <div class="timeline-user-box">
          <%= link_to image_tag(post.image, :class => "image_post"), individual_post_path(
            post_id: post.id, 
            provider: post.provider, 
            user: @page.id,
            post_type: @page.class.name), target: '_blank' %>
        </div>
        <% if post.text.present? %>
          <div class="center">
            <%= post.text %>
          </div>
        <% end %>
      <% elsif post.type == "video" %>
        <div class="center">
          <video width="100%" controls autoload="none" poster=<%= post.image %> >
            <source src="<%= post.video %>" type='video/mp4' />
            <source src="<%= post.video %>" type='video/ogv' />
          </video>
        </div>
        <% if post.text.present? %>
          <div class="center">
            <%= post.text %>
          </div>
        <% end %>
      <% end %>
    <% when 'twitter' %>
      <% if post.has_media? %>
        <% if post.type == 'animated_gif' || post.type== 'video' %>
          <div class="center">
            <video width="100%" controls autoload="none" poster=<%= post.image %> >
              <source src="<%= post.video %>" type='video/mp4' />
              <source src="<%= post.video %>" type='video/ogv' />
            </video>
          </div>
        <% elsif post.type == 'photo' %>
          <div class="timeline-user-box">
            <%= link_to image_tag(post.image, :class => "image_post"), individual_post_path(
            post_id: post.id, 
            provider: post.provider, 
            user: @page.id,
            post_type: @page.class.name), target: '_blank' %>
          </div>
        <% end %>
      <% end %>
      <div class="center">
        <%= post.text %>
      </div>
    <% when 'google_oauth2' %>
      <iframe
        id="ytplayer"
        type="text/html"
        width="100%"
        height="225"
        src="https://www.youtube.com/embed/<%= post.video %>"
        frameborder="0"
        allowfullscreen>
      </iframe>
      <% if post.text.present? %>
        <div class="center">
          <%= post.text %>
        </div>
      <% end %>
    <%end%>
        <br>
  </div>
  <div class="right">
  </div>
  <ul class="post_actions">
    <% if signed_in? %>
      <li class="tilt">
        <% if ActsAsVotable::Vote.where(votable_id: post.id).pluck(:voter_id).include?(current_user.id) %>
        <%= link_to image_tag("smilingpurple.fw.png", size: "24x24"),
                    dislike_shout_path(id: post.id,
                                    owner_id: @page.id,
                                    owner_type: @page.class.name,
                                    key: post.provider),
                    method: :delete, remote: true %>
        <% else %>
        <%= link_to image_tag("smilinggray.fw.png", size: "24x24"),
                    like_shout_path(id: post.id,
                                    owner_id: @page.id,
                                    owner_type: @page.class.name,
                                    key: post.provider),
                    method: :post, remote: true %>
        <% end %>
        <a id="shout-<%=post.id%>">
          <%= post.like_score(post.id) %>
        </a>
      </li>
    <% end %>
    <li class="vr"></li>
    <li class="tilt">
      <a data-toggle="modal" data-target="#<%=post.provider%>_modal_<%= post.id %>">
        <%#= image_tag("commentgray.fw.png", size: "24x24") %>
      </a>
      <a id="post_<%=post.id%>_comment_count">
        <%#= Comment.where(commentable_type: post.class.to_s, commentable_id: post.id).count %>
      </a>
    </li>
    <li class="vr"></li>
    <li class="tilt">
      <%= link_to image_tag("#{post.provider}blue.fw.png",
                            size: "24x24",
                            :class => "#{post.provider}_provider_logo"),
                  post.link_to_post,
                  :target => "_blank" %>
      <p class="timeStamp">
        <%= time_ago_in_words(post.created_time) %> ago
      </p>
    </li>
  </ul>
</div>
