<!-- *Start* Views/pages/about.html -->
<style type="text/css">
/*	.about-padding {
		margin-top: 8vh;
	}

  h3 {
    color: #fff;
  }*/

  .about_background_color {
    background: #af9aee;
  }

</style>

<% provide(:title, 'About Us') %>
<!-- 
<div class="Alignthisorelse">
  <div class="container about-padding">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 form-box wow fadeInUp">
        <div class="form-top-about">
          <div class="form-top-left">
            <h3><strong>About Nfuse</strong></h3>
              <p>Don't mind this page. Ongoing story ; )</p>
          </div>
          <div class="form-top-right">
            <a href="#"><%#= image_tag("aboutpagegray.fw.png", size: "65x65") %></a>
          </div>
        </div>
        <div class="form-bottom">
					<form role="form">
						<div class="Alignthisorelse">

							<h4>The Story</h4>
							<p>Nfuse is a young startup that is pioneering new types of social aggregation. What we are doing is completely different than any of today’s social platforms. The market Nfuse will serve is vast and the need is significant, so we have an extremely exciting opportunity ahead of us! We are still in stealth mode, so contact us to find out more, and we are confident you will see that what we are doing is visionary and exciting. We are building up our team now, and we are looking to hire the absolute best. </p>		

							<h4>About the Founders</h4>
							<p>Ted Martinez, Taylor Owen, and Matt Hamada founded Nfuse, a software company specializing in application and network aggregation. With Orion Engleton's help, Nfuse became a true “garage” startup, entirely created with zero funding and pure will power. From their garage, the founders took a simple idea of changing the way we use social media to a growing company with endless potential. If you would like to learn more about the founders or Nfuse, please send a message on the <%#= link_to "contact page", contacts_path %>.
							</p>
						</div>
					</form>
      	</div>
      </div>
    </div>
  </div>
</div> -->
<!-- *End* Views/pages/about.html -->

<% content_for :for_head do %>

<!--New head -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <!-- Javascript -->
  <%= javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'wow.min.js' %>
  <%= javascript_include_tag 'jquery.magnific-popup.min.js' %>
  <%= javascript_include_tag 'scripts.js' %>
<% end %>

<style type="text/css">
    .bs-example{
      margin-top: 20vh;
    }
    .about_color {
      color: #000;
    }
    .intro-par-about{
      font-size: 24px;
      color: #fff;
    }
    .about_p_white{
      color: #fff;
    }
</style>
        <!-- Loader -->
<div class="Alignthisorelse about_background_color">
<div class="loader">
  <div class="loader-img"></div>
</div>
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text">
          <%= image_tag('minimalistbeakert.fw.png', size: "160") %>
          <h1 class="wow fadeInLeftBig about_color"><strong> "Share & Discover Social Media"</strong></h1>
          <div class="description wow fadeInLeftBig">
            <p class="intro-par-about"><strong>
              We brought together all the places that you have friends and made sharing as simple as it should be. 
            </strong></p>
          </div>
          <div class="top-big-link wow fadeInUp">
            <%= link_to 'Log In', signin_path, class: "btn btn-link-1" %>
            <%= link_to 'Sign up', signup_path, class: "btn btn-link-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>

        <!-- Features -->
<div class="features-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 features section-description wow fadeIn">
        <h2 class="about_color"><strong>What is Nfuse?<strong></h2>
        <div class="divider-1 wow fadeInUp about_color"><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= image_tag('settingsblue.fw.png', size: "75") %>
        </div>
          <h3 class="about_color"><strong>Easy To Use<strong></h3>
          <p class="about_p_white">The site is so simply you can use it while checking your other 20 sites or just use our site becuase we made it that easy.</p>
      </div>
      <div class="col-sm-4 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= image_tag('compass2.fw.png', size: "75") %>
        </div>
          <h3 class="about_color"><strong>Discover Interest<strong></h3>
          <p class="about_p_white"> Nfuse allows you to find all the things that you might find cool or discover new worlds that your missing out on.</p>
      </div>
      <div class="col-sm-4 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= image_tag('Sharephotoblue.fw.png', size: "75") %>
        </div>
          <h3 class="about_color"><strong>Share Photos<strong></h3>
          <p class="about_p_white">Share a photo to the world of what you like or just post as many selfies as you possibly can for the rest of your life.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= image_tag('followblue.fw.png', size: "75") %>
        </div>
        <h3 class="about_color"><strong>Follow Friends<strong></h3>
        <p class="about_p_white">Remove the digital walls and view what everyone is posting on all social media.</p>
      </div>
      <div class="col-sm-4 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= image_tag('popularmedia.fw.png', size: "75") %>
        </div>
        <h3 class="about_color"><strong>Popular Media<strong></h3>
        <p class="about_p_white">We have the most popular media from all different social media site.</p>
      </div>
      <div class="col-sm-4 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= image_tag('socialsearch.fw.png', size: "75") %>
        </div>
        <h3 class="about_color"><strong>Social Search<strong></h3>
        <p class="about_p_white">Use our powerful seach engine to discover trendy social media post.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= image_tag('contentmashup.fw.png', size: "75") %>
        </div>
        <h3 class="about_color"><strong>Content Mashup<strong></h3>
        <p class="about_p_white">We have over eight social media site that you can easily view in a single feed.</p>
      </div>
      <div class="col-sm-4 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= image_tag('exclusivepost.fw.png', size: "75") %>
        </div>
        <h3 class="about_color"><strong>Exclusive Posts<strong></h3>
        <p class="about_p_white">Follow someone a see exclusive post that you can not see anywhere else.</p>
      </div>
      <div class="col-sm-4 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= image_tag('compass1.fw.png', size: "75") %>
        </div>
        <h3 class="about_color"><strong>Explore Categories<strong></h3>
        <p class="about_p_white">We created popular categories so you can easily explore the most popular social media.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 section-bottom-button wow fadeInUp">
        <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up now</a>
      </div>
    </div>
  </div>
</div>
        
        
        <!-- Ready in 4 Steps-->
<div class="section-container section-container-image-bg"> <!--  how-it-works-container  -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 how-it-works section-description wow fadeIn">
        <h2 class="about_color"><strong>Ready in 4 Steps<strong></h2>
        <div class="divider-1 wow fadeInUp about_color"><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp">
        <div class="how-it-works-box-icon">
          <%= image_tag('pencilblue.fw.png', size: "75") %>
          <span aria-hidden="true" class="how-it-works-step">1</span>
        </div>
          <h3 class="about_color"><strong>Sign up<strong></h3>
          <p class="about_p_white">Fill out the sign up form or come back later, we might be here.</p>
      </div>
      <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown">
        <div class="how-it-works-box-icon">
          <%= image_tag('Newpostin1.fw.png', size: "75") %>
          <span aria-hidden="true" class="how-it-works-step">2</span>
        </div>
          <h3 class="about_color"><strong>Nfuse Your Networks<strong></h3>
          <p class="about_p_white">Show off your cool post from other networks or create your own.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp">
        <div class="how-it-works-box-icon">
          <%= image_tag('createprofileblue.fw.png', size: "75") %>
          <span aria-hidden="true" class="how-it-works-step">3</span>
        </div>
          <h3 class="about_color"><strong>Create Profile<strong></h3>
          <p class="about_p_white"> Just upload your favorite picture of yourself or maybe a selfie.</p>
      </div>
      <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown">
        <div class="how-it-works-box-icon">
          <%= image_tag('easytouseblue.fw.png', size: "75") %>
          <span aria-hidden="true" class="how-it-works-step">4</span>
        </div>
          <h3 class="about_color"><strong>Njoy<strong></h3>
          <p class="about_p_white"> Sit back, relax, grab a beer and scroll for days or just enjoy the site.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 section-bottom-button wow fadeInUp">
        <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up now</a>
      </div>
    </div>
  </div>
</div>
        
        <!-- About us -->
<div class="about-us-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 about-us section-description wow fadeIn">
        <h2 class="about_color"><strong>The Nfuse Team!<strong></h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 about-us-box wow fadeInUp">
        <div class="about-us-photo">
          <%= image_tag('taylorpic.png') %>
          <div class="about-us-role">Visioneer</div>
        </div>
          <h3 class="about_color"><strong>Taylor Owen</strong></h3>
          <p class="about_p_white">Co-founder and a life enthusiast. "Be the change you wish to see in the world"</p>
      </div>
      <div class="col-sm-4 about-us-box wow fadeInDown">
        <div class="about-us-photo">
          <%= image_tag('tedpic.png') %>
          <div class="about-us-role">Developer</div>
        </div>
          <h3 class="about_color"><strong>Ted Martinez</strong></h3>
          <p class="about_p_white">Co-founder and life long learner. "If you don't give up on getting there you're never on the wrong road"</p>
      </div>
      <div class="col-sm-4 about-us-box wow fadeInUp">
        <div class="about-us-photo">
          <%= image_tag('einsteainpic.jpg', size: "160") %>
          <div class="about-us-role">Developer</div>
        </div>
          <h3 class="about_color"><strong>Albert Einstein<strong></h3>
          <p class="about_p_white">Programming enthusiast "Learning to dream in color and code"</p>
      </div>
    </div>
  </div>
</div>

        <!-- Call to action -->
<div class="section-container section-container-image-bg"> <!-- call-to-action-container  -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
        <h2><strong>Our Mission<strong></h2>
        <div class="divider-2 wow fadeInUp"><span></span></div>
        <p class="about_p_white">
          Our mission is to bring people and technology together in the easiest way possible. Nfuse is a brand new start up, so feel free to send us any questions or let us know if you'd like to join the team
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 section-bottom-button wow fadeInUp">
        <%= link_to 'Contact Us', contacts_path, class: "btn btn-link-1" %>
        <%= link_to 'Privacy', privacy_path, class: "btn btn-link-1" %>
      </div>
    </div>
  </div>
</div>
        <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 footer-copyright">
          &copy; Nfuse LLC. 2015
        </div>
      </div>
    </div>
  </footer>
</div>