<style>
  .container {
    padding-bottom: 100px;
  }
</style>
<div class="row">
  <%= render partial: "searches/show" %>
</div>
<div class="explore_filters">
  <%= render partial: "users/explore_filters" %>
</div><br>
<div class="Alignthisorelse">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("NatGeo.jpg", size: "150x150", title: "National Geographic"), nationalgeographic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("people.jpg", size: "150x150", title: "People Magazine"), peoplemagazine_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TIME.jpg", size: "150x150", title: "TIME Magazine"), timemagazine_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("sinow.jpg", size: "150x150", title: "Sports Illustrated"), sportsillustrated_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("HBO.jpg", size: "150x150", title: "HBO"), hbo_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1  features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Cosmopolitan.jpg", size: "150x150", title: "Cosmopolitan"), cosmopolitan_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("redbull.jpg", size: "150x150", title: "Redbull"), redbull_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("espn.jpg", size: "150x150", title: "ESPN"), espn_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("usweekly.jpg", size: "150x150", title: "US Weekly"), usweekly_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("SHO_Network.jpg", size: "150x150", title: "Showtime"), showtime_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Newsweek.jpg", size: "150x150", title: "Newsweek"), newsweek_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("EW.jpg", size: "150x150", title: "Entertainment Weekly"), entertainmentweekly_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("PopSci.jpg", size: "150x150", title: "Popular Science"), popularscience_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("vougemagazine.jpg", size: "150x150", title: "Vogue"), vogue_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Marvel.jpg", size: "150x150", title: "Marvel"), marvel_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("business.jpg", size: "150x150", title: "Bloomberg"), bloomberg_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("GQMagazine.jpg", size: "150x150", title: "GQMagazine"), gq_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("hgtv.jpg", size: "150x150", title: "HGTV"), hgtv_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Forbes.jpg", size: "150x150", title: "Forbes"), forbes_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("SyfyTV.jpg", size: "150x150", title: "Syfy"), syfy_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("FortuneMagazine.jpg", size: "150x150", title: "Fortune Magazine"), fortune_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("wired.jpg", size: "150x150", title: "Wired"), wired_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Enews.jpg", size: "150x150", title: "E! News"), enews_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("google.jpg", size: "150x150", title: "Google"), google_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("netflix.jpg", size: "150x150", title: "Netflix"), netflix_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("CNN.jpg", size: "150x150", title: "CNN"), cnn_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("TEDTalks.jpg", size: "150x150", title: "TED Talks"), tedtalks_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TeslaMotors.jpg", size: "150x150", title: "Tesla Mortos"), tesla_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("VictoriasSecret.jpg", size: "150x150", title: "Victoria's Secret"), victoriassecret_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Buzzfeed.jpg", size: "150x150", title: "Buzzfeed"), buzzfeed_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("reddit.jpg", size: "150x150", title: "Reddit"), reddit_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("CollegeHumor.jpg", size: "150x150", title: "College Humor"), collegehumor_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Microsoft.jpg", size: "150x150", title: "Microsoft"), microsoft_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Nike.jpg", size: "150x150", title: "Nike"), nike_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("IMDb.jpg", size: "150x150", title: "IMDb"), imdb_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Vevo.jpg", size: "150x150", title: "Vevo"), vevo_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("starwars.jpg", size: "150x150", title: "Star Wars"), starwars_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("NASA.jpg", size: "150x150", title: "NASA"), nasa_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Bravotv.jpg", size: "150x150", title: "Bravo"), bravo_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("MTV.jpg", size: "150x150", title: "MTV"), mtv_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("GolfDigest.jpg", size: "150x150", title: "Golf Digest"), golfdigest_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("NBA.jpg", size: "150x150", title: "NBA"), nba_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("NFL.jpg", size: "150x150", title: "NFL"), nfl_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("MLB.jpg", size: "150x150", title: "MLB"), mlb_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("NHL.jpg", size: "150x150", title: "NHL"), nhl_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TiffanyandCo.jpg", size: "150x150", title: "Tiffany & Co"), tiffany_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Inc.jpg", size: "150x150", title: "Inc. Magazine"), inc_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("makerbot.jpg", size: "150x150", title: "Makerbot"), makerbot_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Olympics.jpg", size: "150x150", title: "Olympics"), olympics_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TMZ.jpg", size: "150x150", title: "TMZ"), tmz_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Playboy.jpg", size: "150x150", title: "Playboy"), playboy_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("MaximMag.jpg", size: "150x150", title: "Maxim"), maxim_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ELLEmagazine.jpg", size: "150x150", title: "Elle Magazine"), elle_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("VanityFair.jpg", size: "150x150", title: "Vanity Fair"), vanityfair_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("brides.jpg", size: "150x150", title: "Brides"), brides_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("USATODAY.jpg", size: "150x150", title: "USA Today"), usatoday_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("ScienceChannel.jpg", size: "150x150", title: "Science Channel"), sciencechannel_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("FIFAWorldCup.jpg", size: "150x150", title: "FIFA"), fifa_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("gucci.jpg", size: "150x150", title: "Gucci"), gucci_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("hm.jpg", size: "150x150", title: "H&M"), handm_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("generalelectric.jpg", size: "150x150", title: "General Electric"), generalelectric_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("IBM.jpg", size: "150x150", title: "IBM"), ibm_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("armani.jpg", size: "150x150", title: "Armani"), armani_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("FOXSports.jpg", size: "150x150", title: "Fox Sports"), foxsports_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("CNBC.jpg", size: "150x150", title: "CNBC"), cnbc_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("FoodNetwork.jpg", size: "150x150", title: "Food Network"), foodnetwork_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("amazon.jpg", size: "150x150", title: "Amazon"), amazon_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Sony.jpg", size: "150x150", title: "Sony"), sony_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Gap.jpg", size: "150x150", title: "Gap"), gap_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("HISTORY.jpg", size: "150x150", title: "History"), history_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("RalphLauren.jpg", size: "150x150", title: "Ralph Lauren"), ralphlauren_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("TLC.jpg", size: "150x150", title: "TLC"), tlc_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Xbox.jpg", size: "150x150", title: "Xbox"), xbox_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("PlayStation.jpg", size: "150x150", title: "PlayStation"), playstation_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Nordstrom.jpg", size: "150x150", title: "Nordstrom"), nordstrom_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Entrepreneur.jpg", size: "150x150", title: "Entrepreneur"), entrepreneur_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("BananaRepublic.jpg", size: "150x150", title: "Banana Republic"), bananarepublic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("CalvinKlein.jpg", size: "150x150", title: "Calvin Klein"), calvinklein_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("UnderArmour.jpg", size: "150x150", title: "Under Armour"), underarmour_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("facebook.jpg", size: "150x150", title: "Facebook"), facebook_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Burberry.jpg", size: "150x150", title: "Burberry"), burberry_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("ABCNetwork.jpg", size: "150x150", title: "ABC"), abc_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("nbc.jpg", size: "150x150", title: "NBC"), nbc_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("cbs.jpg", size: "150x150", title: "CBS"), cbs_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("CW_network.jpg", size: "150x150", title: "The CW"), thecw_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("HUGOBOSS.jpg", size: "150x150", title: "Hugo Boss"), hugoboss_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("CBSNews.jpg", size: "150x150", title: "CBS News"), cbsnews_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("FoxNews.jpg", size: "150x150", title: "Fox News"), foxnews_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("NBCNews.jpg", size: "150x150", title: "NBC News"), nbcnews_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ABC.jpg", size: "150x150", title: "ABC News"), abcnews_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("CBSSports.jpg", size: "150x150", title: "CBS Sports"), cbssports_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("FOXTV.jpg", size: "150x150", title: "Fox"), fox_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Uber.jpg", size: "150x150", title: "Uber"), uber_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Forever21.jpg", size: "150x150", title: "Forever 21"), forever21_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("MLS.jpg", size: "150x150", title: "MLS"), mls_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("UrbanOutfitters.jpg", size: "150x150", title: "Urban Outfitters"), urbanoutfitters_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Allure_magazine.jpg", size: "150x150", title: "Allure"), allure_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("wmag.jpg", size: "150x150", title: "W Magazine"), wmagazine_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("SCENE.jpg", size: "150x150", title: "The Scene"), thescene_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("YouTube.jpg", size: "150x150", title: "YouTube"), youtube_path %>
        </div>
      </div>
    </div>
  </div>
</div>