<div class="explore_filters">
  <%= render partial: "users/explore_filters" %>
</div><br>
<div class="Alignthisorelse">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("NatGeo.jpg", size: "150x150"), nationalgeographic_path %>
        </div>
          <h3><strong>National Geographic<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("people.jpg", size: "150x150"), peoplemagazine_path %>
        </div>
          <h3><strong>People Magazine<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TIME.jpg", size: "150x150"), timemagazine_path %>
        </div>
          <h3><strong>Time Magazine<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("sinow.jpg", size: "150x150"), sportsillustrated_path %>
        </div>
          <h3><strong>Sports Illustrated<strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Cosmopolitan.jpg", size: "150x150"), cosmopolitan_path %>
        </div>
          <h3><strong>Cosmopolitan<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("redbull.jpg", size: "150x150"), redbull_path %>
        </div>
          <h3><strong>Redbull<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("espn.jpg", size: "150x150"), espn_path %>
        </div>
          <h3><strong>ESPN<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("usweekly.jpg", size: "150x150"), usweekly_path %>
        </div>
          <h3><strong>US Weekly<strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Newsweek.jpg", size: "150x150"), newsweek_path %>
        </div>
          <h3><strong>Newsweek<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("EW.jpg", size: "150x150"), entertainmentweekly_path %>
        </div>
          <h3><strong>Entertainment Weekly<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("PopSci.jpg", size: "150x150"), popularscience_path %>
        </div>
          <h3><strong>Popular Science<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("vougemagazine.jpg", size: "150x150"), vogue_path %>
        </div>
          <h3><strong>Vogue<strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("business.jpg", size: "150x150"), bloomberg_path %>
        </div>
          <h3><strong>Bloomberg<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("GQMagazine.jpg", size: "150x150"), gq_path %>
        </div>
          <h3><strong>GQ Magazine<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("hgtv.jpg", size: "150x150"), hgtv_path %>
        </div>
          <h3><strong>HGTV<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Forbes.jpg", size: "150x150"), forbes_path %>
        </div>
          <h3><strong>Forbes<strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("FortuneMagazine.jpg", size: "150x150"), fortune_path %>
        </div>
          <h3><strong>Fortune<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("wired.jpg", size: "150x150"), wired_path %>
        </div>
          <h3><strong>Wired<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Enews.jpg", size: "150x150"), enews_path %>
        </div>
          <h3><strong>E! News<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("google.jpg", size: "150x150"), google_path %>
        </div>
          <h3><strong>Google<strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("CNN.jpg", size: "150x150"), cnn_path %>
        </div>
          <h3><strong>CNN<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("TEDTalks.jpg", size: "150x150"), tedtalks_path %>
        </div>
          <h3><strong>TED Talks<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TeslaMotors.jpg", size: "150x150"), tesla_path %>
        </div>
          <h3><strong>Tesla<strong></h3>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("VictoriasSecret.jpg", size: "150x150"), victoriassecret_path %>
        </div>
          <h3><strong>Victoria's Secret<strong></h3>
      </div>
    </div>
  </div>
</div>