<div class="explore_filters">
  <%= render partial: "users/explore_filters" %>
</div><br>
<div class="Alignthisorelse">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("NatGeo.jpg", size: "150x150", title: "National Geographic"), nationalgeographic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("people.jpg", size: "150x150", title: "People Magazine"), peoplemagazine_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TIME.jpg", size: "150x150", title: "TIME Magazine"), timemagazine_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("sinow.jpg", size: "150x150", title: "Sports Illustrated"), sportsillustrated_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("HBO.jpg", size: "150x150", title: "HBO"), hbo_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1  features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Cosmopolitan.jpg", size: "150x150", title: "Cosmopolitan"), cosmopolitan_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("redbull.jpg", size: "150x150", title: "Redbull"), redbull_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("espn.jpg", size: "150x150", title: "ESPN"), espn_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("usweekly.jpg", size: "150x150", title: "US Weekly"), usweekly_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("SHO_Networks.jpg", size: "150x150", title: "Showtime"), showtime_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Newsweek.jpg", size: "150x150", title: "Newsweek"), newsweek_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("EW.jpg", size: "150x150", title: "Entertainment Weekly"), entertainmentweekly_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("PopSci.jpg", size: "150x150", title: "Popular Science"), popularscience_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("vougemagazine.jpg", size: "150x150", title: "Vogue"), vogue_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Marvel.jpg", size: "150x150", title: "Marvel"), marvel_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("business.jpg", size: "150x150", title: "Bloomberg"), bloomberg_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("GQMagazine.jpg", size: "150x150", title: "GQMagazine"), gq_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("hgtv.jpg", size: "150x150", title: "HGTV"), hgtv_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Forbes.jpg", size: "150x150", title: "Forbes"), forbes_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("SyfyTV.jpg", size: "150x150", title: "Syfy"), syfy_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("FortuneMagazine.jpg", size: "150x150", title: "Fortune Magazine"), fortune_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("wired.jpg", size: "150x150", title: "Wired"), wired_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Enews.jpg", size: "150x150", title: "E! News"), enews_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("google.jpg", size: "150x150", title: "Google"), google_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("netflix.jpg", size: "150x150", title: "Netflix"), netflix_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("CNN.jpg", size: "150x150", title: "CNN"), cnn_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("TEDTalks.jpg", size: "150x150", title: "TED Talks"), tedtalks_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TeslaMotors.jpg", size: "150x150", title: "Tesla Mortos"), tesla_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("VictoriasSecret.jpg", size: "150x150", title: "Victoria's Secret"), victoriassecret_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Buzzfeed.jpg", size: "150x150", title: "Buzzfeed"), buzzfeed_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("reddit.jpg", size: "150x150", title: "Reddit"), reddit_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("CollegeHumor.jpg", size: "150x150", title: "College Humor"), collegehumor_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Microsoft.jpg", size: "150x150", title: "Microsoft"), microsoft_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Nike.jpg", size: "150x150", title: "Nike"), nike_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("IMDb.jpg", size: "150x150", title: "IMDb"), imdb_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Vevo.jpg", size: "150x150", title: "Vevo"), vevo_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("starwars.jpg", size: "150x150", title: "Star Wars"), starwars_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("NASA.jpg", size: "150x150", title: "NASA"), nasa_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Bravotv.jpg", size: "150x150", title: "Bravo"), bravo_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("MTV.jpg", size: "150x150", title: "MTV"), mtv_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("GolfDigest.jpg", size: "150x150", title: "Golf Digest"), golfdigest_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("NBA.jpg", size: "150x150", title: "NBA"), nba_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("NFL.jpg", size: "150x150", title: "NFL"), nfl_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("MLB.jpg", size: "150x150", title: "MLB"), mlb_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("NHL.jpg", size: "150x150", title: "NHL"), nhl_path %>
        </div>
      </div>
    </div>
  </div>
</div>