<style>
  .container {
    padding-bottom: 100px;
  }
</style>
<div class="Alignthisorelse">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("katyperry.jpg", size: "150x150", title: "Katy Perry"), katyperry_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("BarackObama.jpg", size: "150x150", title: "Barack Obama"), barackobama_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("taylorswift13.jpg", size: "150x150", title: "Taylor Swift"), taylorswift_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("ladygaga.jpg", size: "150x150", title: "Lada Gaga"), ladygaga_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("jtimberlake.jpg", size: "150x150", title: "Justin Timberlake"), justintimberlake_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("britneyspears.jpg", size: "150x150", title: "Britney Spears"), brittneyspears_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("KimKardashian.jpg", size: "150x150", title: "Kim Kardashian"), kimkardashianwest_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("shakira.jpg", size: "150x150", title: "Shakira"), shakira_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("JLo.jpg", size: "150x150", title: "Jennifer Lopez"), jenniferlopez_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("selenagomez.jpg", size: "150x150", title: "Selena Gomez"), selenagomez_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ArianaGrande.jpg", size: "150x150", title: "Ariana Grande"), arianagrande_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("ddlovato.jpg", size: "150x150", title: "Demi Lovato"), demilovato_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("jimmyfallon.jpg", size: "150x150", title: "Jimmy Fallon"), jimmyfallon_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("KingJames.jpg", size: "150x150", title: "LeBron James"), lebronjames_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("OfficialAdele.jpg", size: "150x150", title: "Adele"), adele_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("BrunoMars.jpg", size: "150x150", title: "Bruno Mars"), brunomars_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("aliciakeys.jpg", size: "150x150", title: "Alicia Keys"), aliciakeys_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("MileyCyrus.jpg", size: "150x150", title: "Miley Cyrus"), mileyraycyrus_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("NICKIMINAJ.jpg", size: "150x150", title: "Nicki Minaj"), nickiminaj_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("EmWatson.jpg", size: "150x150", title: "Emma Watson"), emmawatson_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ActuallyNPH.jpg", size: "150x150", title: "Neil Patrick Harris"), neilpatrickharris_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("davidguetta.jpg", size: "150x150", title: "David Guetta"), davidguetta_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ConanOBrien.jpg", size: "150x150", title: "Conan OBrien"), conanobrien_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("KhloeKardashian.jpg", size: "150x150", title: "Khloe Kardashian"), khloekardashian_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("kourtneykardashian.jpg", size: "150x150", title: "Kourtney Kardashian"), kourtneykardashian_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("xtina.jpg", size: "150x150", title: "Christina Aguilera"), christinaaguilera_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Beyonce.jpg", size: "150x150", title: "Beyonce"), beyonce_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Oprah.jpg", size: "150x150", title: "Oprah Winfrey"), oprahwinfrey_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("realdepp.jpg", size: "150x150", title: "Johnny Depp"), johnnydepp_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ScarlettJOnline.jpg", size: "150x150", title: "Scarlett Johansson"), scarlettjohansson_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Madonna.jpg", size: "150x150", title: "Madonna"), madonna_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("jessicaalba.jpg", size: "150x150", title: "Jessica Alba"), jessicaalba_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("tomhanks.jpg", size: "150x150", title: "Tom Hanks"), tomhanks_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("meganfox.jpg", size: "150x150", title: "Megan Fox"), meganfox_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TigerWoods.jpg", size: "150x150", title: "Tiger Woods"), tigerwoods_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("blakelively.jpg", size: "150x150", title: "Blake Lively"), blakelively_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("LeoDiCaprio.jpg", size: "150x150", title: "Leonardo DiCaprio"), leonardodicaprio_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("EmmaStoneWeb.jpg", size: "150x150", title: "Emma Stone"), emmastone_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("JayZClassicBars.jpg", size: "150x150", title: "Jay Z"), jayz_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TheEllenShow.jpg", size: "150x150", title: "Ellen Degeneres"), ellendegeneres_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("sbullockweb.jpg", size: "150x150", title: "Sandra Bullock"), sandrabullock_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("AshleyMGreene.jpg", size: "150x150", title: "Ashley Greene"), ashleygreene_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("PortmanUpdate.jpg", size: "150x150", title: "Natalie Portman"), natalieportman_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("MsJenniferLaw.jpg", size: "150x150", title: "Jennifer Lawrence"), jenniferlawrence_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("katebosworth.jpg", size: "150x150", title: "Kate Bosworth"), katebosworth_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("CameronDiaz.jpg", size: "150x150", title: "Cameron Diaz"), camerondiaz_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("FloydMayweather.jpg", size: "150x150", title: "Floyd Mayweather"), floydmayweather_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("RWitherspoon.jpg", size: "150x150", title: "Reese Witherspoon"), reesewitherspoon_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("KateUpton.jpg", size: "150x150", title: "Kate Upton"), kateupton_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Peter_Dinklage.jpg", size: "150x150", title: "Peter Dinklage"), peterdinklage_path %>
        </div>
      </div>
    </div>
  </div>
</div>