<!-- TOP SEARCH AREA -->
<style>
  #explore_nav.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
}
</style>
<section id="explorehead" class="vcenter center container-fluid">
  <div class="vcell">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="brand-heading heavy">Explore</h1>
        <%= form_tag search_path, method: 'get', id: "home-search", class: "down search" do %>
          <% if signed_in? %>
            <div class="dropdown loggedin">
              <%= select_tag "selected_option", options_for_select([ "Nfusers", "Pages", "Posts" ], params[:selected_option]), id:"searchdrop" %>  
            </div>
          <% else %>
            <a class="ilink randomize loggedout" href="/random"><img src="/assets/dice.png" alt="random search"/></a>
          <% end %>
          <!-- <a class="gosearch" type="submit"><i class="fa fa-search"></i></a> -->
          <a class="ilink gosearch"><button type="submit"><i class=" fa fa-search"></i></button></a>
          <%= text_field_tag :search, params[:search], class: "searchform", placeholder: "#tags, @Users & Social Media" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bg"></div>
</section>

<section id="explore_nav" class="container-fluid clearfix">
  <nav id="user-nav" class="center navbar">
    <ul>
      <% if current_page?(nfusers_path) %>
        <li><%= link_to 'Nfusers', '/nfusers' , class: "btn btn-link-2", style: 'color:#00eebc' %></li>
      <% else %>
        <li><%= link_to 'Nfusers', '/nfusers' , class: "btn btn-link-2" %></li>
      <% end %>
      <% if current_page?( explore_user_path(current_user)) %>
        <li><%= link_to 'Pages', explore_user_path(current_user), class: "btn btn-link-2", style: 'color:#00eebc'  %></li>
      <% else %>
        <li><%= link_to 'Pages', explore_user_path(current_user), class: "btn btn-link-2" %></li>
      <% end %>
      <% if current_page?(explore_posts_path) %>
        <li><%= link_to 'Posts', '/explore_posts', class: "btn btn-link-2", style: 'color:#00eebc'  %></li>
      <% else %>
        <li><%= link_to 'Posts', '/explore_posts', class: "btn btn-link-2" %></li>
      <% end %>
    </ul>
  </nav>
</section>

<section id="explorelist" class="container-fluid clearfix">
  <div class="row">
    <article id="twitter_news" class="explorebox col-xs-12 col-sm-6 col-md-4 ">
      <%= link_to twitter_news_path do %>
        <h3>Twitter NEWS</h3>
        <p>News from Twitter.</p>
        <div class="bg"></div>
      <% end %>
    </article>
    <article id="viral_youtube" class="explorebox col-xs-12 col-sm-6 col-md-4 ">
      <%= link_to viral_youtube_path do %>
        <h3>Viral Youtube</h3>
        <p>Best on Youtube.</p>
        <div class="bg"></div>
      <% end %> 
    </article>
    <article id="youtube_music" class="explorebox col-xs-12 col-sm-6 col-md-4 ">
      <%= link_to youtube_music_path do %>
        <h3>Youtube Music</h3>
        <p>Top Music Videos.</p>
        <div class="bg"></div>
      <% end %>
    </article>
    <article id="youtube_trailers" class="explorebox col-xs-12 col-sm-6 col-md-4 ">
      <%= link_to youtube_trailers_path do %>
        <h3>Youtube Trailers</h3>
        <p>Cool Movie Trailers.</p>
        <div class="bg"></div>
      <% end %>
    </article>

</div>
</section>

<script>
// $(document).ready(function() {
//   $('body.nosearchbar').removeClass('nosearchbar').addClass('searchbar')
// });
</script>