<style>
  .container {
    padding-bottom: 100px;
  }
</style>
<div class="Alignthisorelse">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("armani.jpg", size: "150x150", title: "Armani"), armanifashion_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Burberry.jpg", size: "150x150", title: "Burberry"), burberryfashion_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("CalvinKlein.jpg", size: "150x150", title: "Calvin Klein"), calvinkleinfashion_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("CHANEL.jpg", size: "150x150", title: "CHANEL"), chanel_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Dior.jpg", size: "150x150", title: "Dior"), christiandior_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("LouboutinWorld.jpg", size: "150x150", title: "Christian Louboutin"), christianlouboutin_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("dolcegabbana.jpg", size: "150x150", title: "Dolce and Gabbana"), dolceandgabbana_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("dkny.jpg", size: "150x150", title: "DKNY"), dkny_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("ESCADA.jpg", size: "150x150", title: "Escada"), escada_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Fendi.jpg", size: "150x150", title: "Fendi"), fendi_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("gucci.jpg", size: "150x150", title: "Gucci"), guccifashion_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Prada.jpg", size: "150x150", title: "Prada"), prada_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("HUGOBOSS.jpg", size: "150x150", title: "Hugo Boss"), hugobossfashion_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("johnvarvatos.jpg", size: "150x150", title: "John Varvatos"), johnvarvatos_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("LaPerlaLingerie.jpg", size: "150x150", title: "La Perla Lingerie"), laperlalingerie_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("LouisVuitton.jpg", size: "150x150", title: "Louis Vuitton"), louisvuitton_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("ManoloBlahnik.jpg", size: "150x150", title: "Manolo Blahnik"), manoloblahnik_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Missoni.jpg", size: "150x150", title: "Missoni"), missoni_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("RalphLauren.jpg", size: "150x150", title: "Ralph Lauren"), ralphlaurenfashion_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("StellaMcCartney.jpg", size: "150x150", title: "Stella McCartney"), stellamccartney_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TOMFORD.jpg", size: "150x150", title: "Tom Ford"), tomford_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Versace.jpg", size: "150x150", title: "Versace"), versace_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("MichaelKors.jpg", size: "150x150", title: "Michael Kors"), michaelkors_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("RolandMouret.jpg", size: "150x150", title: "Roland Mouret"), rolandmouret_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <a data-toggle="modal" data-target="#new_request_modal">
            <%= image_tag('requestmore.png', title: "New Request", id: "request_more_hover") %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="new_request_modal" class="modal fade">
  <div class="modal-fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Did we miss someone?</h3>
        </div>
        <div class="modal-body-new-post">
          <div class="row-fluid">
            <div class="span12">
              <div class="span6">
                <div class="logowrapper">
                  <div class="Alignthisorelse">
                    <div class="container post-padding">
                      <div class="col-sm-6 form-box wow fadeInUp">
                        <div class="form-top-contacts">
                          <div class="form-top-left">
                            <h3><strong>Nprove Nfuse<strong></h3>
                            <p> Any advice you can give us about Nfuse would be awesome, Thank you. </p>
                          </div>
                          <div class="form-top-right">
                            <a href="#"><%= image_tag("contactfeedbackgray.fw.png", size: "65x65") %></a>
                          </div>
                        </div>
                        <div class="form-bottom">
                          <%= form_for Contact.new, html: {role: "form"} do |f| %>
                            <div class="form-group">
                              <%= f.text_field :full_name, :placeholder => "Full Name", class: "form-control input-lg", id:"form-full-name", type: "search" %>
                            </div>
                            <div class="form-group">
                              <%= f.text_field :email, :placeholder => "Email", class: "form-control input-lg", id:"form-email", type: "email" %>
                            </div>
                            <div class="form-group">
                              <%= f.text_area :message, :placeholder => "Message", class: "form-control input-lg", id:"form-message", type: "message" %>
                            </div>
                            <div style="display: none;">
                              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %><!-- this text box needs to be hidden-->
                            </div>
                            <p class ="center fb-par-btm"> If you need to contact us about anything besides feedback just fill out the form and we will get back to you as soon as possible. Nothing on your mind right now? Don’t worry, this form will be available for you to leave us your thoughts whenever you feel like it. </p>
                            <button type= "submit" class="btn">
                              Send!
                            </button>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>