<% provide(:title, 'Feedback') %>
<div class="container">
  <div class="containerMain">
<h1> We love your feedback! </h1>
<h2> What can we do to improve your Nfuse experience? </h2>
<p> We work hard to make Nfuse an easy and pleasant experience, that’s why we need your help to keep getting better. Any advice you could give us about Nfuse will be awesome, we look forward to hearing from you. Thanks! </p>


<div align="center" id="content-box">
  <h3>Send A Message</h3>

  <%= simple_form_for @feedback, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :first_name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-info" %>
    </div>
  <% end %>
</div>

<p> If you need to contact us about anything besides feedback just fill out the form and we will get back to you as soon as possible. Nothing on your mind right now? Don’t worry, this form will be available
for you to leave us your thoughts whenever you feel like it. </p>
</div>
</div>