<!-- *Start* Views/pages/home.html -->
<% if signed_in? %>
<!-- *START* Views/users/hub.html.erb  -->
<!--<div class="subNav">
<ul class="subNavList">
  <li>        
    <%= link_to root_path do %>
      <%= image_tag('molecule4.png', size: "32x32") %>
    <% end %>
    hub
  </li>
  <li>        
    <%= link_to explore_user_path(session[:user_id]) do %>
      <%= image_tag('educational27.png', size: "32x32") %>
    <% end %>
    explore
  </li>
</ul>
</div> -->
<div class="center block hub_container clearfix mosaicflow">
<% @timeline.each do |post| %>
    <%= render partial: "users/twitter_post", locals: {post: post} if post.is_a? Twitter::Post %>
    <%= render partial: "users/instagram_post", locals: {post: post} if post.is_a? Instagram::Post %>
    <%= render partial: "users/shout", locals: {shout: post } if post.is_a? Nfuse::Post %>
<% end %>
</div>
<!-- *End* Views/users/hub.html.erb  -->
<% else %> 

<div class="center">
<div class="center containerHome">
  

    <%= image_tag "Banner-logo.png", id: "banner"%>
 

    <h2 class="hero-text">
      "A Simpler Way To Connect"
    </h2>
    <div class="button" id="signupButton">
    <%= button_to "Join Nfuse", signup_path,
                              :class => "button", :method => :get %>
    </div>
    <div class="button" id="aboutButton">
    <%= button_to "Learn More", about_path,
                             :class => 'button', :method => :get %>
    </div>
    
  
                           
</div>

  <div class="containerContent">
  <div class="span_1_of_3 col">
    <h3 class="about">About</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porttitor quam in turpis pretium finibus. Vivamus ex libero, pretium ut diam eu, lacinia dapibus risus. Aenean varius fermentum egestas.</p>
  </div>
  <div class="col span_1_of_3">
    <h3 class="about">Features</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porttitor quam in turpis pretium finibus. Vivamus ex libero, pretium ut diam eu, lacinia dapibus risus. Aenean varius fermentum egestas. </p>
  </div> 
  <div class="col span_1_of_3">
      <h3 class="about">NFusers</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porttitor quam in turpis pretium finibus. Vivamus ex libero, pretium ut diam eu, lacinia dapibus risus. Aenean varius fermentum egestas. </p>
    </div>  
    </div>

  </div> 
  <% end %>
<!-- *End* Views/pages/home.html -->