<% if signed_in? %>

  <%= render file: "users/hub" %>
  <!--<div class="row">
    
    <div class="span12">
      <h1>Hub</h1>
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#home" role="tab" data-toggle="tab">Hub</a></li>
        <li><a href="#profile" role="tab" data-toggle="tab">Explore</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="Hub">
            <div class="span8">
              <h1><%= @title %></h1>
            </div>
        </div>
        <div class="tab-pane" id="Explore">
        </div>
      </div>
    </div>
  </div> -->
<% else %>
  <div class="center hero-unit hero">

    <%= image_tag "Banner-logo.png", id: "home banner"%>
 

    <h2 class="hero-text">
      "A Simpler Way To Connect"
    </h2>

    <%= link_to "Join Nfuse", signup_path,
                                class: "btn btn-large btn-info" %>

    <%= link_to "Learn more", about_path,
                                class: "learn-more btn btn-large btn-default" %>

  </div>

  
  
<% end %>