<div class="individual_post item" id="content-box-feed">
  <div class="post_main">
   <ul class="post_header">
     <% if @user.present? %>
       <li>
        <% if @post_entry.user.avatar_file_name.present? && @post_entry.user.avatar_file_name.include?('graph.facebook.com') %>
          <%= link_to image_tag(@post_entry.user.avatar_file_name, class: "user_profile_picture", size: "50", title: "#{ @post_entry.user.first_name}"), feed_user_path(@post_entry.user) %>
        <% else %>
         <%= link_to image_tag(@post_entry.user.avatar(:small), class: "user_profile_picture", size: "50", title: "#{ @post_entry.user.first_name}"), feed_user_path(@post_entry.user) %>
        <% end %>
       </li>
       <li class="user_name">
         <%= link_to "#{@post_entry.user.user_name}", feed_user_path(@post_entry.user) %>
       </li>
     <% else %>
       <li>
         <%= link_to image_tag("#{@post_entry.avatar}.jpg", :class => "user_profile_picture", size: "50x50"), "/#{@post_entry.page_link}" %>
       </li>
       <li class="user_name">
         <%= link_to truncate(@post_entry.username, length: 15), "/#{@post_entry.page_link}" %>
       </li>
     <% end %>
   </ul>
  </div>
  <div class="post_content">
    <% case @post_entry.provider %>
     <% when nil %>
       <%= render partial: 'activities/nfuse_entry', locals: {nfuse_entry: @post_entry} %>
     <% when "gplus" %>
       <%= render partial: 'activities/gplus_entry', locals: {gplus_entry: @post_entry} %>
     <% when "tumblr" %>
       <%= render partial: 'activities/tumblr_entry', locals: {tumblr_entry: @post_entry} %>
     <% when "facebook" %>
       <%= render partial: 'activities/facebook_entry', locals: {facebook_entry: @post_entry} %>
     <% when 'twitter' %>
       <%= render partial: 'activities/twitter_entry', locals: {twitter_entry: @post_entry} %>
     <% when 'youtube' %>
       <%= render partial: 'activities/youtube_entry', locals: {youtube_entry: @post_entry} %>
     <% when 'vimeo' %>
       <%= render partial: 'activities/vimeo_entry', locals: {vimeo_entry: @post_entry} %>
     <% when 'instagram' %>
       <%= render partial: 'activities/instagram_entry', locals: {instagram_entry: @post_entry} %>
     <% when 'pinterest' %>
       <%= render partial: 'activities/pinterest_entry', locals: {pinterest_entry: @post_entry} %>
     <% end %>
    <br>
  </div>
  <div class="right">
  </div>
  <ul class="post_actions">
    <li class="tilt">
      <% if ActsAsVotable::Vote.where(votable_id: @post_entry.id).pluck(:voter_id).include?(current_user.id) %>
      <%= link_to image_tag("smilingpurple.fw.png", size: "24x24"),
                  dislike_shout_path(id: @post_entry.id,
                                  owner_id: (@user ? @post_entry.user.id : @post_entry.id),
                                  key: @post_entry.provider),
                  method: :delete, remote: true %>
      <% else %>
      <%= link_to image_tag("smilinggray.fw.png", size: "24x24"),
                  like_shout_path(id: @post_entry.id,
                                  owner_id: (@user ? @post_entry.user.id : @post_entry.id),
                                  key: @post_entry.provider),
                  method: :post, remote: true %>
      <% end %>
    </li>
<!--     <li class="vr"></li>
    <li class="tilt">
      <a data-toggle="modal" data-target="#<%#=@post_entry.provider%>_modal_<%= @post_entry.id %>">
        <%#= image_tag("commentgray.fw.png", size: "24x24") %>
      </a>
      <a id="post_<%#=@post_entry.id%>_comment_count">
        <%#= Comment.where(commentable_type: @post_entry.class.to_s, commentable_id: @post_entry.id).count %>
      </a>
    </li> -->
    <li class="vr"></li>
    <li class="tilt">
      <%= link_to image_tag("#{@post_entry.provider}blue.fw.png",
                            size: "24x24",
                            :class => "#{@post_entry.provider}_provider_logo"),
                  @post_entry.link_to_post,
                  :target => "_blank" %>
      <p class="timeStamp">
        <%= time_ago_in_words(@post_entry.created_time) %> ago
      </p>
    </li>
  </ul>
</div>

