<style>
  .container {
    padding-bottom: 100px;
  }
</style>
<div class="Alignthisorelse">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("onedirection.jpg", size: "150x150", title: "One Direction"), onedirection_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("katyperry.jpg", size: "150x150", title: "Katy Perry"), katyperrymusic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Beyonce.jpg", size: "150x150", title: "Beyonce"), beyoncemusic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("taylorswift13.jpg", size: "150x150", title: "Taylor Swift"), taylorswiftmusic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("jtimberlake.jpg", size: "150x150", title: "Justin Timberlake"), justintimberlakemusic_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("IGGYAZALEA.jpg", size: "150x150", title: "Iggy Azalea"), iggyazalea_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("ArianaGrande.jpg", size: "150x150", title: "Ariana Grande"), arianagrandemusic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("MileyCyrus.jpg", size: "150x150", title: "Miley Cyrus"), mileycyrus_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Pharrell.jpg", size: "150x150", title: "Pharrell Williams"), pharrelwilliams_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Eminem.jpg", size: "150x150", title: "Eminem"), eminem_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("lordemusic.jpg", size: "150x150", title: "Lorde"), lorde_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("LukeBryanOnline.jpg", size: "150x150", title: "Luke Bryan"), lukebryan_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("samsmithworld.jpg", size: "150x150", title: "Sam Smith"), samsmith_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("johnlegend.jpg", size: "150x150", title: "John Legend"), johnlegend_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("OneRepublic.jpg", size: "150x150", title: "One Republic"), onerepublic_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Drake.jpg", size: "150x150", title: "Drake"), drake_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("jasonderulo.jpg", size: "150x150", title: "Jason Derulo"), jasonderulo_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("justinbieber.jpg", size: "150x150", title: "Justin Bieber"), justinbieber_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("imaginedragons.jpg", size: "150x150", title: "Imagine Dragons"), imaginedragons_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("FLAGALine.jpg", size: "150x150", title: "Florida Georgia Line"), floridageorgialine_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("NICKIMINAJ.jpg", size: "150x150", title: "Nicki Minaj"), nickiminajmusic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("5SOS.jpg", size: "150x150", title: "5 Seconds of Summer"), secondsofsummer_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ladygaga.jpg", size: "150x150", title: "Lady Gaga"), ladygagamusic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("pitbull.jpg", size: "150x150", title: "Pitbull"), pitbull_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("BrunoMars.jpg", size: "150x150", title: "Bruno Mars"), brunomarsmusic_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Jason_Aldean.jpg", size: "150x150", title: "Jason Aldean"), jasonaldean_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("maroon5.jpg", size: "150x150", title: "Maroon 5"), maroon5_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("chrisbrown.jpg", size: "150x150", title: "Chris Brown"), chrisbrown_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Meghan_Trainor.jpg", size: "150x150", title: "Meghan Trainor"), meghantrainor_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("bastilledan.jpg", size: "150x150", title: "Bastille"), bastille_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Avicii.jpg", size: "150x150", title: "Avicii"), avicii_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("ournameisMAGIC.jpg", size: "150x150", title: "Magic!"), magic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ddlovato.jpg", size: "150x150", title: "Demi Lovato"), demilovatomusic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("blakeshelton.jpg", size: "150x150", title: "Blake Shelton"), blakeshelton_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("coldplay.jpg", size: "150x150", title: "Coldplay"), coldplay_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("charli_xcx.jpg", size: "150x150", title: "Charli XCX"), charlixcx_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("NicoandVinz.jpg", size: "150x150", title: "Nico & Vinz"), nicoandvinz_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("RollingStones.jpg", size: "150x150", title: "The Rolling Stones"), therollingstones_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("shakira.jpg", size: "150x150", title: "Shakira"), shakiramusic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("passengermusic.jpg", size: "150x150", title: "Passenger"), passenger_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("BrantleyGilbert.jpg", size: "150x150", title: "Brantley Gilbert"), brantleygilbert_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("elliegoulding.jpg", size: "150x150", title: "Ellie Goulding"), elliegoulding_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("idinamenzel.jpg", size: "150x150", title: "Idina Menzel"), idinamenzel_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("selenagomez.jpg", size: "150x150", title: "Selena Gomez"), selenagomezmusic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("CalvinHarris.jpg", size: "150x150", title: "Calvin Harris"), calvinharris_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("michaelbuble.jpg", size: "150x150", title: "Michael Buble"), michaelbuble_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("michaeljackson.jpg", size: "150x150", title: "Michael Jackson"), michaeljackson_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("britneyspears.jpg", size: "150x150", title: "Britney Spears"), britneyspearsmusic_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("kelly_clarkson.jpg", size: "150x150", title: "Kelly Clarkson"), kellyclarkson_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("xtina.jpg", size: "150x150", title: "Christinaa Guilera"), christinaaguileramusic_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ericchurch.jpg", size: "150x150", title: "Eric Church"), ericchurch_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <a data-toggle="modal" data-target="#new_request_modal">
            <%= image_tag('requestmore.png', title: "New Request") %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="new_request_modal" class="modal fade">
  <div class="modal-fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Did we miss someone?</h3>
        </div>
        <div class="modal-body-new-post">
          <div class="row-fluid">
            <div class="span12">
              <div class="span6">
                <div class="logowrapper">
                  <div class="Alignthisorelse">
                    <div class="container post-padding">
                      <div class="col-sm-6 form-box wow fadeInUp">
                        <div class="form-top-contacts">
                          <div class="form-top-left">
                            <h3><strong>Nprove Nfuse<strong></h3>
                            <p> Any advice you can give us about Nfuse would be awesome, Thank you. </p>
                          </div>
                          <div class="form-top-right">
                            <a href="#"><%= image_tag("contactfeedbackgray.fw.png", size: "65x65") %></a>
                          </div>
                        </div>
                        <div class="form-bottom">
                          <%= form_for Contact.new, html: {role: "form"} do |f| %>
                            <div class="form-group">
                              <%= f.text_field :full_name, :placeholder => "Full Name", class: "form-control input-lg", id:"form-full-name", type: "search" %>
                            </div>
                            <div class="form-group">
                              <%= f.text_field :email, :placeholder => "Email", class: "form-control input-lg", id:"form-email", type: "email" %>
                            </div>
                            <div class="form-group">
                              <%= f.text_area :message, :placeholder => "Message", class: "form-control input-lg", id:"form-message", type: "message" %>
                            </div>
                            <div style="display: none;">
                              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %><!-- this text box needs to be hidden-->
                            </div>
                            <p class ="center fb-par-btm"> If you need to contact us about anything besides feedback just fill out the form and we will get back to you as soon as possible. Nothing on your mind right now? Don’t worry, this form will be available for you to leave us your thoughts whenever you feel like it. </p>
                            <button type= "submit" class="btn">
                              Send!
                            </button>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>