<style>
.tab-content {
    border-radius: 0px;
    padding: 0px 30px;
}
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
</style>
<section id="thehub" class="container-fluid clearfix">
  <nav id="user-nav" class="hub center navbar">
    <ul>
      <li><%= link_to 'All', root_path , class: "btn btn-link-2" %> </li>
      <li><%= link_to 'Nfusers', followed_nfusers_user_path(current_user) , class: "btn btn-link-2" %></li>
      <li><%= link_to 'Pages', followed_pages_user_path(current_user), class: "btn btn-link-2" %></li>
    </ul>
  </nav>
</section>
<section id="masonJar" class="clearfix">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <% @posts.each do |post| %>
    <% @post_entry = Notification::Timeline.new(post.votable_id, post.social_flag, User.find(post.owner_id)).construct %>
    <article class="item individual_post <%= @post_entry.provider %>_post0">
      <header class="post_header">
        <div class="user">
        <%= image_tag(@post_entry.user.avatar, class: 'user_profile_picture', size:'45x45', alt: 'P6pl2kfg normal') %>

          <a href="/"><%= @post_entry.user.user_name %></a>
        </div>
        <%= link_to @post_entry.link_to_entry, class: 'timeStamp', target: 'blank', title: 'Go to entry' do %>
          <i class="fa"></i> <%= time_ago_in_words(@post_entry.created_time) %>
        <% end %>
      </header>
        <% case post.social_flag %>
         <% when nil %>
           <%= render partial: 'activities/nfuse_entry', locals: {nfuse_entry: @post_entry} %>
         <% when "gplus" %>
           <%= render partial: 'activities/gplus_entry', locals: {gplus_entry: @post_entry} %>
         <% when "tumblr" %>
           <%= render partial: 'activities/tumblr_entry', locals: {tumblr_entry: @post_entry} %>
         <% when "facebook" %>
           <%= render partial: 'activities/facebook_entry', locals: {facebook_entry: @post_entry} %>
         <% when 'twitter' %>
           <%= render partial: 'activities/twitter_entry', locals: {twitter_entry: @post_entry} %>
         <% when 'youtube' %>
           <%= render partial: 'activities/youtube_entry', locals: {youtube_entry: @post_entry} %>
         <% when 'vimeo' %>
           <%= render partial: 'activities/vimeo_entry', locals: {vimeo_entry: @post_entry} %>
         <% when 'instagram' %>
           <%= render partial: 'activities/instagram_entry', locals: {instagram_entry: @post_entry} %>
         <% when 'pinterest' %>
           <%= render partial: 'activities/pinterest_entry', locals: {pinterest_entry: @post_entry} %>
         <% end %>

      <footer class="post_actions">
          <% if ActsAsVotable::Vote.where(votable_id: @post_entry.id).pluck(:voter_id).include?(current_user.id) %>
            <%= link_to dislike_shout_path(id: @post_entry.id, owner_id: @post_entry.user.id, owner_type: @post_entry.user.class.name, key: @post_entry.provider), {method: :delete, remote: true, class: 'likePost liked'} do %>
              <i class="fa"></i><span class="liked-<%= @post_entry.id %>"><%= ActsAsVotable::Vote.where(votable_id: @post_entry.id).count %></span>
            <% end %>
          <% else %>
            <%= link_to like_shout_path(id: @post_entry.id, owner_id: @post_entry.user.id, owner_type: @post_entry.user.class.name, key: @post_entry.provider), {method: :post, remote: true, class: 'likePost'} do %>
              <i class="fa"></i><span class="liked-<%= @post_entry.id %>"><%= ActsAsVotable::Vote.where(votable_id: @post_entry.id).count %></span>
            <% end %>
          <% end %>
      </footer>
    </article>
  <% end %>
</section>