


<% if params[:last_page] %>
  $('#profile-grid .nextBizPage').remove();
	<% @pages.each do |page| %>
    $('#profile-grid').append('<%= j render partial: "pages/page", locals: {page: page}  %>');
  <% end %>
  $('#profile-grid').append('<div id="request" class="individual_profile col-xs-12 col-sm-8 col-md-6 col-lg-"><div class="vcenter"><div class="vcell"><button type="button" class="btn btn-default default" data-toggle="modal" data-target="#requestmodal">Request Missing</button>
    </div></div></div>')
<% elsif params[:middle_page] %>
  $('#profile-grid .nextBizPage').remove();
	<% @pages.each do |page| %>
	  $('#profile-grid').append('<%= j render partial: "pages/page", locals: {page: page}  %>');
  <% end %>
  $('#profile-grid').append('<a href="/<%= params[:action] %>?page=<%= params[:page].to_i + 1 %>" data-remote="true" class="nextBizPage"></a>');
<% else %>
	<% @pages.each do |page| %>
	  $('#profile-grid').append('<%= j render partial: "pages/page", locals: {page: page}  %>');
  <% end %>
<% end %>