<style>
  .containerThingy {
    margin-top: 10px;
    padding-bottom: 100px;
  }
</style>
<% m = {} %>
<% m[:wired] = {image: 'wired', full_name: 'Wired', path: '/wired'} %>
<% m[:national_geographic] = {image: 'NatGeo', full_name: 'NatGeo', path: '/nationalgeographic'} %>
<% m[:people_magazine] = {image: 'people', full_name: 'People', path: '/peoplemagazine'} %>
<% m[:time_magazine] = {image: 'TIME', full_name: 'TIME', path: '/timemagazine'} %>
<% m[:sports_illustrated] = {image: 'sinow', full_name: 'Sports Illustrated', path: '/sportsillustrated'} %>
<% m[:cosmopolitan] = {image: 'Cosmopolitan', full_name: 'Cosmopolitan', path: '/cosmopolitan'} %>
<% m[:redbull] = {image: 'redbull', full_name: 'Redbull', path: '/redbull'} %>
<% m[:espn] = {image: 'espn', full_name: 'ESPN', path: '/espn'} %>
<% m[:us_weekly] = {image: 'usweekly', full_name: 'US Weekly', path: '/usweekly'} %>
<% m[:entertainment_weekly] = {image: 'EW', full_name: 'Entertainment', path: '/entertainmentweekly'} %>
<% m[:newsweek] = {image: 'Newsweek', full_name: 'Newsweek', path: '/newsweek'} %>
<% m[:popular_science] = {image: 'PopSci', full_name: 'PopSci', path: '/popularscience'} %>
<% m[:vogue] = {image: 'vougemagazine', full_name: 'Vogue', path: '/vogue'} %>
<% m[:bloomberg_businessweekly] = {image: 'business', full_name: 'Bloomberg', path: '/bloomberg'} %>
<% m[:gq] = {image: 'GQMagazine', full_name: 'GQ Magazine', path: '/gq'} %>
<% m[:hgtv] = {image: 'hgtv', full_name: 'HGTV', path: '/hgtv'} %>
<% m[:forbes_magazine] = {image: 'Forbes', full_name: 'Forbes', path: '/forbes'} %>
<% m[:fortune] = {image: 'FortuneMagazine', full_name: 'Fortune', path: '/fortune'} %>
<% m[:e_news] = {image: 'Enews', full_name: 'E! News', path: '/enews'} %>
<% m[:google] = {image: 'google', full_name: 'Google', path: '/google'} %>
<% m[:tedtalks] = {image: 'TEDTalks', full_name: 'TED Talks', path: '/tedtalks'} %>
<% m[:tesla] = {image: 'TeslaMotors', full_name: 'Tesla', path: '/tesla'} %>
<% m[:victorias_secret] = {image: 'VictoriasSecret', full_name: "Victoria's Secret", path: '/victoriassecret'} %>
<% m[:cnn] = {image: 'CNN', full_name: 'CNN', path: '/cnn'} %>
<% m[:hbo] = {image: 'HBO', full_name: 'HBO', path: '/hbo'} %>
<% m[:showtime] = {image: 'SHO_Network', full_name: 'Showtime', path: '/showtime'} %>
<% m[:marvel] = {image: 'Marvel', full_name: 'Marvel', path: '/marvel'} %>
<% m[:syfy] = {image: 'SyfyTV', full_name: 'Syfy', path: '/syfy'} %>
<% m[:netflix] = {image: 'netflix', full_name: 'Netflix', path: '/netflix'} %>
<% m[:buzzfeed] = {image: 'Buzzfeed', full_name: 'Buzzfeed', path: '/buzzfeed'} %>
<% m[:reddit] = {image: 'reddit', full_name: 'Reddit', path: '/reddit'} %>
<% m[:collegehumor] = {image: 'CollegeHumor', full_name: 'CollegeH umor', path: '/collegehumor'} %>
<% m[:microsoft] = {image: 'Microsoft', full_name: 'Microsoft', path: '/microsoft'} %>
<% m[:nike] = {image: 'Nike', full_name: 'Nike', path: '/nike'} %>
<% m[:imdb] = {image: 'IMDb', full_name: 'IMDb', path: '/imdb'} %>
<% m[:vevo] = {image: 'Vevo', full_name: 'Vevo', path: '/vevo'} %>
<% m[:starwars] = {image: 'starwars', full_name: 'Star Wars', path: '/starwars'} %>
<% m[:nasa] = {image: 'NASA', full_name: 'NASA', path: '/nasa'} %>
<% m[:bravo] = {image: 'Bravotv', full_name: 'Bravo', path: '/bravo'} %>
<% m[:mtv] = {image: 'MTV', full_name: 'MTV', path: '/mtv'} %>
<% m[:golfdigest] = {image: 'GolfDigest', full_name: 'Golf Digest', path: '/golfdigest'} %>
<% m[:nba] = {image: 'NBA', full_name: 'NBA', path: '/nba'} %>
<% m[:nfl] = {image: 'NFL', full_name: 'NFL', path: '/nfl'} %>
<% m[:mlb] = {image: 'MLB', full_name: 'MLB', path: '/mlb'} %>
<% m[:nhl] = {image: 'NHL', full_name: 'NHL', path: '/nhl'} %>
<% m[:inc] = {image: 'Inc', full_name: 'Inc', path: '/inc'} %>
<% m[:makerbot] = {image: 'makerbot', full_name: 'Makerbot', path: '/makerbot'} %>
<% m[:olympics] = {image: 'Olympics', full_name: 'Olympics', path: '/olympics'} %>
<% m[:tmz] = {image: 'TMZ', full_name: 'TMZ', path: '/tmz'} %>
<% m[:tiffany] = {image: 'TiffanyandCo', full_name: 'Tiffany & Co', path: '/tiffany'} %>
<% m[:playboy] = {image: 'Playboy', full_name: 'Playboy', path: '/playboy'} %>
<% m[:maxim] = {image: 'MaximMag', full_name: 'Maxim', path: '/maxim'} %>
<% m[:elle] = {image: 'ELLEmagazine', full_name: 'ELLE', path: '/elle'} %>
<% m[:vanityfair] = {image: 'VanityFair', full_name: 'Vanity Fair', path: '/vanityfair'} %>
<% m[:brides] = {image: 'brides', full_name: 'Brides', path: '/brides'} %>
<% m[:usatoday] = {image: 'USATODAY', full_name: 'USA TODAY', path: '/usatoday'} %>
<% m[:sciencechannel] = {image: 'ScienceChannel', full_name: 'Science Channel', path: '/sciencechannel'} %>
<% m[:fifa] = {image: 'FIFAWorldCup', full_name: 'FIFA', path: '/fifa'} %>
<% m[:gucci] = {image: 'gucci', full_name: 'Gucci', path: '/gucci'} %>
<% m[:handm] = {image: 'hm', full_name: 'H & M', path: '/handm'} %>
<% m[:generalelectric] = {image: 'generalelectric', full_name: 'General Electric', path: '/generalelectric'} %>
<% m[:armani] = {image: 'armani', full_name: 'Armani', path: '/armani'} %>
<% m[:ibm] = {image: 'IBM', full_name: 'IBM', path: '/ibm'} %>
<% m[:foxsports] = {image: 'FOXSports', full_name: 'FOX Sports', path: '/foxsports'} %>
<% m[:cnbc] = {image: 'CNBC', full_name: 'CNBC', path: '/cnbc'} %>
<% m[:amazon] = {image: 'amazon', full_name: 'Amazon', path: '/amazon'} %>
<% m[:food] = {image: 'FoodNetwork', full_name: 'Food Network', path: '/foodnetwork'} %>
<% m[:sony] = {image: 'Sony', full_name: 'Sony', path: '/sony'} %>
<% m[:gap] = {image: 'Gap', full_name: 'Gap', path: '/gap'} %>
<% m[:history] = {image: 'HISTORY', full_name: 'History', path: '/history'} %>
<% m[:ralph] = {image: 'RalphLauren', full_name: 'Ralph Lauren', path: '/ralphlauren'} %>
<% m[:tlc] = {image: 'TLC', full_name: 'TLC', path: '/tlc'} %>
<% m[:xbox] = {image: 'Xbox', full_name: 'Xbox', path: '/xbox'} %>
<% m[:playstation] = {image: 'PlayStation', full_name: 'PlayStation', path: '/playstation'} %>
<% m[:nordstrom] = {image: 'Nordstrom', full_name: 'Nordstrom', path: '/nordstrom'} %>
<% m[:entrepreneur] = {image: 'Entrepreneur', full_name: 'Entrepreneur', path: '/entrepreneur'} %>
<% m[:bananarepublic] = {image: 'BananaRepublic', full_name: 'Banana Republic', path: '/bananarepublic'} %>
<% m[:calvinklein] = {image: 'CalvinKlein', full_name: 'Calvin Klein', path: '/calvinklein'} %>
<% m[:underarmour] = {image: 'UnderArmour', full_name: 'Under Armour', path: '/underarmour'} %>
<% m[:facebook] = {image: 'facebook', full_name: 'Facebook', path: '/facebook'} %>
<% m[:burberry] = {image: 'Burberry', full_name: 'Burberry', path: '/burberry'} %>
<% m[:abc] = {image: 'ABCNetwork', full_name: 'ABC', path: '/abc'} %>
<% m[:nbc] = {image: 'nbc', full_name: 'NBC', path: '/nbc'} %>
<% m[:cbs] = {image: 'cbs', full_name: 'CBS', path: '/cbs'} %>
<% m[:thecw] = {image: 'CW_network', full_name: 'The CW', path: '/thecw'} %>
<% m[:hugoboss] = {image: 'HUGOBOSS', full_name: 'Hugo Boss', path: '/hugoboss'} %>
<% m[:cbsnews] = {image: 'CBSNews', full_name: 'CBS News', path: '/cbsnews'} %>
<% m[:foxnews] = {image: 'FoxNews', full_name: 'Fox News', path: '/foxnews'} %>
<% m[:nbcnews] = {image: 'NBCNews', full_name: 'NBC News', path: '/nbcnews'} %>
<% m[:abcnews] = {image: 'ABC', full_name: 'ABC News', path: '/abcnews'} %>
<% m[:cbssports] = {image: 'CBSSports', full_name: 'CBS Sports', path: '/cbssports'} %>
<% m[:fox] = {image: 'FOXTV', full_name: 'FOX', path: '/fox'} %>
<% m[:uber] = {image: 'Uber', full_name: 'Uber', path: '/uber'} %>
<% m[:forever21] = {image: 'Forever21', full_name: 'Forever 21', path: '/forever21'} %>
<% m[:mls] = {image: 'MLS', full_name: 'MLS', path: '/mls'} %>
<% m[:urbanoutfitters] = {image: 'UrbanOutfitters', full_name: 'Urban Outfitters', path: '/urbanoutfitters'} %>
<% m[:allure] = {image: 'Allure_magazine', full_name: 'Allure', path: '/allure'} %>
<% m[:wmagazine] = {image: 'wmag', full_name: 'W Magazine', path: '/wmagazine'} %>
<% m[:thescene] = {image: 'SCENE', full_name: 'The Scene', path: '/thescene'} %>
<% m[:youtube] = {image: 'YouTube', full_name: 'YouTube', path: '/youtube'} %>
<% m[:katyperry] = {image: 'katyperry', full_name: 'Katy Perry', path: '/katyperry'} %>
<% m[:barackobama] = {image: 'BarackObama', full_name: 'Barack Obama', path: '/barackobama'} %>
<% m[:taylorswift] = {image: 'taylorswift13', full_name: 'Taylor Swift', path: '/taylorswift'} %>
<% m[:ladygaga] = {image: 'ladygaga', full_name: 'Lady Gaga', path: '/ladygaga'} %>
<% m[:justintimberlake] = {image: 'jtimberlake', full_name: 'Justin Timberlake', path: '/justintimberlake'} %>
<% m[:britneyspears] = {image: 'britneyspears', full_name: 'Britney Spears', path: '/britneyspears'} %>
<% m[:kimkardashianwest] = {image: 'KimKardashian', full_name: 'Kim Kardashian', path: '/kimkardashianwest'} %>
<% m[:shakira] = {image: 'shakira', full_name: 'Shakira', path: '/shakira'} %>
<% m[:jenniferlopez] = {image: 'JLo', full_name: 'Jennifer Lopez', path: '/jenniferlopez'} %>
<% m[:selenagomez] = {image: 'selenagomez', full_name: 'Selena Gomez', path: '/selenagomez'} %>
<% m[:arianagrande] = {image: 'ArianaGrande', full_name: 'Ariana Grande', path: '/arianagrande'} %>
<% m[:demilovato] = {image: 'ddlovato', full_name: 'Demi Lovato', path: '/demilovato'} %>
<% m[:jimmyfallon] = {image: 'jimmyfallon', full_name: 'Jimmy Fallon', path: '/jimmyfallon'} %>
<% m[:lebronjames] = {image: 'KingJames', full_name: 'LeBron James', path: '/lebronjames'} %>
<% m[:adele] = {image: 'OfficialAdele', full_name: 'Adele', path: '/adele'} %>
<% m[:brunomars] = {image: 'BrunoMars', full_name: 'Bruno Mars', path: '/brunomars'} %>
<% m[:aliciakeys] = {image: 'aliciakeys', full_name: 'Alicia Keys', path: '/aliciakeys'} %>
<% m[:mileyraycyrus] = {image: 'MileyCyrus', full_name: 'Miley Cyrus', path: '/mileyraycyrus'} %>
<% m[:nickiminaj] = {image: 'NICKIMINAJ', full_name: 'Nicki Minaj', path: '/nickiminaj'} %>
<% m[:emmawatson] = {image: 'EmWatson', full_name: 'Emma Watson', path: '/emmawatson'} %>
<% m[:neilpatrickharris] = {image: 'ActuallyNPH', full_name: 'Neil Patrick Harris', path: '/neilpatrickharris'} %>
<% m[:davidguetta] = {image: 'davidguetta', full_name: 'David Guetta', path: '/davidguetta'} %>
<% m[:conanobrien] = {image: 'ConanOBrien', full_name: 'Conan OBrien', path: '/conanobrien'} %>
<% m[:khloekardashian] = {image: 'KhloeKardashian', full_name: 'Khloe Kardashian', path: '/khloekardashian'} %>
<% m[:kourtneykardashian] = {image: 'kourtneykardashian', full_name: 'Kourtney Kardashian', path: '/kourtneykardashian'} %>
<% m[:christinaaguilera] = {image: 'xtina', full_name: 'Christina Aguilera', path: '/christinaaguilera'} %>
<% m[:beyonce] = {image: 'Beyonce', full_name: 'Beyonce', path: '/beyonce'} %>
<% m[:oprahwinfrey] = {image: 'Oprah', full_name: 'Oprah Winfrey', path: '/oprahwinfrey'} %>
<% m[:johnnydepp] = {image: 'realdepp', full_name: 'Johnny Depp', path: '/johnnydepp'} %>
<% m[:scarlettjohansson] = {image: 'ScarlettJOnline', full_name: 'Scarlett Johansson', path: '/scarlettjohansson'} %>
<% m[:madonna] = {image: 'Madonna', full_name: 'Madonna', path: '/madonna'} %>
<% m[:tomhanks] = {image: 'tomhanks', full_name: 'Tom Hanks', path: '/tomhanks'} %>
<% m[:jessicaalba] = {image: 'jessicaalba', full_name: 'Jessica Alba', path: '/jessicaalba'} %>
<% m[:meganfox] = {image: 'meganfox', full_name: 'Megan Fox', path: '/meganfox'} %>
<% m[:tigerwoods] = {image: 'TigerWoods', full_name: 'Tiger Woods', path: '/tigerwoods'} %>
<% m[:blakelively] = {image: 'blakelively', full_name: 'Blake Lively', path: '/blakelively'} %>
<% m[:leonardodicaprio] = {image: 'LeoDiCaprio', full_name: 'Leonardo DiCaprio', path: '/leonardodicaprio'} %>
<% m[:emmastone] = {image: 'EmmaStoneWeb', full_name: 'Emma Stone', path: '/emmastone'} %>
<% m[:jayz] = {image: 'JayZClassicBars', full_name: 'jay Z', path: '/jayz'} %>
<% m[:ellendegeneres] = {image: 'TheEllenShow', full_name: 'Ellen DeGeneres', path: '/ellendegeneres'} %>
<% m[:sandrabullock] = {image: 'sbullockweb', full_name: 'Sandra Bullock', path: '/sandrabullock'} %>
<% m[:ashleygreene] = {image: 'AshleyMGreene', full_name: 'Ashley Greene', path: '/ashleygreene'} %>
<% m[:natalieportman] = {image: 'PortmanUpdate', full_name: 'Natalie Portman', path: '/natalieportman'} %>
<% m[:jenniferlawrence] = {image: 'MsJenniferLaw', full_name: 'Jennifer Lawrence', path: '/jenniferlawrence'} %>
<% m[:katebosworth] = {image: 'katebosworth', full_name: 'Kate Bosworth', path: '/katebosworth'} %>
<% m[:camerondiaz] = {image: 'CameronDiaz', full_name: 'Cameron Diaz', path: '/camerondiaz'} %>
<% m[:milakunis] = {image: 'Milla_Kunis', full_name: 'Milla Kunis', path: '/milakunis'} %>
<% m[:floydmayweather] = {image: 'FloydMayweather', full_name: 'Floyd Mayweather', path: '/floydmayweather'} %>
<% m[:reesewitherspoon] = {image: 'RWitherspoon', full_name: 'Reese Witherspoon', path: '/reesewitherspoon'} %>
<% m[:kateupton] = {image: 'KateUpton', full_name: 'Kate Upton', path: '/kateupton'} %>
<% m[:peterdinklage] = {image: 'Peter_Dinklage', full_name: 'Peter Dinklage', path: '/peterdinklage'} %>
<% m[:armanifashion] = {image: 'armani', full_name: 'Armani', path: '/armanifashion'} %>
<% m[:burberryfashion] = {image: 'Burberry', full_name: 'Burberry', path: '/burberryfashion'} %>
<% m[:calvinkleinfashion] = {image: 'CalvinKlein', full_name: 'Calvin Klein', path: '/calvinkleinfashion'} %>
<% m[:chanel] = {image: 'CHANEL', full_name: 'CHANEL', path: '/chanel'} %>
<% m[:christiandior] = {image: 'Dior', full_name: 'Dior', path: '/christiandior'} %>
<% m[:christianlouboutin] = {image: 'LouboutinWorld', full_name: 'Christian Louboutin', path: '/christianlouboutin'} %>
<% m[:dolceandgabbana] = {image: 'dolcegabbana', full_name: 'Dolce and Gabbana', path: '/dolceandgabbana'} %>
<% m[:dkny] = {image: 'dkny', full_name: 'DKNY', path: '/dkny'} %>
<% m[:escada] = {image: 'ESCADA', full_name: 'ESCADA', path: '/escada'} %>
<% m[:fendi] = {image: 'Fendi', full_name: 'Fendi', path: '/fendi'} %>
<% m[:guccifashion] = {image: 'gucci', full_name: 'Gucci', path: '/guccifashion'} %>
<% m[:prada] = {image: 'Prada', full_name: 'Prada', path: '/prada'} %>
<% m[:hugobossfashion] = {image: 'HUGOBOSS', full_name: 'HUGO BOSS', path: '/hugobossfashion'} %>
<% m[:johnvarvatos] = {image: 'johnvarvatos', full_name: 'John Varvatos', path: '/johnvarvatos'} %>
<% m[:laperlalingerie] = {image: 'LaPerlaLingerie', full_name: 'La Perla Lingerie', path: '/laperlalingerie'} %>
<% m[:louisvuitton] = {image: 'LouisVuitton', full_name: 'Louis Vuitton', path: '/louisvuitton'} %>
<% m[:manoloblahnik] = {image: 'ManoloBlahnik', full_name: 'Manolo Blahnik', path: '/manoloblahnik'} %>
<% m[:missoni] = {image: 'Missoni', full_name: 'Missoni', path: '/missoni'} %>
<% m[:ralphlaurenfashion] = {image: 'RalphLauren', full_name: 'Ralph Lauren', path: '/ralphlaurenfashion'} %>
<% m[:rolandmouret] = {image: 'RolandMouret', full_name: 'Roland Mouret', path: '/rolandmouret'} %>
<% m[:stellamccartney] = {image: 'StellaMcCartney', full_name: 'Stella McCartney', path: '/stellamccartney'} %>
<% m[:tomford] = {image: 'TOMFORD', full_name: 'TOM FORD', path: '/tomford'} %>
<% m[:versace] = {image: 'Versace', full_name: 'Versace', path: '/versace'} %>
<% m[:michaelkors] = {image: 'MichaelKors', full_name: 'Michael Kors', path: '/michaelkors'} %>
<% m[:allrecipes] = {image: 'Allrecipes', full_name: 'All Recipes', path: '/allrecipes'} %>
<% m[:cookingdotcom] = {image: 'CookingCom', full_name: 'Cooking.com', path: '/cookingdotcom'} %>
<% m[:foodnetwork] = {image: 'FoodNetwork', full_name: 'Food Network', path: '/foodnetworkchannel'} %>
<% m[:thekitchn] = {image: 'thekitchn', full_name: 'The Kitchn', path: '/thekitchn'} %>
<% m[:opentable] = {image: 'OpenTable', full_name: 'Open Table', path: '/opentable'} %>
<% m[:tasteofhome] = {image: 'tasteofhome', full_name: 'Taste Of Home', path: '/tasteofhome'} %>
<% m[:epicurious] = {image: 'epicurious', full_name: 'Epicurious', path: '/epicurious'} %>
<% m[:grubhub] = {image: 'GrubHub', full_name: 'Grub Hub', path: '/grubhub'} %>
<% m[:seamless] = {image: 'Seamless', full_name: 'Seamless', path: '/seamless'} %>
<% m[:yummly] = {image: 'yummly', full_name: 'Yummly', path: '/yummly'} %>
<% m[:huffingtonpostfood] = {image: 'HuffPostFood', full_name: 'Huffington Post Food', path: '/huffingtonpostfood'} %>
<% m[:fooddotcom] = {image: 'Fooddotcom', full_name: 'Food.com', path: '/fooddotcom'} %>
<% m[:bonappetit] = {image: 'bonappetit', full_name: 'BonAppetit.com', path: '/bonappetit'} %>
<% m[:weightwatchers] = {image: 'WeightWatchers', full_name: 'Weight Watchers', path: '/weightwatchers'} %>
<% m[:foodandwine] = {image: 'FoodAndWineMag', full_name: 'Food And Wine', path: '/foodandwine'} %>
<% m[:thechew] = {image: 'thechew', full_name: 'The Chew', path: '/thechew'} %>
<% m[:americastestkitchen] = {image: 'TestKitchen', full_name: 'Americas Test Kitchen', path: '/americastestkitchen'} %>
<% m[:ironchefamerica] = {image: 'IronChefAmerica', full_name: 'Iron Chef America', path: '/ironchefamerica'} %>
<% m[:onedirection] = {image: 'onedirection', full_name: 'One Direction', path: '/onedirection'} %>
<% m[:katyperrymusic] = {image: 'katyperry', full_name: 'Katy Perry', path: '/katyperrymusic'} %>
<% m[:beyoncemusic] = {image: 'Beyonce', full_name: 'Beyonce', path: '/beyoncemusic'} %>
<% m[:taylorswiftmusic] = {image: 'taylorswift13', full_name: 'Taylor Swift', path: '/taylorswiftmusic'} %>
<% m[:justintimberlakemusic] = {image: 'jtimberlake', full_name: 'Justin Timberlake', path: '/justintimberlakemusic'} %>
<% m[:iggyazalea] = {image: 'IGGYAZALEA', full_name: 'Iggy Azalea', path: '/iggyazalea'} %>
<% m[:arianagrandemusic] = {image: 'ArianaGrande', full_name: 'Ariana Grande', path: '/arianagrandemusic'} %>
<% m[:mileycyrus] = {image: 'MileyCyrus', full_name: 'Miley Cyrus', path: '/mileycyrus'} %>
<% m[:pharrelwilliams] = {image: 'Pharrell', full_name: 'Pharrell Williams', path: '/pharrelwilliams'} %>
<% m[:eminem] = {image: 'Eminem', full_name: 'Eminem', path: '/eminem'} %>
<% m[:lorde] = {image: 'lordemusic', full_name: 'Lorde', path: '/lorde'} %>
<% m[:lukebryan] = {image: 'LukeBryanOnline', full_name: 'Luke Bryan', path: '/lukebryan'} %>
<% m[:samsmith] = {image: 'samsmithworld', full_name: 'Sam Smith', path: '/samsmith'} %>
<% m[:johnlegend] = {image: 'johnlegend', full_name: 'John Legend', path: '/johnlegend'} %>
<% m[:onerepublic] = {image: 'OneRepublic', full_name: 'One Republic', path: '/onerepublic'} %>
<% m[:drake] = {image: 'Drake', full_name: 'Drake', path: '/drake'} %>
<% m[:jasonderulo] = {image: 'jasonderulo', full_name: 'Jason Derulo', path: '/jasonderulo'} %>
<% m[:justinbieber] = {image: 'justinbieber', full_name: 'Justin Bieber', path: '/justinbieber'} %>
<% m[:imaginedragons] = {image: 'imaginedragons', full_name: 'Imagine Dragons', path: '/imaginedragons'} %>
<% m[:floridageorgialine] = {image: 'FLAGALine', full_name: 'Florida Georgia Line', path: '/floridageorgialine'} %>
<% m[:nickiminajmusic] = {image: 'NICKIMINAJ', full_name: 'Nicki Minaj', path: '/nickiminajmusic'} %>
<% m[:secondsofsummer] = {image: '5SOS', full_name: '5 Seconds of Summer', path: '/secondsofsummer'} %>
<% m[:ladygagamusic] = {image: 'ladygaga', full_name: 'Lady Gaga', path: '/ladygagamusic'} %>
<% m[:pitbull] = {image: 'pitbull', full_name: 'Pitbull', path: '/pitbull'} %>
<% m[:brunomarsmusic] = {image: 'BrunoMars', full_name: 'Bruno Mars', path: '/brunomarsmusic'} %>
<% m[:jasonaldean] = {image: 'Jason_Aldean', full_name: 'Jason Aldean', path: '/jasonaldean'} %>
<% m[:maroon5] = {image: 'maroon5', full_name: 'Maroon 5', path: '/maroon5'} %>
<% m[:chrisbrown] = {image: 'chrisbrown', full_name: 'Chris Brown', path: '/chrisbrown'} %>
<% m[:meghantrainor] = {image: 'Meghan_Trainor', full_name: 'Meghan Trainor', path: '/meghantrainor'} %>
<% m[:bastille] = {image: 'bastilledan', full_name: 'Bastille', path: '/bastille'} %>
<% m[:avicii] = {image: 'Avicii', full_name: 'Avicii', path: '/avicii'} %>
<% m[:magic] = {image: 'ournameisMAGIC', full_name: 'Magic!', path: '/magic'} %>
<% m[:demilovatomusic] = {image: 'ddlovato', full_name: 'Demi Lovato', path: '/demilovatomusic'} %>
<% m[:blakeshelton] = {image: 'blakeshelton', full_name: 'Blake Shelton', path: '/blakeshelton'} %>
<% m[:coldplay] = {image: 'coldplay', full_name: 'Coldplay', path: '/coldplay'} %>
<% m[:charlixcx] = {image: 'charli_xcx', full_name: 'Charli XCX', path: '/charlixcx'} %>
<% m[:nicoandvinz] = {image: 'NicoandVinz', full_name: 'Nico & Vinz', path: '/nicoandvinz'} %>
<% m[:therollingstones] = {image: 'RollingStones', full_name: 'The Rolling Stones', path: '/therollingstones'} %>
<% m[:shakiramusic] = {image: 'shakira', full_name: 'Shakira', path: '/shakiramusic'} %>
<% m[:passenger] = {image: 'passengermusic', full_name: 'Passenger', path: '/passenger'} %>
<% m[:brantleygilbert] = {image: 'BrantleyGilbert', full_name: 'Brantley Gilbert', path: '/brantleygilbert'} %>
<% m[:elliegoulding] = {image: 'elliegoulding', full_name: 'Ellie Goulding', path: '/elliegoulding'} %>
<% m[:ericchurch] = {image: 'ericchurch', full_name: 'Eric Church', path: '/ericchurch'} %>
<% m[:idinamenzel] = {image: 'idinamenzel', full_name: 'Idina Menzel', path: '/idinamenzel'} %>
<% m[:selenagomezmusic] = {image: 'selenagomez', full_name: 'Selena Gomez', path: '/selenagomezmusic'} %>
<% m[:calvinharris] = {image: 'CalvinHarris', full_name: 'Calvin Harris', path: '/calvinharris'} %>
<% m[:michaelbuble] = {image: 'michaelbuble', full_name: 'Michael Buble', path: '/michaelbuble'} %>
<% m[:michaeljackson] = {image: 'michaeljackson', full_name: 'Michael Jackson', path: '/michaeljackson'} %>
<% m[:britneyspearsmusic] = {image: 'britneyspears', full_name: 'Britney Spears', path: '/britneyspearsmusic'} %>
<% m[:kellyclarkson] = {image: 'kelly_clarkson', full_name: 'Kelly Clarkson', path: '/kellyclarkson'} %>
<% m[:christinaaguileramusic] = {image: 'xtina', full_name: 'Christinaa Guilera', path: '/christinaaguileramusic'} %>
<% m[:realmadrid] = {image: 'realmadrid', full_name: 'Real Madrid', path: '/realmadrid'} %>
<% m[:dallascowboys] = {image: 'dallascowboys', full_name: 'Dallas Cowboys', path: '/dallascowboys'} %>
<% m[:newyorkyankees] = {image: 'Yankees', full_name: 'New York Yankees', path: '/newyorkyankees'} %>
<% m[:barcelona] = {image: 'FCBarcelona', full_name: 'Barcelona', path: '/barcelona'} %>
<% m[:manchesterunited] = {image: 'ManUtd', full_name: 'Manchester United', path: '/manchesterunited'} %>
<% m[:losangeleslakers] = {image: 'Lakers', full_name: 'Los Angeles Lakers', path: '/losangeleslakers'} %>
<% m[:newenglandpatriots] = {image: 'Patriots', full_name: 'New England Patriots', path: '/newenglandpatriots'} %>
<% m[:newyorkknicks] = {image: 'nyknicks', full_name: 'New York KNicks', path: 'newyorkknicks'} %>
<% m[:losangelesdodgers] = {image: 'Dodgers', full_name: 'Los Angeles Dodgers', path: '/losangelesdodgers'} %>
<% m[:washingtonredskins] = {image: 'Redskins', full_name: 'Washington Redskins', path: '/washingtonredskins'} %>
<% m[:bayernmunich] = {image: 'FCBayern', full_name: 'Bayern Munich', path: '/bayernmunich'} %>
<% m[:bostonredsox] = {image: 'RedSox', full_name: 'Boston Red Sox', path: '/bostonredsox'} %>
<% m[:newyorkgiants] = {image: 'Giants', full_name: 'New York Giants', path: '/newyorkgiants'} %>
<% m[:chicagobulls] = {image: 'chicagobulls', full_name: 'Chicago Bulls', path: '/chicagobulls'} %>
<% m[:sanfranciscogiants] = {image: 'SFGiants', full_name: 'San Francisco Giants', path: '/sanfranciscogiants'} %>
<% m[:houstontexans] = {image: 'HoustonTexans', full_name: 'Houston Texans', path: '/houstontexans'} %>
<% m[:chicagocubs] = {image: 'Cubs', full_name: 'Chicago Cubs', path: '/chicagocubs'} %>
<% m[:newyorkjets] = {image: 'nyjets', full_name: 'New York Jets', path: '/newyorkjets'} %>
<% m[:philadelphiaeagles] = {image: 'Eagles', full_name: 'Philadelphia Eagles', path: '/philadelphiaeagles'} %>
<% m[:bostonceltics] = {image: 'celtics', full_name: 'Boston Celtics', path: '/bostonceltics'} %>
<% m[:chicagobears] = {image: 'ChicagoBears', full_name: 'Chicago Bears', path: '/chicagobears'} %>
<% m[:losangelesclippers] = {image: 'LAClippers', full_name: 'Los Angeles Clippers', path: '/losangelesclippers'} %>
<% m[:sanfrancisco49ers] = {image: '49ers', full_name: 'San Francisco 49ers', path: '/sanfrancisco49ers'} %>
<% m[:baltimoreravens] = {image: 'Ravens', full_name: 'Baltimore Ravens', path: '/baltimoreravens'} %>
<% m[:brooklynnets] = {image: 'BrooklynNets', full_name: 'Brooklyn Nets', path: '/brooklynnets'} %>
<% m[:denverbroncos] = {image: 'Broncos', full_name: 'Denver Broncos', path: '/denverbroncos'} %>
<% m[:indianapoliscolts] = {image: 'Colts', full_name: 'Indianapolis Colts', path: '/indianapoliscolts'} %>
<% m[:stlouiscardinals] = {image: 'Cardinals', full_name: 'St. Louis Cardinals', path: '/stlouiscardinals'} %>
<% m[:greenbaypackers] = {image: 'packers', full_name: 'Greenbay Packers', path: '/greenbaypackers'} %>
<% m[:manchestercity] = {image: 'MCFC', full_name: 'Manchester City', path: '/manchestercity'} %>
<% m[:chelsea] = {image: 'ChelseaFC', full_name: 'Chelsea', path: '/chelsea'} %>
<% m[:ferrari] = {image: 'Ferrari', full_name: 'Ferrari', path: '/ferrari'} %>
<% m[:newyorkmets] = {image: 'Mets', full_name: 'New York Mets', path: '/newyorkmets'} %>
<% m[:pittsburghsteelers] = {image: 'steelers', full_name: 'Pittsburgh Steelers', path: '/pittsburghsteelers'} %>
<% m[:seattleseahawks] = {image: 'Seahawks', full_name: 'Seattle Seahawks', path: '/seattleseahawks'} %>
<% m[:arsenal] = {image: 'Arsenal', full_name: 'Arsenal', path: '/arsenal'} %>
<% m[:goldenstatewarriors] = {image: 'warriors', full_name: 'Golden State Warriors', path: '/goldenstatewarriors'} %>
<% m[:losangelesangelsofanaheim] = {image: 'Angels', full_name: 'Angels of Anaheim', path: '/losangelesangelsofanaheim'} %>
<% m[:miamidolphins] = {image: 'MiamiDolphins', full_name: 'Miami Dolphins', path: '/miamidolphins'} %>
<% m[:torontomapleleafs] = {image: 'MapleLeafs', full_name: 'Toronto Maple Leafs', path: '/torontomapleleafs'} %>
<% m[:washingtonnationals] = {image: 'Nationals', full_name: 'Washington Nationals', path: '/washingtonnationals'} %>
<% m[:carolinapanthers] = {image: 'Panthers', full_name: 'Carolina Panthers', path: '/carolinapanthers'} %>
<% m[:houstonrockets] = {image: 'HoustonRockets', full_name: 'Houston Rockets', path: '/houstonrockets'} %>
<% m[:philadelphiaphillies] = {image: 'Phillies', full_name: 'Philadelphia Phillies', path: '/philadelphiaphillies'} %>
<% m[:tampabaybuccaneers] = {image: 'TBBuccaneers', full_name: 'Tampa Bay Buccaneers', path: '/tampabaybuccaneers'} %>
<% m[:texasrangers] = {image: 'Rangers', full_name: 'Texas Rangers', path: '/texasrangers'} %>
<% m[:miamiheat] = {image: 'MiamiHEAT', full_name: 'Miami Heat', path: '/miamiheat'} %>
<% m[:tennesseetitans] = {image: 'Titans', full_name: 'Tennessee Titans', path: '/tennesseetitans'} %>
<% m[:atlantabraves] = {image: 'Braves', full_name: 'Atlanta Braves', path: '/atlantabraves'} %>
<% m[:minnesotavikings] = {image: 'Vikings', full_name: 'Minnesota Vikings', path: '/minnesotavikings'} %>
<% m[:arizonacardinals] = {image: 'AZCardinals', full_name: 'Arizona Cardinals', path: '/arizonacardinals'} %>
<% m[:drewbinsky] = {image: 'drewbinsky7', full_name: 'Drew Binsky', path: '/drewbinsky'} %>
<% m[:budgettravel] = {image: 'BudgetTravel', full_name: 'Budget Travel', path: '/budgettravel'} %>
<% m[:afar] = {image: 'AFARmedia', full_name: 'Afar', path: '/afar'} %>
<% m[:travelandleisure] = {image: 'TravelLeisure', full_name: 'Travel and Leisure', path: '/travelandleisure'} %>
<% m[:condenasttraveler] = {image: 'CNTraveler', full_name: 'Condenast Traveler', path: '/condenasttraveler'} %>
<% m[:geographical] = {image: 'GeographicalMag', full_name: 'Geographical', path: '/geographical'} %>
<% m[:nationalgeographic] = {image: 'NatGeo', full_name: 'NatGeo', path: '/nationalgeographictravel'} %>
<% m[:wanderlust] = {image: 'WanderlustFest', full_name: 'Wanderlust', path: '/wanderlust'} %>
<% m[:lastweektonight] = {image: 'LastWeekTonight', full_name: 'Last Week Tonight', path: '/lastweektonight'} %>
<% m[:gameofthrones] = {image: 'GameOfThrones', full_name: 'Game Of Thrones', path: '/gameofthrones'} %>
<% m[:bettercallsaul] = {image: 'BetterCallSaul', full_name: 'BetterCallSaul', path: '/bettercallsaul'} %>
<% m[:orangeisthenewblack] = {image: 'OITNB', full_name: 'Orange Is The New Black', path: '/orangeisthenewblack'} %>
<% m[:empire] = {image: 'EmpireFox', full_name: 'Empir', path: '/empire'} %>
<% m[:howimetyourmother] = {image: 'OfficialHIMYM', full_name: 'HIMYM', path: '/howimetyourmother'} %>
<% m[:madmen] = {image: 'MadMen_AMC', full_name: 'Mad Men', path: '/madmen'} %>
<% m[:theamericans] = {image: 'TheAmericansFX', full_name: 'The Americans', path: '/theamericans'} %>
<% m[:thetonightshow] = {image: 'FallonTonight', full_name: 'THe Tonight Show', path: '/thetonightshow'} %>
<% m[:truedetective] = {image: 'TrueDetective', full_name: 'True Detective', path: '/truedetective'} %>
<% m[:justified] = {image: 'JustifiedFX', full_name: 'Justified', path: '/justified'} %>
<% m[:sense8] = {image: 'sense8', full_name: 'Sense8', path: '/sense8'} %>
<% m[:izombie] = {image: 'CWiZombie', full_name: 'iZombie', path: '/izombie'} %>
<% m[:theflash] = {image: 'CW_TheFlash', full_name: 'The Flash', path: '/theflash'} %>
<% m[:thebachelor] = {image: 'BachelorABC', full_name: 'The Bachelor', path: '/thebachelor'} %>
<% m[:suits] = {image: 'Suits_USA', full_name: 'Suits', path: '/suits'} %>
<% m[:theellenshow] = {image: 'TheEllenShow', full_name: 'The Ellen Show', path: '/theellenshow'} %>
<% m[:greysanatomy] = {image: 'GreysABC', full_name: 'Greys Annotomy', path: '/greysanatomy'} %>
<% m[:thewalkingdead] = {image: 'WalkingDead_AMC', full_name: 'The Walking Dead', path: '/thewalkingdead'} %>
<% m[:americanhorrorstory] = {image: 'AmericanHorrorStory', full_name: 'American Horror Story', path: '/americanhorrorstory'} %>
<% m[:sharktank] = {image: 'ABCSharkTank', full_name: 'Shark Tank', path: '/sharktank'} %>
<% m[:gotham] = {image: 'Gotham', full_name: 'Gotham', path: '/gotham'} %>
<% m[:thegoodwife] = {image: 'TheGoodWife_CBS', full_name: 'The Good Wife', path: '/thegoodwife'} %>
<% m[:thebigbangtheory] = {image: 'BigBang_CBS', full_name: 'The Big Bang Theory', path: '/thebigbangtheory'} %>
<% m[:theblacklist] = {image: 'NBCBlacklist', full_name: 'Blacklist', path: '/theblacklist'} %>
<% m[:howtogetawaywithmurder] = {image: 'HowToGetAwayABC', full_name: 'How To Get Away With Murder', path: '/howtogetawaywithmurder'} %>
<% m[:thevoice] = {image: 'NBCTheVoice', full_name: 'The Voice', path: '/thevoice'} %>
<% m[:bachelorette] = {image: 'BacheloretteABC', full_name: 'Bachelorette', path: '/bachelorette'} %>
<% m[:scandal] = {image: 'ScandalABC', full_name: 'Scandal', path: '/scandal'} %>
<% m[:downtonabbey] = {image: 'DowntonAbbey', full_name: 'Downton Abbey', path: '/downtonabbey'} %>
<% m[:dancingwiththestars] = {image: 'DancingABC', full_name: 'Dancing With the Stars', path: '/dancingwiththestars'} %>
<% m[:americanidol] = {image: 'AmericanIdol', full_name: 'AmericanIdol', path: '/americanidol'} %>
<% m[:thementalist] = {image: 'Mentalist_CBS', full_name: 'Mentalist', path: '/thementalist'} %>
<% m[:houseofcards] = {image: 'HouseofCards', full_name: 'House of Cards', path: '/houseofcards'} %>
<% m[:transparent] = {image: 'transparent_tv', full_name: 'Transparent', path: '/transparent'} %>
<% m[:louie] = {image: 'LouieFX', full_name: 'Louie', path: '/louie'} %>
<% m[:community] = {image: 'CommunityTV', full_name: 'Community', path: '/community'} %>
<% m[:parksandrecreation] = {image: 'parksandrecnbc', full_name: 'Parks and Recreation', path: '/parksandrecreation'} %>
<% m[:sonsofanarchy] = {image: 'SonsofAnarchy', full_name: 'Sons of Anarchy', path: '/sonsofanarchy'} %>
<% m[:brooklynninenine] = {image: 'Brooklyn99FOX', full_name: 'Brooklyn 99', path: '/brooklynninenine'} %>
<% m[:janethevirgin] = {image: 'CWJaneTheVirgin', full_name: 'Jane The Virgin', path: '/janethevirgin'} %>
<% m[:fargo] = {image: 'FargoFX', full_name: 'Fargo', path: '/fargo'} %>
<% m[:saturdaynightlive] = {image: 'nbcsnl', full_name: 'Saturday Night Live', path: '/saturdaynightlive'} %>
<% m[:mrrobot] = {image: 'whoismrrobot', full_name: 'Mr. Robot', path: '/mrrobot'} %>
<% m[:newgirl] = {image: 'NewGirlonFOX', full_name: 'New Girl', path: '/newgirl'} %>
<% m[:scorpion] = {image: 'ScorpionCBS', full_name: 'Scorpion', path: '/scorpion'} %>
<% m[:modernfamily] = {image: 'ModernFam', full_name: 'Modern Family', path: '/modernfamily'} %>
<% m[:themindyproject] = {image: 'TheMindyProject', full_name: 'The Mindy Project', path: '/themindyproject'} %>
<% m[:tyleroakley] = {image: 'tyleroakley', full_name: 'Tyler Oakley', path: '/tyleroakley'} %>
<% m[:troyesivan] = {image: 'troyesivan', full_name: 'Troye Sivan', path: '/troyesivan'} %>
<% m[:zoella] = {image: 'ZoellaBeauty', full_name: 'Zoella', path: '/zoella'} %>
<% m[:connorfranta] = {image: 'ConnorFranta', full_name: 'Connor Franta', path: '/connorfranta'} %>
<% m[:ijustine] = {image: 'ijustine', full_name: 'I Justine', path: '/ijustine'} %>
<% m[:glozell] = {image: 'GloZell', full_name: 'GloZell', path: '/glozell'} %>
<% m[:jennamarbles] = {image: 'Jenna_Marbles', full_name: 'Jenna Marbles', path: '/jennamarbles'} %>
<% m[:alfiedeyes] = {image: 'PointlessBlog', full_name: 'Alfie Deyes', path: '/alfiedeyes'} %>
<% m[:shanedawson] = {image: 'shanedawson', full_name: 'Shane Dawson', path: '/shanedawson'} %>
<% m[:joeygraceffa] = {image: 'JoeyGraceffa', full_name: 'Joey Graceffa', path: '/joeygraceffa'} %>
<% m[:rebeccablack] = {image: 'MsRebeccaBlack', full_name: 'Rebecca Black', path: '/rebeccablack'} %>
<% m[:pewdiepie] = {image: 'pewdiepie', full_name: 'PewDiePie', path: '/pewdiepie'} %>
<% m[:smosh] = {image: 'smosh', full_name: 'Smosh', path: '/smosh'} %>
<% m[:nigahiga] = {image: 'Niga_Higa', full_name: 'Niga Higa', path: '/nigahiga'} %>
<% m[:tobuscus] = {image: 'Tobuscus', full_name: 'Tobuscus', path: '/tobuscus'} %>
<% m[:sawyerhartman] = {image: 'SawyerHartman', full_name: 'Sawyer Hartman', path: '/sawyerhartman'} %>
<% m[:annoyingorange] = {image: 'annoyingorange', full_name: 'Annoying Orange', path: '/annoyingorange'} %>
<% m[:rhettandlink] = {image: 'rhettandlink', full_name: 'Rhett and Link', path: '/rhettandlink'} %>
<% m[:itskingsleybitch] = {image: 'kingsleyyy', full_name: 'ItsKingsleyBitch', path: '/itskingsleybitch'} %>
<% m[:jimchapman] = {image: 'JimsTweetings', full_name: 'Jim Chapman', path: '/jimchapman'} %>
<% m[:danisnotonfire] = {image: 'danisnotonfire', full_name: 'Dan Is Not On Fire', path: '/danisnotonfire'} %>
<% m[:kickthepj] = {image: 'kickthepj', full_name: 'KickThePj', path: '/kickthepj'} %>
<% m[:catrific] = {image: 'catrific', full_name: 'Catrific', path: '/catrific'} %>
<% m[:tayzonday] = {image: 'TayZonday', full_name: 'Tay Zonday', path: '/tayzonday'} %>
<% m[:marcusbutler] = {image: 'MarcusButler', full_name: 'Marcus Butler', path: '/marcusbutler'} %>
<% m[:benjamincook] = {image: 'benjamin_cook', full_name: 'Benjamin Cook', path: '/benjamincook'} %>
<% m[:olgakay] = {image: 'OlgaKay', full_name: 'Olga Kay', path: '/olgakay'} %>
<% m[:hannahhart] = {image: 'harto', full_name: 'Hannah Hart', path: '/hannahhart'} %>
<% m[:anthonypadilla] = {image: 'smoshanthony', full_name: 'Anthony Padilla', path: '/anthonypadilla'} %>
<% m[:juliansmith] = {image: 'JulianWasHere', full_name: 'Julian Smith', path: '/juliansmith'} %>
<% m[:amazingphil] = {image: 'AmazingPhil', full_name: 'Amazing Phil', path: '/amazingphil'} %>
<% m[:sampepper] = {image: 'sampepper', full_name: 'Sam Pepper', path: '/sampepper'} %>

<%# this_is_it = Hash[m.sort_by {|a, b| -Impression.where(action_name: a.to_s).count}] %>
<div class="containerThingy">
  <div id="masonJar" class="center clearfix masonJar">
    <% Hash[m.to_a.shuffle].first(50).each do |key, val| %>
        <div class="col-sm-2 col-sm-offset-1 individual_post item">
          <div class="features-box-icon">
            <%= link_to image_tag("#{val[:image]}.jpg", size: "150x150", title: "#{val[:full_name]}"), "#{val[:path]}" %>
          </div>
        </div>
    <% end %>
      <div class="col-sm-2 col-sm-offset-1 individual_post item">
        <div class="features-box-icon">
          <a data-toggle="modal" data-target="#new_request_modal">
            <%= image_tag('requestmore.png', title: "New Request", id: "request_more_hover") %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="new_request_modal" class="modal fade">
  <div class="modal-fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Let us know which Businesses are missing?</h3>
        </div>
        <div class="modal-body-new-post">
          <div class="row-fluid">
            <div class="span12">
              <div class="span6">
                <div class="logowrapper">
                  <div class="Alignthisorelse">
                    <div class="container post-padding">
                      <div class="col-sm-6 form-box wow fadeInUp"><!-- 
                        <div class="form-top-contacts">
                          <div class="form-top-left">
                            <h3><strong>Nprove Nfuse<strong></h3>
                            <p> Any advice you can give us about Nfuse would be awesome, Thank you. </p>
                          </div>
                          <div class="form-top-right">
                            <a href="#"><%#= image_tag("contactfeedbackgray.fw.png", size: "65x65") %></a>
                          </div>
                        </div> -->
                        <div class="form-bottom">
                          <%= form_for Contact.new, html: {role: "form"} do |f| %>
                            <div class="form-group">
                              <%= f.text_field :full_name, :placeholder => "Full Name", class: "form-control input-lg", id:"form-full-name", type: "search" %>
                            </div>
                            <div class="form-group">
                              <%= f.text_field :email, :placeholder => "Email", class: "form-control input-lg", id:"form-email", type: "email" %>
                            </div>
                            <div class="form-group">
                              <%= f.text_area :message, :placeholder => "Message", class: "form-control input-lg", id:"form-message", type: "message" %>
                            </div>
                            <div style="display: none;">
                              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %><!-- this text box needs to be hidden-->
                            </div>
                            <p class ="center fb-par-btm"> Nfuse wants to give you the best experience possible, any feedback on what to add or change will be greatly appreciated </p>
                            <button type= "submit" class="btn center">
                              Send!
                            </button>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
