<% content_for :for_head do %>
  <title><%= @page.metatag_title %></title>
  <meta name="description" content="<%= @page.description %>">
<% end %>
    <!-- USER AREA -->
<section id="userarea" class="forum">
  <!-- BIG BANNER -->
  <div id="user-banner"></div>
  <a id="user" class="mobile">
    <% if @page.profile_pic != nil %>
     <img src="<%= @page_image %>" alt="User Image"/>
    <% else %>
     <img src="/assets/<%= @page.profile_pic || 'def.jpg' %>" alt="User Image"/>
    <% end %>
  </a>
  <ul id="user-stats" class="user-left">
    <li id="user-name"><h1><%= truncate(@page.full_name, length: 18, omission: '') %></h1></li>
    <li id="user-followers"><a href="#" data-toggle="modal" data-target="#followersmodal">Followers:  <%= Relationship.where(follow_type: 'Page', followed_id: 2).count %></a></li>
    <li id="user-likes">Likes: <a href=""><%= ActsAsVotable::Vote.where(owner_type: 'Page', owner_id: @page.id).count %></a></li>
  </ul>
  <p id="user-bio" class="user-right">
    @<%= truncate(@page.full_name, length: 18, omission: '') %> <%= @page.description %>
  </p>
  <!-- USER NAVBAR -->
  <nav id="user-nav" class="center navbar">
    <ul>
      <li class="page_feed_cursor_icon"><a class='show_feed' style='color:#00eebc'>Feed</a></li>
      <li class="page_forum_cursor_icon"><a class='show_forum'>Forum</a></li>
      <li id="user-spacer">
        <!-- PROFILE PIC -->
        <a id="user" class="desk">
          <% if @page.profile_pic != nil %>
            <img src="<%= @page_image %>" style="width:200px;" alt="User Image"/>
          <% else %>
            <img src="/assets/<%= @page.profile_pic || 'def.jpg' %>" alt="User Image"/>
          <% end %>
        </a>
      </li>
      <li>
        <% if signed_in? %>
          <a class="follow_form">
            <%= render 'follow_form' if signed_in? %>
          </a>
        <% else %>
          <a href="<%= self.request.env['HTTP_REFERER'] %>" title="Back">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        <% end %>
      </li>
      <% if signed_in? %>
        <li class="li-arrows">
          <a href="<%= self.request.env['HTTP_REFERER'] %>" class="arrow" title="Back">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
          <a href="/pages/<%= Page.find(Page.next_page).page_name %>" class="arrow" title="Next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        </li>
      <% else %>
        <li>
          <a href="/pages/<%= Page.find(Page.next_page).page_name %>" title="Next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</section>
<section id="masonJar" class="clearfix">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <% @timeline.each do |post| %>
    <article class="individual_post item <%= post.provider %>_post0">
      <header class="post_header">
        <div class="user">
          <%= image_tag(@page_image || 'def.jpg', class: 'user_profile_picture', size:'45x45', alt: 'P6pl2kfg normal') %>
          <%= link_to truncate(@page.page_name, length: 16), "/pages/#{@page.page_name}" %>
        </div>
        <%= link_to post.link_to_post, class: 'timeStamp', target: 'blank', title: 'Go to entry' do %>
        <!-- <a class="timeStamp" href="#" target="_blank" title="Go To Entry"> -->
          <i class="fa"></i><%= time_ago_in_words(post.created_time) %>
        <% end %>
      </header>
      <main class="post_content">
        <% case post.provider %>
        <% when 'instagram' %>
          <div class="timeline-user-box">
            <% if post.type == "image" %>
              <%= image_tag(post.image, :class => "image_post") %>
            <% elsif post.type == "video" %>
              <video controls autoload="none" style="background:transparent url(<%= post.image %>) no-repeat 50% 50%;" >
                <source src="<%= post.video %>" type='video/mp4' />
                <source src="<%= post.video %>" type='video/ogv' />
              </video>
            <% end %>
          </div>
          <% if post.text.present? %>
            <div class='center'>
                <%= post.text %>
            </div>
          <% end %>
        <% when 'twitter' %>
          <% if post.is_not_in_reply.nil? && post.is_not_retweeted? %>
            <% case post.type %>
            <% when 'youtube_video' %>
              <div class="timeline-user-box">
                <iframe
                id="ytplayer"
                type="text/html"
                width="100%"
                height="225"
                src="https://www.youtube.com/embed/<%= post.twitter_url_video %>"
                frameborder="0"
                allowfullscreen>
                </iframe>
              </div>
              <div class='center'>
                <%= post.text %>
              </div>
            <% when 'animated_gif', 'video' %>
            <div class="timeline-user-box">
              <video controls autoload="none" style="background:transparent url(<%= post.image %>) no-repeat 50% 50%;" >
                <source src="<%= post.video %>" type='video/mp4' />
                <source src="<%= post.video %>" type='video/ogv' />
              </video>
            </div>
              <div class='center'>
                <%= post.text %>
              </div>
            <% when 'photo' %>
            <div class="timeline-user-box">
              <%= image_tag(post.image, :class => "image_post") %>
            </div>
              <div class='center'>
                <%= post.text %>
              </div>
            <% else %>
              <div class='center text_only_post'>
                <%= post.text %>
              </div>
            <% end %>
          <%end%>
        <% when 'google_oauth2' %>
          <div class="timeline-user-box">
            <iframe
              id="ytplayer"
              type="text/html"
              width="100%"
              height="225"
              src="https://www.youtube.com/embed/<%= post.video %>"
              frameborder="0"
              allowfullscreen>
            </iframe>
          </div>
          <% if post.text.present? %>
            <div class='center'>
              <%= post.text %>
            </div>
          <% end %>
        <%end%>
      </main>
        <% if signed_in? %>
      <footer class="post_actions">
        <% if ActsAsVotable::Vote.where(votable_id: post.id).pluck(:voter_id).include?(current_user.id) %>
          <%= link_to dislike_shout_path(id: post.id, 
            owner_id: @page.id, 
            owner_type: @page.class.name, 
            key: post.provider), 
            {method: :delete, remote: true, class: 'likePost liked'} do %>
            <i class="fa"></i><span class="liked-<%= post.id %>"><%= post.like_score(post.id) %></span>
          <% end %>
        <% else %>
          <%= link_to like_shout_path(id: post.id, owner_id: @page.id, owner_type: @page.class.name, key: post.provider), {method: :post, remote: true, class: 'likePost'} do %>
            <i class="fa"></i><span class="liked-<%= post.id %>"><%= post.like_score(post.id) %></span>
          <% end %>
        <% end %>
      </footer>
        <% end %>
    </article>
  <% end %>
</section>
<!-- FORUM -->
<section id="forum" class="" style="display:none;">
  <div class="row">
  <!-- AD SIDEBAR -->
    <aside class="adbar col-xs-12 col-sm-5 col-md-4 col-lg-3">
      <ul class="adlist">
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ad-MediumRectangle-300x250.jpg"/></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ad-MediumRectangle-300x250.jpg"/></li>
      </ul>
    </aside>
  <!-- FORUM FEED -->
    <div id="" class="col-xs-12 col-sm-7 col-md-8 col-lg-6">
      <% if signed_in? %>
        <a id="addTopic" title="Add New Topic" href="#" data-toggle="modal" data-target="#new-topic"><i class="fa fa-plus"></i></a> 
      <% end %>
        <ul id="media-list">
          <%= nested_comments @page.comments.includes(:user).arrange(order: 'created_at DESC') if @page.comments %>
        </ul>
    </div>
    <!-- AD SIDEBAR -->
    <aside class="adbar col-xs-12 col-sm-5 col-lg-3">
      <ul class="adlist">
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ad-MediumRectangle-300x250.jpg"/></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ad-MediumRectangle-300x250.jpg"/></li>
      </ul>
    </aside>
  </div>
</section>

<div class="modal fade" id="new-topic" tabindex="-1" role="dialog" aria-labelledby="sharelabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="sharelabel">Start New Topic</h4>
      </div>
      <% if signed_in? %>  
        <%= form_for [@commentable, Comment.new(user_id: current_user.id)], :html => {class: 'minimal new_shout', id: 'upload_form', multipart: true}, remote: true do |f| %>
          <%= f.hidden_field :parent_id %>
          <%= f.hidden_field :user_id %>
          <div class="modal-body container-fluid">
            <div class="row">
              <div class="image-upload col-xs-12 col-sm-6">
                <label for="newForumPicUpload">
                  <a class="btn btn-default">
                    Upload Picture
                  </a>
                </label>
                <div class="fileUpload btn-link-1">
                  <%= f.file_field :image_upload, id: 'newForumPicUpload', placeholder: "Pic", type: "file", class: "upload"  %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <%= f.text_area :url, id: 'url_body', class: "form-control", placeholder: "URL of everything", onChange: 'previewUrl()', type:"search" %>
              </div>
              <div class="col-xs-12">
                <div id="target"></div>
                <div id="forum_post_pic_preview" class='center'></div>
                <div id="preview"></div>
                <%= f.text_field :topic, placeholder: "Topic Title", id: 'comment_topic_title' %>
                <textarea class="form-control" id="shout_content" name="comment[body]" placeholder="Your Message" type="search"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer container-fluid">
            <button type="submit" class="btn btn-default" form="upload_form">Share</button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
    <!-- FOLLOWERS MODAL -->
  <div class="modal fade" id="followersmodal" tabindex="-1" role="dialog" aria-labelledby="followerslabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="followerslabel">Followers</h4>
        </div>
        <div class="modal-body">
          <!-- FOLLOWER -->
          <% if Relationship.where(followed_id: @page.id, follow_type: 'Page').any? %>
            <% Relationship.where(followed_id: @page.id, follow_type: 'Page').each do |user| %>
              <div class="row follower">
                <div class="col-xs-2 user-img">
                  <img src="/assets/def.jpg" alt="User Image"/>
                </div>
                <div class="col-xs-10">
                  <ul id="user-info">
                    <li id="user-name"><%= truncate(user.follower.full_name, length: 18, omission: '') %></li>
                    <li id="user-link"><%= link_to "@#{user.follower.user_name}", feed_user_path(user) %></li>
                  </ul>
                  <ul id="user-stats">
                    <li id="user-following">Following: <span><%= user.follower.followed_users.count %></span></li>
                    <li id="user-followers">Followers: <span><%= user.follower.followers.count %></span></li>
                    <li id="user-likes">Likes: <span><%= ActsAsVotable::Vote.where(voter_id: user.follower.id).count %></span></li>
                  </ul>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class='center explore_filters'><%= @page.full_name %> doesn't have and followers yet.</p>
            <p class='center explore_filters'>How about being the first?</p>          
          <% end %>
        </div>
      </div>
    </div>
  </div>


<script>
$(document).ready(function() {
  $('body.nosearchbar').removeClass('nosearchbar').addClass('searchbar')
});
</script>
<script>
$('a.show_forum').click( function() {
    $('section#masonJar').hide();
    $('#forum').show();
    $('a.show_feed').removeAttr('style');
    $('a.show_forum').attr('style', 'color:#00eebc');
});
$('a.show_feed').click( function() {
    $('#forum').hide();
    $('section#masonJar').show();
    $('a.show_feed').attr('style', 'color:#00eebc');
    $('a.show_forum').removeAttr('style');
    $grid.masonry('layout'); 
});
</script>

 <script>
    $(function() {
      $('#newForumPicUpload').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#forum_post_pic_preview').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>
  <script>
  function load(request) {
    $('#code').text(request);
    $('#preview').html(request);
  }

  function preview(value) {
    console.log("preview; value = " + value);

    $.ajax({
      dataType: "html",
      url: "/preview?url=" + value['url']
    })
    .done( function(data){
      load(data);
      console.log("preview callback\n" + data);
    });
  }

  function previewUrl() {
    preview({'url':$('#url_body').val()});
  }

  $('#examples a').click(function() {
    $('#url_body').focus(); 
    $('#url_body').val( $(this).attr('href'));
    previewUrl();
  });

  $(function () { 
    $("#url_body").focus();
    previewUrl();
  });

  </script>

<script>
 $('#upload_form').submit(function(event){
    var forum_form_is_not_be_blank = $('#newForumPicUpload').val() != '' || $('#url_body').val() != '' || $('#shout_content').val() != '' || $('#comment_topic_title').val() != ''
    if (forum_form_is_not_be_blank){
      return true;
    } else {
    event.preventDefault();
    alert('NOPE')
    return false;
    }
  });
</script>