<% content_for :for_head do %>
<title><%= @page.metatag_title%></title>
<meta name="description" content="<%= @page.description %>">
<% end %>

<style>
#login { display: none; }
.login,
.logout { 
    position: absolute; 
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
     font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;      
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 0 0; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');    
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"] {
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding: 0;
    /* left: 0; */
    width: 73px;
    height: 49px;
}
.replyUpload input.upload {
    position: absolute;
    top: -10px;
    /* bottom: 0px; */
    right: -21px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;    
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;    
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }
li ul {
    display: block;
    margin-top: 18px;
    background-color: #fff; 
}
.absolute_postition_test {
    position: fixed;
    left: 95%;
    top: 90%;    
}
.popup-messages-footer > textarea {
    border-bottom: 1px solid #b2b2b2 !important;
    height: 34px !important;
    margin: 7px;
    padding: 5px !important;
     border: medium none;
    width: 95% !important;
    overflow: hidden !important;
}
.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 83%;
}
.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}
.bg_none i {
    border: 1px solid #ff6701;
    border-radius: 25px;
    color: #ff6701;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none:hover i {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
</style>

<h2>What do you think about this page or brand?: <%= @page.page_name %></h2>

<br>
<!-- http://127.0.0.1:3000/comments/new?parent_id=15
 -->
<ul class="media-list">
  <%# if @page.comments.any? %>
    <%= nested_comments @page.comments.includes(:user).arrange(order: :created_at) if @page.comments %>
  <%# end %>
</ul>

<div class="explore_filters">
  <%= render partial: "users/explore_filters" %>
</div><br>
<div id="masonJar" class="center clearfix masonJar">
  <% @timeline.first(50).each do |post| %>
  <% case post.provider %>
  <% when 'instagram' %>
    <%= render partial: "pages/post", locals: {post: post} %>
  <% when 'twitter' %>
    <% if post.is_not_in_reply.nil? && post.is_not_retweeted? %>
      <%= render partial: "pages/post", locals: {post: post} %>
    <%end%>
  <% when 'google_oauth2' %>
    <%= render partial: "pages/post", locals: {post: post} %>
  <%end%>
  <% end %>
</div>

<%#= render "comments/form" %>
<a data-toggle= "modal" href="#absolute_postition_test">
<button id='forum_post_modal' class='bg_none absolute_postition_test'><i class="glyphicon glyphicon-plus"></i>  </button>
</a>
    <div id="absolute_postition_test" class="modal fade">
      <div class="modal-fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close close_comment_form" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body-new-post">
              <div class="row-fluid">
                <div class="span12">
                  <div class="span6">
                    <div class="logowrapper">
                      <div class="Alignthisorelse">
                        <div class="container post-padding">
                          <div class="col-sm-6 form-box wow fadeInUp">
                            <div class="form-top-new-post">
                              <div class="form-bottom">
                              <%= form_for [@commentable, Comment.new(user_id: current_user.id)], :html => { multipart: true, class: 'form-horizontal', id: 'commentForm'}, remote: true do |f| %>
                                <%= f.hidden_field :parent_id %>
                                <%= f.hidden_field :user_id %>
                                <div class="Alignthisorelse">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-sm-2 how-it-works-box wow fadeInUp">
                                        <div class="how-it-works-box-icon">
                                          <a href="#"><%= image_tag("circlephoto.fw.png", size: "175x175") %></a>
                                        </div>
                                        <div class="fileUpload btn-link-1">
                                          <span>Upload Pic</span>
                                           <%= f.file_field :image_upload, id: 'newPostPictureInput', placeholder: "Pic", type: "file", class: "upload"  %>
                                        </div>
                                      </div>
                                      <div class="col-sm-2 col-sm-offset-1 how-it-works-box wow fadeInDown">
                                        <div class="how-it-works-box-icon">
                                          <a href="#"><%= image_tag("circlein2darkgray.fw.png", size: "175x175") %></a>
                                        </div>
                                        <div class="form-grouP">
                                          <%= f.text_area :url, id: 'profile_post_url_body', class: "form-control", placeholder: "URL of everything", type:"search" %>
                                        </div>
                                      </div>
                                    </div>
                                      <div class="row">
                                        <div class="col-sm-5 section-bottom-button wow fadeInUp">
                                          <div id="target"></div>
                                          <div id="profilePostTarget"></div>
                                          <div id="profileUrlPostPreview"></div>
                                          <%= f.text_area :body, class: "form-control", placeholder: "Write a description for your post...", type:"search" %>
                                        </div>
                                      </div>
                                      <div class="col-sm-3 col-sm-offset-1 section-bottom-button wow fadeInUp">
                                        <button type="submit" class="btn">
                                         Post!
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
