    <!-- USER AREA -->
<section id="userarea" class="forum">
  <!-- BIG BANNER -->
  <div id="user-banner"></div>
  <a id="user" class="mobile">
    <img src="<%= @page.profile_pic %>" alt="User Image"/>
  </a>
  <ul id="user-stats" class="user-left">
    <li id="user-name"><h1><%= @page.thing_name %></h1></li>
    <li id="user-followers">Followers:  <a href="#" data-toggle="modal" data-target="#followersmodal"><%= Relationship.where(follow_type: 'Page', followed_id: 2).count %></a></li>
    <li id="user-likes">Likes: <a href=""><%= ActsAsVotable::Vote.where(owner_type: 'Page', owner_id: @page.id).count %></a></li>
  </ul>
  <p id="user-bio" class="user-right">
    <%= @page.description %>
  </p>
  <!-- USER NAVBAR -->
  <nav id="user-nav" class="center navbar">
    <ul>
      <li><a class='show_feed'>Feed</a></li>
      <li><a class='show_forum'>Forum</a></li>
      <li id="user-spacer">
        <!-- PROFILE PIC -->
        <a id="user" class="desk">
          <img src="<%= @page.profile_pic %>" alt="User Image"/>
        </a>
      </li>
      <li>
        <a class="followUser" href="#">
          <% if current_user.following?(@page) %>
            <%= form_for(current_user.relationships.find_by(followed_id: @page.id),
                                                    html: { method: :delete },
                                                    remote: true) do |f| %>
              <%= f.submit "Unfollow", class: "btn btn-link-2" %>
            <% end %>
          <% else %>
            <%= form_for(current_user.relationships.build(followed_id: @page.id, follow_type: @page.class.name), remote: true) do |f| %>
                        <%# if Page.find_by(id: @page.id, thing_name: @compname).nil? %>
                          <%# Page.find_by(id: @page.id).update_attributes(
                                     thing_name: @compname,
                             twitter_handle: @comp,
                             youtube_handle: @comp_url,
                             instagram_handle: @incomp) %>
                        <%# end %>
              <div><%= f.hidden_field :followed_id %></div>
                <%= f.submit "Follow", class: "btn btn-link-2" %>
            <% end %>
          <% end %>
        </a>
      </li>
    </ul>
  </nav>
</section>
<section id="masonJar" class="clearfix masonJar yes_timeline_padding">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <% @timeline.each do |post| %>
    <article class="individual_post item <%= post.provider %>_post0">
      <header class="post_header">
        <div class="user">
          <%= image_tag("#{@page.twitter_handle}.jpg", class: 'user_profile_picture', size:'45x45', alt: 'P6pl2kfg normal') %>
          <%= link_to truncate(@page.thing_name, length: 16), root_path %>
        </div>
        <%= link_to post.link_to_post, class: 'timeStamp', target: 'blank', title: 'Go to entry' do %>
        <!-- <a class="timeStamp" href="#" target="_blank" title="Go To Entry"> -->
          <i class="fa"></i></i> <%= time_ago_in_words(post.created_time) %>
        <% end %>
      </he ader>
      <main class="post_content">
        <% case post.provider %>
        <% when 'instagram' %>
          <% if post.type == "image" %>
            <div class="timeline-user-box">
              <%= link_to image_tag(post.image, :class => "image_post"), individual_post_path(
                post_id: post.id, 
                provider: post.provider, 
                user: @page.id,
                post_type: @page.class.name), target: '_blank' %>
            </div>
            <% if post.text.present? %>
              <div class="center">
                <%= post.text %>
              </div>
            <% end %>
          <% elsif post.type == "video" %>
            <div class="center">
              <video width="100%" controls autoload="none" poster=<%= post.image %> >
                <source src="<%= post.video %>" type='video/mp4' />
                <source src="<%= post.video %>" type='video/ogv' />
              </video>
            </div>
            <% if post.text.present? %>
              <div class="center">
                <%= post.text %>
              </div>
            <% end %>
          <% end %>
        <% when 'twitter' %>
          <% if post.is_not_in_reply.nil? && post.is_not_retweeted? %>
            <% if post.has_media? %>
              <% if post.type == 'animated_gif' || post.type== 'video' %>
                <div class="center">
                  <video width="100%" controls autoload="none" poster=<%= post.image %> >
                    <source src="<%= post.video %>" type='video/mp4' />
                    <source src="<%= post.video %>" type='video/ogv' />
                  </video>
                </div>
              <% elsif post.type == 'photo' %>
                <div class="timeline-user-box">
                  <%= link_to image_tag(post.image, :class => "image_post"), individual_post_path(
                  post_id: post.id, 
                  provider: post.provider, 
                  user: @page.id,
                  post_type: @page.class.name), target: '_blank' %>
                </div>
              <% end %>
            <% end %>
            <div class="center">
              <%= post.text %>
            </div>
          <%end%>
        <% when 'google_oauth2' %>
          <iframe
            id="ytplayer"
            type="text/html"
            width="100%"
            height="225"
            src="https://www.youtube.com/embed/<%= post.video %>"
            frameborder="0"
            allowfullscreen>
          </iframe>
          <% if post.text.present? %>
            <div class="center">
              <%= post.text %>
            </div>
          <%end%>
        <%end%>
      </main>
      <footer class="post_actions">
        <% if ActsAsVotable::Vote.where(votable_id: post.id).pluck(:voter_id).include?(current_user.id) %>
          <%= link_to dislike_shout_path(id: post.id, 
          owner_id: @page.id, 
          owner_type: @page.class.name, 
          key: post.provider), 
          {method: :delete, remote: true, class: 'likePost'} do %>
            <i class="fa"></i><span><%= post.like_score(post.id) %></span>
          <% end %>
        <% else %>
          <%= link_to like_shout_path(id: post.id, owner_id: @page.id, owner_type: @page.class.name, key: post.provider), {method: :post, remote: true, class: 'likePost'} do %>
            <i class="fa"></i><span><%= post.like_score(post.id) %></span>
          <% end %>
        <% end %>
      </footer>
    </article>
  <% end %>
</section>
<!-- FORUM -->
<section id="forum" class="" style="display:none;">
  <div class="row">
  <!-- AD SIDEBAR -->
    <aside class="adbar col-xs-12 col-sm-5 col-md-4 col-lg-3">
      <ul class="adlist">
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ad-MediumRectangle-300x250.jpg"/></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ad-MediumRectangle-300x250.jpg"/></li>
      </ul>
    </aside>
  <!-- FORUM FEED -->
    <div id="" class="col-xs-12 col-sm-7 col-md-8 col-lg-6">
      <a id="addTopic" title="Add New Topic" href="#" data-toggle="modal" data-target="#new-topic"><i class="fa fa-plus"></i></a> 
        <ul id="media-list">
          <%= nested_comments @page.comments.includes(:user).arrange(order: :created_at) if @page.comments %>
        </ul>
    </div>
    <!-- AD SIDEBAR -->
    <aside class="adbar col-xs-12 col-sm-5 col-lg-3">
      <ul class="adlist">
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ad-MediumRectangle-300x250.jpg"/></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ad-MediumRectangle-300x250.jpg"/></li>
      </ul>
    </aside>
  </div>
</section>

<div class="modal fade" id="new-topic" tabindex="-1" role="dialog" aria-labelledby="sharelabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="sharelabel">Start New Topic</h4>
      </div>
      <% if signed_in? %>  
        <%= form_for [@commentable, Comment.new(user_id: current_user.id)], :html => { multipart: true, class: 'form-horizontal', id: 'upload_form'}, remote: true do |f| %>
          <%= f.hidden_field :parent_id %>
          <%= f.hidden_field :user_id %>
          <div class="modal-body container-fluid">
            <div class="row">
              <div class="image-upload col-xs-12 col-sm-6">
                <label for="newPostPictureInput">
                  <button type="button" class="btn btn-default">Upload Picture</button>
                </label>
                <input class="upload" id="newPostPictureInput" name="comment[image_upload]" placeholder="Pic" type="file">
              </div>
              <div class="col-xs-12 col-sm-6">
                <textarea class="form-control" id="profile_post_url_body" name="comment[url]" onchange="previewUrl()" placeholder="URL of everything" type="search"></textarea>
              </div>
              <div class="col-xs-12">
                <div id="target"></div>
                <div id="profilePostTarget"></div>
                <div id="profileUrlPostPreview"></div>
                <!-- <input type="text" placeholder="Topic Title"> -->
                <textarea class="form-control" id="shout_content" name="comment[body]" placeholder="Your Message" type="search" data-gramm="" data-txt_gramm_id="881f363a-4e5f-b5bd-dac5-10a581168008"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer container-fluid">
            <button type="submit" class="btn btn-default">Share</button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {
  $('body.nosearchbar').removeClass('nosearchbar').addClass('searchbar')
});
</script>
<script>
$('a.show_forum').click( function() {
    $('section#masonJar').hide();
    $('#forum').show()
});
$('a.show_feed').click( function() {
    $('#forum').hide()
    $('section#masonJar').show();
});
</script>
