<style>
  .container {
    padding-bottom: 100px;
  }
</style>
<div class="Alignthisorelse">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("realmadrid.jpg", size: "150x150", title: "Real Madrid"), realmadrid_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("dallascowboys.jpg", size: "150x150", title: "Dallas Cowboys"), dallascowboys_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Yankees.jpg", size: "150x150", title: "New York Yankees"), newyorkyankees_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("FCBarcelona.jpg", size: "150x150", title: "Barcelona"), barcelona_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ManUtd.jpg", size: "150x150", title: "Manchester United"), manchesterunited_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Lakers.jpg", size: "150x150", title: "Los Angeles Lakers"), losangeleslakers_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Patriots.jpg", size: "150x150", title: "New England Patriots"), newenglandpatriots_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("nyknicks.jpg", size: "150x150", title: "New York Knicks"), newyorkknicks_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Dodgers.jpg", size: "150x150", title: "Los Angeles Dodgers"), losangelesdodgers_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Redskins.jpg", size: "150x150", title: "Washington Redskins"), washingtonredskins_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("FCBayern.jpg", size: "150x150", title: "Bayern Munich"), bayernmunich_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("RedSox.jpg", size: "150x150", title: "Boston Red Sox"), bostonredsox_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Giants.jpg", size: "150x150", title: "New York Giants"), newyorkgiants_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("chicagobulls.jpg", size: "150x150", title: "Chicago Bulls"), chicagobulls_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("SFGiants.jpg", size: "150x150", title: "San Francisco Giants"), sanfranciscogiants_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("HoustonTexans.jpg", size: "150x150", title: "Houston Texans"), houstontexans_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Cubs.jpg", size: "150x150", title: "Chicago Cubs"), chicagocubs_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("nyjets.jpg", size: "150x150", title: "New York Jets"), newyorkjets_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Eagles.jpg", size: "150x150", title: "Philadelphia Eagles"), philadelphiaeagles_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("celtics.jpg", size: "150x150", title: "Boston Celtics"), bostonceltics_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ChicagoBears.jpg", size: "150x150", title: "Chicago Bears"), chicagobears_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("LAClippers.jpg", size: "150x150", title: "Los Angeles Clippers"), losangelesclippers_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("49ers.jpg", size: "150x150", title: "San Francisco 49ers"), sanfrancisco49ers_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Ravens.jpg", size: "150x150", title: "Baltimore Ravens"), baltimoreravens_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("BrooklynNets.jpg", size: "150x150", title: "Brooklyn Nets"), brooklynnets_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Broncos.jpg", size: "150x150", title: "Denver Broncos"), denverbroncos_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Colts.jpg", size: "150x150", title: "Indianapolis Colts"), indianapoliscolts_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Cardinals.jpg", size: "150x150", title: "St. Louis Cardinals"), stlouiscardinals_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("packers.jpg", size: "150x150", title: "Greenbay Packers"), greenbaypackers_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("ChelseaFC.jpg", size: "150x150", title: "Chelsea"), chelsea_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Ferrari.jpg", size: "150x150", title: "Ferrari"), ferrari_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Mets.jpg", size: "150x150", title: "New York Mets"), newyorkmets_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("steelers.jpg", size: "150x150", title: "Pittsburgh Steelers"), pittsburghsteelers_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Seahawks.jpg", size: "150x150", title: "Seattle Seahawks"), seattleseahawks_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Arsenal.jpg", size: "150x150", title: "Arsenal"), arsenal_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("warriors.jpg", size: "150x150", title: "Golden State Warriors"), goldenstatewarriors_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Angels.jpg", size: "150x150", title: "Angels of Anaheim"), losangelesangelsofanaheim_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("MiamiDolphins.jpg", size: "150x150", title: "Miami Dolphins"), miamidolphins_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("MapleLeafs.jpg", size: "150x150", title: "Toronto Maple Leafs"), torontomapleleafs_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Nationals.jpg", size: "150x150", title: "Washington Nationals"), washingtonnationals_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Panthers.jpg", size: "150x150", title: "Carolina Panthers"), carolinapanthers_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("MCFC.jpg", size: "150x150", title: "Manchester City"), manchestercity_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("HoustonRockets.jpg", size: "150x150", title: "Houston Rockets"), houstonrockets_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Phillies.jpg", size: "150x150", title: "Philadelphia Phillies"), philadelphiaphillies_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("TBBuccaneers.jpg", size: "150x150", title: "Tampa Bay Buccaneers"), tampabaybuccaneers_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Rangers.jpg", size: "150x150", title: "Texas Rangers"), texasrangers_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("MiamiHEAT.jpg", size: "150x150", title: "Miami Heat"), miamiheat_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Titans.jpg", size: "150x150", title: "Tennessee Titans"), tennesseetitans_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInDown">
        <div class="features-box-icon">
          <%= link_to image_tag("Braves.jpg", size: "150x150", title: "Atlanta Braves"), atlantabraves_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("Vikings.jpg", size: "150x150", title: "Minnesota Vikings"), minnesotavikings_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 features-box wow fadeInUp">
        <div class="features-box-icon">
          <%= link_to image_tag("AZCardinals.jpg", size: "150x150", title: "Arizona Cardinals"), arizonacardinals_path %>
        </div>
      </div>
      <div class="col-sm-2 features-box wow fadeInUp">
        <div class="features-box-icon">
          <a data-toggle="modal" data-target="#new_request_modal">
            <%= image_tag('requestmore.png', title: "New Request", id: "request_more_hover") %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="new_request_modal" class="modal fade">
  <div class="modal-fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Let us know which Sports Team are missing?</h3>
        </div>
        <div class="modal-body-new-post">
          <div class="row-fluid">
            <div class="span12">
              <div class="span6">
                <div class="logowrapper">
                  <div class="Alignthisorelse">
                    <div class="container post-padding">
                      <div class="col-sm-6 form-box wow fadeInUp"><!-- 
                        <div class="form-top-contacts">
                          <div class="form-top-left">
                            <h3><strong>Nprove Nfuse<strong></h3>
                            <p> Any advice you can give us about Nfuse would be awesome, Thank you. </p>
                          </div>
                          <div class="form-top-right">
                            <a href="#"><%#= image_tag("contactfeedbackgray.fw.png", size: "65x65") %></a>
                          </div>
                        </div> -->
                        <div class="form-top-contacts">
                          <div class="form-top-left">
                            <h3><strong>Nprove Nfuse<strong></h3>
                            <p> Any advice you can give us about Nfuse would be awesome, Thank you. </p>
                          </div>
                          <div class="form-top-right">
                            <a href="#"><%= image_tag("contactfeedbackgray.fw.png", size: "65x65") %></a>
                          </div>
                        </div>
                        <div class="form-bottom">
                          <%= form_for Contact.new, html: {role: "form"} do |f| %>
                            <div class="form-group">
                              <%= f.text_field :full_name, :placeholder => "Full Name", class: "form-control input-lg", id:"form-full-name", type: "search" %>
                            </div>
                            <div class="form-group">
                              <%= f.text_field :email, :placeholder => "Email", class: "form-control input-lg", id:"form-email", type: "email" %>
                            </div>
                            <div class="form-group">
                              <%= f.text_area :message, :placeholder => "Message", class: "form-control input-lg", id:"form-message", type: "message" %>
                            </div>
                            <div style="display: none;">
                              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %><!-- this text box needs to be hidden-->
                            </div>
                            <p class ="center fb-par-btm"> Nfuse wants to give you the best experience possible, any feedback on what to add or change will be greatly appreciated </p>
                            <button type= "submit" class="btn center">
                              Send!
                            </button>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>