<!-- START CONTENT -->
<section id="" class="content-section container">
  <div class="row">
    <header class="col-xs-12 center">
      <h1 class="heavy">Message Us</h1>
      <p class="intro-text">Contact Nfuse for anything you need help with.</p>
    </header>
    <!-- LOGIN FORM -->
    <%= form_for @contact, html: {id:"contact", class: "minimal col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6", role: "form"} do |f| %>
      <div class="form-group">
        <%= f.text_field :full_name, :placeholder => "Full Name", class: "form-control input-lg", id:"form-full-name", type: "search" %>
        <%= f.text_field :email, :placeholder => "Email", class: "form-control input-lg", id:"form-email", type: "email" %>
        <%= f.text_area :message, :placeholder => "Message", class: "form-control input-lg", id:"form-message", type: "message" %>
      </div>
      <div style="display: none;">
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %><!-- this text box needs to be hidden-->
      </div>
      <button type="submit" class="btn btn-default animated">Send!</button>
    <% end %> 
  </div>
 <!-- Footer -->
</section>