<!-- *Start* Views/contacts/new.html -->
<% provide(:title, 'Contact') %>

<style type="text/css">
  .message-padding{
    margin-top: 8vh;
  }
</style>
<div class="Alignthisorelse">
<div class="container message-padding">
  <div class="col-md-6 col-md-offset-3 form-box wow fadeInUp">
    <% if signed_in? %> <!-- if signed in contacts/new-->
      <div class="form-top">
        <div class="form-top-left">
          <h3><strong>Nprove Nfuse<strong></h3>
          <p> Any advice you could give us about Nfuse will be awesome, Thanks! </p>
        </div>
        <div class="form-top-right">
          <a href="#"><%= image_tag("contactfeedbackgray.fw.png", size: "65x65") %></a>
        </div>
      </div>
      <div class="form-bottom">
        <%= form_for @contact, html: {role: "form"} do |f| %>
          <div class="form-group">
            <%= f.text_field :full_name, :placeholder => "Full Name", class: "form-control input-lg", id:"form-full-name", type: "email" %>
          </div>
          <div class="form-group">
            <%= f.text_field :email, :placeholder => "Email", class: "form-control input-lg", id:"form-email", type: "email" %>
          </div>
          <div class="form-group">
            <%= f.text_area :message, :placeholder => "Message", class: "form-control input-lg", id:"form-message", type: "email" %>
          </div>
          <div style="display: none;">
            <%= f.text_field :nickname, :hint => 'Leave this field blank!' %><!-- this text box needs to be hidden-->
          </div>
          <p class ="center fb-par-btm"> If you need to contact us about anything besides feedback just fill out the form and we will get back to you as soon as possible. Nothing on your mind right now? Don’t worry, this form will be available for you to leave us your thoughts whenever you feel like it. </p>
          <button
          <%= f.submit "Send", class: "btn" %>> Send!
          </button>
        <% end %>            
      </div>
    <% else %> <!-- else contacts/new-->
      <div class="form-top">
        <div class="form-top-left">
          <h3><strong>Send A Message<strong></h3>
          <p>Contact Nfuse for anything you need help with.</p>
        </div>
        <div class="form-top-right">
          <a href="#"><%= image_tag("contactfeedbackgray.fw.png", size: "65x65") %></a>
        </div>
      </div>
      <div class="form-bottom">
        <%= form_for @contact, html: {role: "form"} do |f| %>
          <div class="form-group">
            <%= f.text_field :full_name, :placeholder => "Full Name", class: "form-control input-lg", id:"form-full-name", type: "email" %>
          </div>
          <div class="form-group">
            <%= f.text_field :email, :placeholder => "Email", class: "form-control input-lg", id:"form-email", type: "email" %>
          </div>
          <div class="form-group">
            <%= f.text_area :message, :placeholder => "Message", class: "form-control input-lg", id:"form-message", type: "message" %>
          </div>
          <button
          <%= f.submit "Send", class: "btn" %>> Send!
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
<!-- *End* Views/contacts/new.html -->