<!-- *Start* Views/contacts/new.html -->
<% provide(:title, 'Contact') %>
<div class="container_profile">
  <div align="center" class="box-main drop">
<% if signed_in? %> <!-- if signed in contacts/new-->
  <h2 class="fb-hd">Nprove your Nfuse experience? </h2>
  <p class="fb-par"> We work hard to make Nfuse an easy and pleasant experience, that’s why we need your help to keep getting better. <br> Any advice you could give us about Nfuse will be awesome, we look forward to hearing from you. Thanks! </p>
  <table class="signupTable">

  <%= form_for @contact, :html => {:class => 'table' } do |f| %>
<tr>
  <td><%= f.label :full_name %></td>
  <td><%= f.text_field :full_name, :required => true %></td>
</tr>
<tr>
  <td><%= f.label :email %></td>
  <td><%= f.text_field :email, :required => true %></td>
</tr>
<tr>
  <td><%= f.label :message %></td>
  <td><%= f.text_field :message, :required => true %></td>
</tr>
<tr> 
<div class= "hidden">
  <%= f.text_field :nickname, :hint => 'Leave this field blank!' %><!-- this text box needs to be hidden-->
</div>
<tr><td><%= f.submit :class=> "btn btn-info" %></td></tr>
   
  <% end %>
</table>
  <p class ="fb-par-btm"> If you need to contact us about anything besides feedback just fill out the form and we will get back to you as soon as possible. <br> Nothing on your mind right now? Don’t worry, this form will be available for you to leave us your thoughts whenever you feel like it. </p>
</div>

<% else %> <!-- else contacts/new-->


  <h3>Send A Message</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :full_name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-info" %>
    </div>
  <% end %>
</div>
<% end %>
<!-- *End* Views/contacts/new.html -->