<div class="timeline-user-box">
  <% if post.type == "image" %>
    <%= image_tag(post.image, :class => "image_post") %>
  <% elsif post.type == "video" %>
    <video width="100%" controls autoload="none" poster=<%= post.image %> >
      <source src="<%= post.video %>" type='video/mp4' />
      <source src="<%= post.video %>" type='video/ogv' />
    </video>
  <% end %>
</div>
<p>
  <% if post.text.present? %>
    <%= post.text %>
  <% end %>
</p>