  <article class="individual_post item <%= post.provider %>_post0" data-id="<%= post.id %>" id="content-box-feed">
    <header class="post_header">
      <div class="user">
        <%= image_tag("#{post.avatar}", class: 'user_profile_picture', size:'45x45', alt: 'P6pl2kfg normal') %>
        <%= link_to truncate(post.user_name, length: 16), root_path %>
      </div>
      <%= link_to post.link_to_post, class: 'timeStamp', target: 'blank', title: 'Go to entry' do %>
      <!-- <a class="timeStamp" href="#" target="_blank" title="Go To Entry"> -->
       
        <i class="fa"></i></i> <%= time_ago_in_words(post.created_time) %>
      <% end %>
    </header>
    <main class="post_content">
      <% case post.provider %>
        <% when 'twitter' %>
          <%= render partial: 'searches/twitter', locals: {post: post} %>
        <% when 'youtube' %>
          <%= render partial: 'searches/youtube', locals: {post: post} %>
        <% when 'instagram' %>
          <%= render partial: 'searches/instagram', locals: {post: post} %>
        <% when 'facebook' %>
          <%= render partial: 'searches/facebook', locals: {post: post} %>
      <%end%>
    </main>
  </article>

<!-- Still need this for linking to the original post, Idk how to apply it to the fa icon -->
<%#= link_to image_tag("#{post.provider}blue.fw.png", size: "24x24", :class => "#{post.provider}_provider_logo"), post.link_to_post, :target => "_blank", title: "Go To Entry" %>