<!-- MASON JAR -->
<% if signed_in? %>
  <!-- Do something else when logged in now -->
  <%#= render partial: "searches/show"%>
<% end %>
<% case params[:selected_option] %>
<% when "Nfusers" %>
  <section id="profile-grid" class="container-fluid search_pagination">
    <%= render partial: 'searches/search_loop', locals: {users: @users} %>
  </section>

  <% if @users.any? %>
    <% if @users.size >= 1 %>
      <div id="paginate_nfuser_search">
        <a href="/search?selected_option=Nfusers&search=<%= @search %>&page=2" class='nextSearchPages' style="display:hidden;" data-remote= true></a>
      </div>
    <% end %>
  <% end %>




<% when "Pages" %>
  <section id="profile-grid" class="container-fluid search_pagination">
    <%= render partial: 'searches/search_loop', locals: {pages: @pages} %>
  </section>

<% if @pages.any? %>
  <% if @pages.size >= 1 %>
    <div id="paginate_nfuser_search">
      <a href="/search?selected_option=Pages&search=<%= @search %>&page=2" class='nextSearchPages' style="display:hidden;" data-remote= true></a>
    </div>
  <% end %>
<% end %>

<% when "Posts", "", nil %>
  <% unless @timeline.nil? %>
    <section id="masonJar" class="clearfix">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
      <% @timeline.each do |post| %>
        <%= render partial: "searches/post", locals: {post: post} %>
      <% end %>
      <% if !signed_in? %>
        <div class="item individual_post center">
          <%= link_to 'Sign up now', signup_path, class: "btn btn-link-2" %>
        </div>
      <% end %>
    </section>
  <% else %>
    <div class="center no_timeline_padding">
      <p> Sorry, We couldn't find anything like that </p>
      <p> Try @wired or #NotMyChristian</p>
      <%= image_tag("sadface.fw.png", size:"100x100") %>
    </div>
  <% end %>
<% end %>

<script>
$(document).ready(function() {
  $('body.nosearchbar').removeClass('nosearchbar').addClass('searchbar')
});
</script>