<div class="individual_post facebook_post">
  <div class="network_logo">
    <img src="/assets/FB-f-Logo__blue_50.png" class="provider_logo">
  </div>
  <div class="post_main">
    <div class="post_header">
      <ul id="facebook_post_header">
        <li>
          <a href="<%= "https://www.facebook.com/app_scoped_user_id/" + from.id %>" target="_blank"><img src="<%= profile_picture_url %>" class="user_profile_picture"></a>
        </li>
        <li><a href="<%= "https://www.facebook.com/app_scoped_user_id/" + from.id %>"
               target="_blank"><%= from.name %></a></li>
        <li><%= created_time %></li>
      </ul>
      <div class="subheader">
        <ul>
          <li>via <%= application.name %></li>
        </ul>
      </div>
    </div>
    <div class="post_content">
      <ul>
        <li><%= message %></li>
      </ul>
      <div class="post_stats">
        <ul>
          <li>Comments: 0</li>
          <li data-facebook-like-count="<%= id %>">
            <a href="<%= "/facebook/like/" + id %>">Like:</a> <span class="js-facebook-like-count">0</span>
          </li>
          <li>
            <a href="<%= actions[0].link %>" target="_blank">View on Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>