<!-- This page is the embedded savascript for posting to twitter -->
<div class="individual_post twitter_post" data-id="<%= id %>">
  <div class="network_logo">
    <img src="/assets/Twitter_logo_blue.png" class="provider_logo">
  </div>
  <div class="post_main">
    <div class="post_header">
      <ul>
        <li>
          <a href="<%= "https://twitter.com/" + user.screen_name %>" target="_blank">
            <img src="<%= user.profile_image_url_https %>" class="user_profile_picture">
          </a>
        </li>
        <li><a href="<%= "https://twitter.com/" + user.screen_name %>" target="_blank"><%= user.name %></a></li>
        <li>@<%= user.screen_name %></li>
        <li><%= created_at %></li>
      </ul>
    </div>
    <div class="post_content">
      <ul>
        <li><%= text %></li>
      </ul>
      <div class="post_stats">
        <ul>
          <li data-twitter-retweet-count>
            <a href="<%= "/twitter/retweet/" + id %>">Retweet:</a> <span class="js-twitter-retweet-count"><%= retweet_count %></span>
          </li>
          <li data-twitter-favorite-count="<%= id %>">
            <a href="<%= "/twitter/favorite/" + id %>">Favorite:</a> <span class="js-twitter-favorite-count"><%= favorite_count %></span>
          </li>
          <li>
            <a href="<%= "https://twitter.com/" + user.screen_name + "/status/" + id %>" target="_blank">View on Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>