  <%# byebug %>
  <% @activities.each do |activity| %>
    <% case activity.trackable_type %>
    <% when 'Relationship' %>
      <% if activity.owner.nil? %>
      <% else %>
        <div class="row notification followed">
          <div class="col-xs-1 user-img">
            <% if activity.owner.avatar_file_name.present? && activity.owner.avatar_file_name.include?('graph.facebook.com') %>
              <%= link_to image_tag(activity.owner.avatar_file_name, title: "#{ activity.owner.first_name}"), feed_user_path(activity.owner) %>
            <% else %>
              <%= link_to image_tag(activity.owner.avatar(:small), title: "#{ activity.owner.first_name}"), feed_user_path(activity.owner) %>
            <% end %>
            <!-- <img src="/assets/users/brunomars.jpg" alt="User Image"/> -->
          </div>
          <div class="col-xs-10 notification-body">
            <p>
              <%= link_to activity.owner.first_name.capitalize, feed_user_path(activity.owner), class: 'user-link' %>
              followed you! 
              <span class="timer">
                <%= time_ago_in_words(activity.created_at) %> 
              </span></p>
          </div>
          <div class="col-xs-1 notification-action">
            <a href="#"><i class="fa"></i></a>
          </div>
        </div>
      <% end %>
    <% when 'Comment' %>
      <% if activity.owner.nil? %>
      <% else %>
       <%# @post_entry = Notification::Timeline.new(activity.parameters[:id], activity.parameters[:provider], activity.recipient ).construct unless nil? %>
        <div class="row notification">
          <div class="col-xs-1 user-img">
            <% if activity.owner.avatar_file_name.present? && activity.owner.avatar_file_name.include?('graph.facebook.com') %>
              <%= link_to image_tag(activity.owner.avatar_file_name, title: "#{ activity.owner.first_name}"), feed_user_path(activity.owner) %>
            <% else %>
             <%= link_to image_tag(activity.owner.avatar(:small), title: "#{ activity.owner.first_name}"), feed_user_path(activity.owner) %>
            <% end %>
          </div>
          <div class="col-xs-10 notification-body">
            <% if activity.key == 'comment.tagged' %>
              <% comment_type = Comment.find(activity.trackable_id) %>
              <p>
                <%= link_to activity.owner.first_name.capitalize, feed_user_path(activity.owner), class: 'user-link' %> 
                <% if comment_type.parent.nil? %>
                  Taggged you in a forum post! 
                <% else %>
                  Tagged you in a forum comment!
                <% end %>
                <span class="timer">
                  <%= time_ago_in_words(activity.created_at) %>
                </span>
              </p>
            <% else %>
              <p>
                <%= link_to activity.owner.first_name.capitalize, feed_user_path(activity.owner), class: 'user-link' %> 
                liked your forum post photo! 
                <span class="timer">
                  <%= time_ago_in_words(activity.created_at) %>
                </span>
              </p>
            <% end %>
          </div>
          <div class="col-xs-1 notification-action">
            <img src="/assets/users/LouisVuitton.jpg" alt="User Image"/>
          </div>
        </div>
      <% end %>
    <% when 'User' %>
    <%# buybug %>
      <% if activity.owner.nil? %>
      <% else %>
       <%# @post_entry = Notification::Timeline.new(activity.parameters[:id], activity.parameters[:provider], activity.recipient ).construct unless nil? %>
        <div class="row notification">
          <div class="col-xs-1 user-img">
              <% if activity.owner.avatar_file_name.present? && activity.owner.avatar_file_name.include?('graph.facebook.com') %>
                <%= link_to image_tag(activity.owner.avatar_file_name, title: "#{ activity.owner.first_name}"), feed_user_path(activity.owner) %>
              <% else %>
               <%= link_to image_tag(activity.owner.avatar(:small), title: "#{ activity.owner.first_name}"), feed_user_path(activity.owner) %>
              <% end %>
          </div>
          <div class="col-xs-10 notification-body">
            <p>
              <%= link_to activity.owner.first_name.capitalize, feed_user_path(activity.owner), class: 'user-link' %> 
              liked your photo! 
              <span class="timer">
                <%= time_ago_in_words(activity.created_at) %>
              </span>
            </p>
          </div>
          <div class="col-xs-1 notification-action">
            <img src="/assets/users/LouisVuitton.jpg" alt="User Image"/>
          </div>
        </div>
      <% end %>
    <% when 'Shout' %>
      <% if activity.owner.nil? %>
      <% else %>
      <% end %>
        <div class="row notification exclusive">
          <div class="col-xs-1 user-img">
            <% if activity.owner.avatar_file_name.present? && activity.owner.avatar_file_name.include?('graph.facebook.com') %>
              <%= link_to image_tag(activity.owner.avatar_file_name, title: "#{ activity.owner.first_name}"), feed_user_path(activity.owner) %>
            <% else %>
              <%= link_to image_tag(activity.owner.avatar(:small), title: "#{ activity.owner.first_name}"), feed_user_path(activity.owner) %>
            <% end %>
          </div>
          <div class="col-xs-10 notification-body">
            <p><%= link_to activity.owner.first_name.capitalize, feed_user_path(activity.owner, class: 'user-link') %> 
              send you an exclusive post!
              <span class="timer">
                <%= time_ago_in_words(activity.created_at) %> 
              </span>
            </p>
          </div>
          <button type="button" class="col-xs-1 notification-action" data-toggle="modal" data-target="#exclusivemodal<%= activity.id %>">
            <a href="#"><i class="fa"></i></a>
          </button>
        </div>
    <% else %>
    <% end %>
  <% end %>