<% case @post_entry.type %>
<% when 'photo' %>
  <div class="timeline-user-box">
    <%= image_tag(@post_entry.image, :class => "gplus_image") %>
  </div>
  <% if @post_entry.text.present? %>
    <div class="center">
      <%= truncate(@post_entry.text, lenght: 30) %>
    </div>
  <% end %>
<% when 'video' %>
  <div class="timeline-user-box">
    <iframe
    id="ytplayer"
    type="text/html"
    width="100%"
    height="225"
    src="<%= @post_entry.video %>"
    frameborder="0"
    allowfullscreen>
    </iframe>
  </div>
  <% if @post_entry.text.present? %>
    <div class="center">
      <%= truncate(@post_entry.text, lenght: 30) %>
    </div>
  <% end %>
<% else %>
  <div class="center text_only_post">
    <%= truncate(@post_entry.text, lenght: 30) %>
  </div>
<% end %>