<!-- EXCLUSIVE POST MODAL -->
<article class="individual_post item instagram_post0">
  <header class="post_header">
    <div class="user">
      <% if activity.owner.avatar_file_name.present? && activity.owner.avatar_file_name.include?('graph.facebook.com') %>
        <%= link_to image_tag(activity.owner.avatar_file_name, class: "user_profile_picture", size: '45', title: "#{ activity.owner.first_name}"), feed_user_path(activity.owner) %>
      <% else %>
        <%= link_to image_tag(activity.owner.avatar(:small), class: "user_profile_picture", size: '45', title: "#{ activity.owner.first_name}"), feed_user_path(activity.owner) %>
      <% end %>
      <%= link_to activity.owner.first_name.capitalize, feed_user_path(activity.owner) %>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
      <i class="fa"></i> <%= time_ago_in_words(activity.created_at) %>
    </a>
  </header>
  <main class="post_content">
    <% if !activity.trackable.url.blank? %>
      <p> <%= activity.trackable.url_html %></p>
    <% elsif activity.trackable.is_pic? %>
      <div class="timeline-user-box image_post">
        <%= image_tag activity.trackable.pic.url %>
           </div>
    <% elsif activity.trackable.is_video? %>
      <div class="timeline-user-box">
        <video 
          preload="none"
          id="ytplayer" 
          type="video/mp4" 
          width="100%" 
          height="225" 
          src="<%= activity.trackable.video_url %>" 
          frameborder="0"
          allowfullscreen
          controls>
        </video>
      </div>
    <% elsif activity.trackable.is_full_video? %>
      <div class="timeline-user-box">
        <video 
          preload="none"
          autoload="none"
          type="video/flv" 
          width="100%" 
          src="<%= activity.trackable.full_video_url %>" 
          frameborder="0"
          allowfullscreen
          controls>
        </video>
           </div>
    <% end %>
    <% if activity.trackable.content.present? %>
      <p>
        <%= activity.trackable.content %>
      </p>
    <% end %>
  </main>
<!--   <footer class="post_actions">
    <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
      <i class="fa"></i><span>666</span>
    </a>
  </footer> -->
</article>