  <% if !@post_entry.url.blank? %>
    <div class='timeline-user-box center'></div>
    <%= @post_entry.url_html %>
    <div class="url_center">
      <%= truncate(@post_entry.content, lenght: 30) %>
    </div>
  <% elsif @post_entry.is_pic? %>
    <div class="timeline-user-box image_post">
      <%= image_tag @post_entry.pic_url %>
    </div>
    <div class="center">
        <%= truncate(@post_entry.content, lenght: 30) %>
    </div>
  <% elsif @post_entry.is_video? %>
    <div class="timeline-user-box">
      <video 
        style="background:transparent url(<%= @post_entry.pic_url %>) no-repeat 50% 50%;"
        preload="none"
        id="ytplayer" 
        type="video/mp4" 
        width="100%" 
        height="225" 
        src="<%= @post_entry.video_url %>" 
        frameborder="0"
        allowfullscreen
        controls>
      </video>
    </div>
    <div class="center">
      <%= truncate(@post_entry.content, lenght: 30) %>
    </div>
  <% elsif @post_entry.is_full_video? %>
    <div class="timeline-user-box">
      <video 
        preload="none"
        id="ytplayer" 
        type="video/flv" 
        width="100%" 
        height="225" 
        src="<%= @post_entry.full_video_url %>" 
        frameborder="0"
        allowfullscreen
        controls>
      </video>
    </div>
    <div class="center">
      <%= truncate(@post_entry.content, lenght: 30) %>
    </div>
  <% else %>
    <div class="center text_only_post ">
      <%= truncate(@post_entry.content, lenght: 30) %>
    </div>
  <% end %>
