  <% if @post_entry.type == 'photo'%>
    <div class="timeline-user-box">
      <%= image_tag(@post_entry.image, :class => "tumblr_image") %>
    </div>
    <% if @post_entry.text.present? %>
      <div class="center">
        <%= truncate(strip_tags(@post_entry.text), lenght: 30)%>
      </div>
    <% end %>
  <% elsif @post_entry.type == 'video' %>
    <% if @post_entry.video_type == 'tumblr' %>
      <div class="center">
        <video width="100%" controls preload="none" poster=<%= @post_entry.video_thumbnail %> >
          <source src="<%= @post_entry.video %>" type='video/mp4' />
          <source src="<%= @post_entry.video %>" type='video/ogv' />
        </video>
      </div>
    <% else %>
      <div class="timeline-user-box">
        <iframe
        id="ytplayer"
        type="text/html"
        width="100%"
        height="225"
        src="<%= @post_entry.video %>"
        frameborder="0"
        allowfullscreen>
        </iframe>
      </div>
    <% end %>
    <% if @post_entry.text.present? %>
      <div class="center">
        <%= truncate(strip_tags(@post_entry.text), lenght: 30) %>
      </div>
    <% end %>
  <% elsif @post_entry.type == 'audio' %>
    <div class="timeline-user-box">
      <Iframe
      <%= @post_entry.audio %>>
      </Iframe>
    </div>
    <% if @post_entry.text.present? %>
      <div class="center">
        <%= truncate(strip_tags(@post_entry.text), lenght: 30)%>
      </div>
    <% end %>
  <% elsif @post_entry.type == 'text'  %>
    <div class="center">
      <%= @post_entry.body %>
    </div>
  <% elsif @post_entry.type == 'quote'  %>
    <div class="center">
      <%= truncate(strip_tags(@post_entry.text), lenght: 30) %>
    </div>
  <% elsif @post_entry.type == 'link'  %>
    <div class="center">
      <a href="#{@post_entry.link_to_url}">
        <%= @post_entry.excerpt %>
      </a>
      <%= truncate(strip_tags(@post_entry.description), lenght: 30) %>
    </div>
  <% else %>
    <div class="center">
      <%= truncate(strip_tags(@post_entry.text), lenght: 30) %>
    </div>
  <% end %>