<style>
.notificationPost{
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.imageAndVideoWidth{
	max-width: 400px
}
.yes_timeline_padding{
	margin-top: 15px;
}
</style>

<div id="masonJar" class="clearfix masonJar yes_timeline_padding post">
		<% @activities.each do |a| %>		
			<% case a.attributes['trackable_type'] %>
			<% when 'Relationship' %>
		    <div class="individual_post item">
					<div class="info">
						<%= link_to image_tag(a.owner.avatar(:small), class: "notifications_avatar", size: "50", title: "#{ a.owner.first_name}"), feed_user_path(a.owner) %>			  
						<h4 class="name"><%= link_to a.owner.first_name.capitalize, feed_user_path(a.owner) %></h4>
						<% if a.trackable %>
						  <span class="action">started following You </span>
						<% else %>
						  <span class="action">Unfollowed You </span>
						<% end %>
					</div>
					<div class="content">
					  <div class="created-at">
							<%= time_ago_in_words(a.created_at) %> ago
		    		</div>
					</div>
		    </div>
		  <% when 'User' %>
	      <% @post_entry = Notification::Timeline.new(a.parameters[:id], a.parameters[:provider], a.recipient	).construct %>
		    <div class="individual_post item">
					<div class="info">
						<%= link_to image_tag(a.owner.avatar(:small), class: "notifications_avatar", size: "50", title: "#{ a.owner.first_name}"), feed_user_path(a.owner) %>			  
						<h4 class="name"><%= link_to a.owner.first_name.capitalize, feed_user_path(a.owner) %></h4>
						  <span class="action">liked your <%= (a.parameters[:provider].presence || 'nfuse').capitalize %> post </span>
					</div>
					<div class="content">
	          <% if @post_entry.present? %>
							<% if a.trackable %>
							  <% case a.parameters[:provider] %>
							  <% when nil %>
							    <%= render partial: 'activities/nfuse_entry', locals: {nfuse_entry: @post_entry} %>
							  <% when "gplus" %>
							  	<%= render partial: 'activities/gplus_entry', locals: {gplus_entry: @post_entry} %>
							  <% when "tumblr" %>
							  	<%= render partial: 'activities/tumblr_entry', locals: {tumblr_entry: @post_entry} %>
							  <% when "facebook" %>
							  	<%= render partial: 'activities/facebook_entry', locals: {facebook_entry: @post_entry} %>
							  <% when 'twitter' %>
							  	<%= render partial: 'activities/twitter_entry', locals: {twitter_entry: @post_entry} %>
							  <% when 'youtube' %>
							  	<%= render partial: 'activities/youtube_entry', locals: {youtube_entry: @post_entry} %>
							  <% when 'vimeo' %>
							  	<%= render partial: 'activities/vimeo_entry', locals: {vimeo_entry: @post_entry} %>
							  <% when 'flickr' %>
							  	<%= render partial: 'activities/flickr_entry', locals: {flickr_entry: @post_entry} %>
							  <% when 'instagram' %>
							  	<%= render partial: 'activities/instagram_entry', locals: {instagram_entry: @post_entry} %>
							  <% end %>
						  <% end %>
	          <% end %>
					  <div class="created-at">
							<%= time_ago_in_words(a.created_at) %> ago
		    		</div>
					</div>
				</div>
      <% when 'Shout' %>
				<div class="post_content">
				    <% if !a.trackable.url.blank? %>
				      <p> <%= a.trackable.url_html %></p>
				      <div class="url_caption">
				        <%= a.trackable.content %>
				        <!-- <p>Duration: <b><%#= a.trackable.duration %></b></p> -->
				      </div>
				    <% elsif a.trackable.is_pic? %>
				      <div class="timeline-user-box image_post">
				        <%= image_tag a.trackable.pic_url %>
				      </div>
				      <div class="caption">
				          <%= a.trackable.content %>
				      </div>
				    <% elsif a.trackable.is_video? %>
				      <div class="timeline-user-box">
				        <video 
				          id="ytplayer" 
				          type="video/mp4" 
				          width="100%" 
				          height="225" 
				          src="<%= a.trackable.video_url %>" 
				          frameborder="0"
				          allowfullscreen
				          controls>
				        </video>
				        <%#= videojs_rails sources: { mp4: "http://domain.com/path/to/video.mp4", webm: "http://another.com/path/to/video.webm"}, setup: "{}", controls: false, width:"350" %>
				      </div>
				      <div class="caption">
				          <%= a.trackable.content %>
				      </div>
				    <% elsif a.trackable.is_full_video? %>
				      <div class="timeline-user-box">
				        <video 
				          id="ytplayer" 
				          type="video/flv" 
				          width="100%" 
				          height="225" 
				          src="<%= a.trackable.full_video_url %>" 
				          frameborder="0"
				          allowfullscreen
				          controls>
				        </video>
				        <%#= videojs_rails sources: { mp4: "http://domain.com/path/to/video.mp4", webm: "http://another.com/path/to/video.webm"}, setup: "{}", controls: false, width:"350" %>
				      </div>
				      <div class="caption">
				          <%= a.trackable.content %>
				      </div>
				    <% end %>
				  </div><br>
			<% end %>
		<% end %>
</div>