<% content_for :for_head do %>

<!--New head -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nfuse - Share All Your Social Media. </title>
  <meta name="description" content="Nfuse, Share all your social media in on place, one feed for all your social media, easy way to share with your friends" />
  <meta name="keywords" content="Nfuse, Nfuse.it, wwww.nfuse.it, infuse.it, Social Media, Social Agregate, all in one social media, one social site, sharing social media, social media in one, social share, one feed" />
  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <!-- Javascript -->
  <%= javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'wow.min.js' %>
  <%= javascript_include_tag 'jquery.magnific-popup.min.js' %>
  <%= javascript_include_tag 'scripts.js' %>
<% end %>
<style type="text/css">
    .bs-example{
      margin-top: 20%;
    }

    .megajam {
      font-size: 10em;
      padding-top: 10%;
      padding-bottom: 10px;
    }

    .megasmall {
      font-size: 3em;
      padding-top: 10px;
    }

    body {
      background-color : #af9aee;
    }

    .landingbottompush {
      padding-bottom: 1%;
    }
</style>
<div class="Alignthisorelse">
  <div class="loader">
    <div class="loader-img"></div>
  </div>
  <div class="top-content">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text">
            <h1 class="wow fadeInLeftBig megajam"><strong> Nfuse</strong></h1>
            <div class="description wow fadeInLeftBig megasmall">
              <%= render partial: "searches/show" %>
            </div>
          </div>
        </div>
        <div class="top-big-link wow fadeInUp landingbottompush">
          <%= link_to 'Sign up now', signup_path, class: "btn btn-link-2" %>
          <%= link_to 'Learn More', about_path, class: "btn btn-link-2" %>
          <!-- <a class="btn btn-link-2 scroll-link" href="#features">Learn more</a> -->    
        </div>
      </div>
    </div>
  </div>
</div>
<!--         <div class="row">
          <div class="col-sm-2 col-sm-offset-2 features-box wow fadeInUp">
            <div class="features-box-icon">
              <a href="#"><%#= image_tag("twitterblue.fw.png", size: "60x60") %></a>
            </div>
              <h3><strong>Twitter<strong></h3>
            </div>
            <div class="col-sm-2 features-box wow fadeInDown">
            <div class="features-box-icon">
              <a href="#"><%#= image_tag("instagramblue.fw.png", size: "60x60") %></a>
            </div>
              <h3><strong>Instagram<strong></h3>
            </div>
            <div class="col-sm-2 features-box wow fadeInUp">
            <div class="features-box-icon">
              <a href="#"><%#= image_tag("tumblrblue.fw.png", size: "60x60") %></a>
            </div>
              <h3><strong>Tumblr<strong></h3>
            </div>
            <div class="col-sm-2 features-box wow fadeInDown">
            <div class="features-box-icon">
              <a href="#"><%#= image_tag("youtubeblue.fw.png", size: "60x60") %></a>
            </div>
              <h3><strong>Youtube<strong></h3>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-sm-offset-2 features-box wow fadeInUp">
            <div class="features-box-icon">
              <a href="#"><%#= image_tag("gplusblue.fw.png", size: "60x60") %></a>
            </div>
              <h3><strong>Google+<strong></h3>
            </div>
            <div class="col-sm-2 features-box wow fadeInDown">
            <div class="features-box-icon">
              <a href="#"><%#= image_tag("vimeoblue.fw.png", size: "60x60") %></a>
            </div>
              <h3><strong>Vimeo<strong></h3>
            </div>
            <div class="col-sm-2 features-box wow fadeInUp">
            <div class="features-box-icon">
              <a href="#"><%#= image_tag("flickrblue.fw.png", size: "60x60") %></a>
            </div>
              <h3><strong>Flickr<strong></h3>
            </div>
            <div class="col-sm-2 features-box wow fadeInUp">
            <div class="features-box-icon">
              <a href="#"><%#= image_tag("facebookblue.fw.png", size: "60x60") %></a>
            </div>
              <h3><strong>Facebook<strong></h3>
            </div>
        </div> -->