<div class="Alignthisorelse">
  <div class="top-content">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text">
            <h1 class="wow fadeInLeftBig megajam"><strong> Nfuse</strong></h1>
            <div class="description wow fadeInLeftBig">
              <p class="intro-par megasmall"><strong>
               Share & Discover Social Media
              </strong></p>
            </div>
            <div class="description">
              <div class="col-sm-12 center" >
                <%= form_tag search_path, method: 'get', id: "search" do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search #Hashtags @Users and Social Media" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="top-big-link landingbottompush">
          <%= link_to 'Sign up now', signup_path, class: "btn btn-link-2" %>
          <%= link_to 'Learn More', about_path, class: "btn btn-link-2" %>
          <%= link_to 'Facebook Signup', '/auth/facebook/', class: "btn btn-link-2" %>
          <!-- <a class="btn btn-link-2 scroll-link" href="#features">Learn more</a> -->    
        </div>
      </div>
    </div>
  </div>
</div>