<% content_for :for_head do %>

<!--New head -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nfuse - Share All Your Social Media. </title>
  <meta name="description" content="Nfuse, Share all your social media in on place, one feed for all your social media, easy way to share with your friends" />
  <meta name="keywords" content="Nfuse, Nfuse.it, wwww.nfuse.it, infuse.it, Social Media, Social Agregate, all in one social media, one social site, sharing social media, social media in one, social share, one feed" />
  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <!-- Javascript -->
  <%= javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'wow.min.js' %>
  <%= javascript_include_tag 'jquery.magnific-popup.min.js' %>
  <%= javascript_include_tag 'scripts.js' %>
<% end %>
<style type="text/css">
    .bs-example{
      margin-top: 20%;
    }

    .megajam {
      font-size: 10em;
      padding-top: 10%;
      padding-bottom: 10px;
    }

    .megasmall {
      font-size: 3em;
      padding-top: 10px;
    }

    body {
      background-color : #af9aee;
    }

    .landingbottompush {
      padding-bottom: 1%;
    }

#search {

}

#search input[type="text"] {
    background-color: rgba(19, 19, 19, 0.11);
    border: 0 none;
    font: bold 22px Arial,Helvetica,Sans-serif;
    color: #777;
    width: 620px;
    height: 40px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    }
/*
#search input[type="text"]:focus {
    width: 660px;
    }*/
</style>
<div class="Alignthisorelse">
  <div class="loader">
    <div class="loader-img"></div>
  </div>
  <div class="top-content">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text">
            <h1 class="wow fadeInLeftBig megajam"><strong> Nfuse</strong></h1>
            <div class="description wow fadeInLeftBig">
              <p class="intro-par megasmall"><strong>
               Share & Discover Social Media
              </strong></p>
            </div>
            <div class="description wow fadeInLeftBig">
              <div class="col-sm-12 center" >
                <%= form_tag search_path, method: 'get', id: "search" do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search #Hashtags @Users and Popular Media" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="top-big-link wow fadeInUp landingbottompush">
          <%= link_to 'Sign up now', signup_path, class: "btn btn-link-2" %>
          <%= link_to 'Learn More', about_path, class: "btn btn-link-2" %>
          <!-- <a class="btn btn-link-2 scroll-link" href="#features">Learn more</a> -->    
        </div>
      </div>
    </div>
  </div>
</div>