<div class="explore_filters">
  <%= render partial: "users/hub_filters" %>
</div><br>
<div id="masonJar" class="hub_container clearfix masonJar">
  <% timeline.each do |post| %>
    <% if post.provider == "twitter" %>
      <%= render partial: "users/twitter_post", locals: {post: post} %>
    <% elsif post.provider == "instagram" %>
      <%= render partial: "users/instagram_post", locals: {post: post} %>
    <% elsif post.provider == "facebook" %>
      <%= render partial: "users/facebook_post", locals: {post: post, 
                                                          poster_recipient_profile_hash: @poster_recipient_profile_hash, 
                                                          commenter_profile_hash: @commenter_profile_hash} %>
    <% elsif post.provider == "nfuse" %>
      <%=  render partial: "users/shout", locals: {shout: post} %>
    <% elsif post.provider == "google_oauth2" %>
      <%= render partial: "users/youtube_post", locals: {post: post} %>
    <% elsif post.provider == "gplus" %>
      <% if post.type != 'hiddenType' %>
        <%= render partial: "users/gplus_post", locals: {post: post} %>
      <% end %>
    <% elsif post.provider == "vimeo" %>
      <%= render partial: "users/vimeo_posts", locals: {post: post} %>
    <% elsif post.provider == "pinterest" %>
      <%= render partial: "users/pinterest_post", locals: {post: post} %>
    <% elsif post.provider == "flickr" %>
      <%= render partial: "users/flickr_post", locals: {post: post} %>
    <% elsif post.provider == "tumblr" %>
      <% unless post.type == 'chat' || post.type == 'audio' %>
        <%= render partial: "users/tumblr_post", locals: {post: post} %>
      <% end %>
    <% end %>
  <% end %>
</div>