<div>
  <ul>
    <li>
      <%= link_to "Nfuse only", nfuse_only_user_path(session[:user_id]) %>
    </li>
    <li>
      <%= link_to "Twitter only", twitter_only_user_path(session[:user_id]) %>
    </li>
    <li>
      <%= link_to "Instagram only", instagram_only_user_path(session[:user_id]) %>
    </li>
    <li>
      <%= link_to "Facebook only", facebook_only_user_path(session[:user_id]) %>
    </li>
  </ul>
</div><br>

<div id="masonJar" class="center hub_container clearfix masonJar">
  <% timeline.each do |post| %>
    <% if post.provider == "twitter" %>
      <%= render partial: "users/twitter_post", locals: {post: post} %>
    <% elsif post.provider == "instagram" %>
      <%= render partial: "users/instagram_post", locals: {post: post} %>
    <% elsif post.provider == "facebook" %>
      <%= render partial: "users/facebook_post", locals: {post: post, 
                                                          poster_recipient_profile_hash: @poster_recipient_profile_hash, 
                                                          commenter_profile_hash: @commenter_profile_hash} %>
    <% elsif post.provider == "nfuse" %>
      <%=  render partial: "users/shout", locals: {shout: post} %>
    <% end %>
  <% end %>
</div>