
<% if current_user.relationships.where(follow_type: 'User').collect(&:followed_id).any? %>
<section id="thehub" class="container-fluid clearfix">

  <nav id="user-nav" class="hub center navbar">
    <ul>
      <li><%= link_to 'All', all_users_and_pages_user_path(current_user) , class: "btn btn-link-2" %> </li>
      <li><%= link_to 'Users', root_path , class: "btn btn-link-2" %></li>
      <li><%= link_to 'Pages', biz_page_hub_user_path(current_user), class: "btn btn-link-2" %></li>
    </ul>
  </nav>
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
</section>
<section id="masonJar" class="clearfix masonJar yes_timeline_padding">

  <%# cache(["user_hub", timeline.map(&:id), ActsAsVotable::Vote.maximum(:updated_at)]) do %>
    <% timeline.first(30).each do |post| %>
      <%# cache(post) do %>
          <article class="individual_post item <%= post.provider %>_post0">
            <header class="post_header">
              <div class="user">
                <%= image_tag("#{post.avatar}", size:'45x45', alt: 'P6pl2kfg normal') %>
                <%= link_to truncate(post.user.user_name, length: 16), root_path %>
              </div>
              <%= link_to post.link_to_post, class: 'timeStamp', target: 'blank', title: 'Go to entry' do %>
              <!-- <a class="timeStamp" href="#" target="_blank" title="Go To Entry"> -->
                <i class="fa"></i> <%= time_ago_in_words(post.created_time) %>
              <% end %>
            </header>
            <main class="post_content">
              <% case post.provider %>
              <% when "nfuse" %>
                <!-- LEAVE OFF UNTIL PAGINATION WRITTEN FOR SHOUTS. -->
                <% unless post.exclusive == true %>
                  <%=  render partial: 'users/shout', locals: {shout: post} %>
                <% end %>
              <% when "gplus" %>
                <% if post.type != 'hiddenType' %>
                  <%= render partial: "users/#{post.provider}_post", locals: {post: post} %>
                <% end %>
              <% when "tumblr" %>
                <% unless post.type == 'chat' || post.type == 'audio' %>
                  <%= render partial: "users/#{post.provider}_post", locals: {post: post} %>
                <% end %>
              <% when "facebook" %>
                <% unless post.story.present? && ((post.story.include? 'profile picture') || (post.story.include? 'cover photo')) %>
                  <%= render partial: "users/#{post.provider}_post", locals: {post: post} %>
                <% end %>
              <% when "twitter" %>
                <% unless post.retweeted == true %>
                  <%= render partial: "users/#{post.provider}_post", locals: {post: post} %>
                <% end %>
              <% else %>
                <%= render partial: "users/#{post.provider}_post", locals: {post: post} %>
              <% end %>
            </main>
            <footer class="post_actions">
              <!-- <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                <i class="fa"></i><span>666</span>
              </a> -->
              <% if ActsAsVotable::Vote.where(votable_id: post.id).pluck(:voter_id).include?(current_user.id) %>
                <%= link_to dislike_shout_path(id: post.id, owner_id: post.user.id, owner_type: post.user.class.name, key: post.provider), {method: :delete, remote: true, class: 'likePost'} do %>
                  <i class="fa"></i><span><%= post.like_score(post.id) %></span>
                <% end %>
              <% else %>
                <%= link_to like_shout_path(id: post.id, owner_id: post.user.id, owner_type: post.user.class.name, key: post.provider), {method: :post, remote: true, class: 'likePost'} do %>
                  <i class="fa"></i><span><%= post.like_score(post.id) %></span>
                <% end %>
              <% end %>
                <%#= post.like_score(post.id) %>
            </footer>
          </article>
      <% end %>
    <%# end %>
    <%# end %>

</section>
<% else %>
  <section id="thehub" class="container-fluid clearfix">
    <nav id="user-nav" class="hub center navbar">
    <ul>
      <li><%= link_to 'All', all_users_and_pages_user_path(current_user) , class: "btn btn-link-2" %> </li>
      <li><%= link_to 'Users', root_path , class: "btn btn-link-2" %></li>
      <li><%= link_to 'Pages', biz_page_hub_user_path(current_user), class: "btn btn-link-2" %></li>
    </ul>
    </nav>
    <div class="row">
      <div class="explore_filters col-xs-12 center">
        <p>Can't display posts because you aren't following anyone... <%= current_user.first_name %>, Why aren't you following someone yet?</p>
          <%= link_to 'Start Exploring', explore_user_path(current_user), class: "btn btn-link-2" %>
      </div>
    </div>
  </section>
<% end %>
