<!-- *Start* Views/layouts/_footer.html -->
  <ul class="footer_links">
    <li class="footer-link"><%= link_to "About", about_path %></li>
    <li class="footer-link"><%= link_to "Privacy", privacy_path %></li>
    <li class="footer-link"><%= link_to "Contact", contacts_path %></li>
    <li class="footer-link"><%= link_to "Sign up", signup_path %></li>
    <li class="footer-link"><%= link_to "Log in", signin_path %></li>
    <li>
      <p> &#169; 2015 Nfuse LLC. All rights reserved     by T n' T </p>
    </li>
  </ul>
<!-- *End* Views/layouts/_footer.html -->