<!-- Updated at 1:59 12/30/15 -->
<% if current_page?(controller: 'pages', action: 'home') %>
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header">
      <a id="menutoggler" href="#" class="loggedout">
        <i class="main-color fa fa-bars"></i>
      </a>
      <%= link_to image_tag("logo.png", alt: "nfuselogo"), root_path, class: 'navbar-brand' %>
      <!-- LOGGED OUT NAV -->
      <div id="loggedout-nav" class="loggedout navbar-right">
        <ul class="nav">
          <li>
            <a href="#foot-signup" class="hidden-xs page-scroll animated"><i class="fa fa-user"></i> Sign Up</a>
            <a href="#" class="visible-xs signuptoggler"><i class="fa fa-user"></i> Sign Up</a>
          </li>
          <li>
            <%= link_to signin_path, class: 'signintoggler' do %>
            <i class="fa fa-user-plus"></i>Login
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!-- LOGGED IN NAV -->
    <div id="loggedin-nav" class="loggedout slideout">
      <form accept-charset="UTF-8" action="/search" id="slide-search" class="search drk" method="get">
        <div style="display:none">
          <input name="utf8" type="hidden" value="✓">
        </div>
        <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
        <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
        <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
      </form>
      <ul class="nav">
        <li>
          <%= link_to 'Home', root_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign Un', signup_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign In', signin_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Privacy', privacy_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Contact Us', new_contact_path, class: '' %>
        </li>
      </ul>
    </div>
  </nav>
<% elsif current_page?(controller: 'pages', action: 'privacy') %>
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header">
      <a id="menutoggler" href="#" class="loggedout">
        <i class="main-color fa fa-bars"></i>
      </a>
      <%= link_to image_tag("logo.png", alt: "nfuselogo"), root_path, class: 'navbar-brand' %>
      <!-- LOGGED OUT NAV -->
      <div id="loggedout-nav" class="loggedout">
        <ul class="nav">
          <li>
            <a href="/signup" class="hidden-xs page-scroll animated"><i class="fa fa-user"></i> Sign Up</a>
            <a href="#" class="visible-xs signuptoggler"><i class="fa fa-user"></i> Sign Up</a>
          </li>
          <li>
            <%= link_to signin_path do %>
            <i class="fa fa-user-plus"></i>Login
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!-- Search Form -->
    <form accept-charset="UTF-8" action="/search" id="head-search" class="search drk" method="get">
      <div style="display:none">
        <input name="utf8" type="hidden" value="✓">
      </div>
      <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
      <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
      <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
    </form>
    <!-- LOGGED IN NAV -->
    <div id="loggedin-nav" class="loggedout slideout">
      <form accept-charset="UTF-8" action="/search" id="slide-search" class="search drk" method="get">
        <div style="display:none">
          <input name="utf8" type="hidden" value="✓">
        </div>
        <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
        <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
        <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
      </form>
      <ul class="nav">
        <li>
          <%= link_to 'Home', root_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign Un', signup_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign In', signin_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Privacy', privacy_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Contact Us', new_contact_path, class: '' %>
        </li>
      </ul>
    </div>
  </nav>
<% elsif params['controller'] == 'sessions' && params['action'] == 'new' %>
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header">
      <a id="menutoggler" href="#" class="loggedout">
        <i class="main-color fa fa-bars"></i>
      </a>
      <%= link_to image_tag("logo.png", alt: "nfuselogo"), root_path, class: 'navbar-brand' %>
      <!-- LOGGED OUT NAV -->
      <div id="loggedout-nav" class="loggedout navbar-right">
        <ul class="nav">
          <li>
            <a href="/signup" class="hidden-xs page-scroll animated"><i class="fa fa-user"></i> Sign Up</a>
            <a href="#" class="visible-xs signuptoggler"><i class="fa fa-user"></i> Sign Up</a>
          </li>
          <li>
            <%= link_to signin_path do %>
            <i class="fa fa-user-plus"></i>Login
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!-- Search Form -->
    <form accept-charset="UTF-8" action="/search" id="head-search" class="search drk" method="get">
      <div style="display:none">
        <input name="utf8" type="hidden" value="✓">
      </div>
      <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
      <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
      <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
    </form>
    <!-- LOGGED IN NAV -->
    <div id="loggedin-nav" class="loggedout slideout">
      <form accept-charset="UTF-8" action="/search" id="slide-search" class="search drk" method="get">
        <div style="display:none">
          <input name="utf8" type="hidden" value="✓">
        </div>
        <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
        <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
        <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
      </form>
      <ul class="nav">
        <li>
          <%= link_to 'Home', root_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign Un', signup_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign In', signin_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Privacy', privacy_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Contact Us', new_contact_path, class: '' %>
        </li>
      </ul>
    </div>
  </nav>
<% elsif params['controller'] == 'users' && params['action'] == 'new' %>
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header">
      <a id="menutoggler" href="#" class="loggedout">
        <i class="main-color fa fa-bars"></i>
      </a>
      <%= link_to image_tag("logo.png", alt: "nfuselogo"), root_path, class: 'navbar-brand' %>
      <!-- LOGGED OUT NAV -->
      <div id="loggedout-nav" class="loggedout navbar-right">
        <ul class="nav">
          <li>
            <a href="/signup" class="hidden-xs page-scroll animated"><i class="fa fa-user"></i> Sign Up</a>
            <a href="#" class="visible-xs signuptoggler"><i class="fa fa-user"></i> Sign Up</a>
          </li>
          <li>
            <%= link_to signin_path do %>
            <i class="fa fa-user-plus"></i>Login
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!-- Search Form -->
    <form accept-charset="UTF-8" action="/search" id="head-search" class="search drk" method="get">
      <div style="display:none">
        <input name="utf8" type="hidden" value="✓">
      </div>
      <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
      <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
      <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
    </form>
    <!-- LOGGED IN NAV -->
    <div id="loggedin-nav" class="loggedout slideout">
      <form accept-charset="UTF-8" action="/search" id="slide-search" class="search drk" method="get">
        <div style="display:none">
          <input name="utf8" type="hidden" value="✓">
        </div>
        <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
        <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
        <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
      </form>
      <ul class="nav">
        <li>
          <%= link_to 'Home', root_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign Un', signup_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign In', signin_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Privacy', privacy_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Contact Us', new_contact_path, class: '' %>
        </li>
      </ul>
    </div>
  </nav>
<% elsif current_page?(controller: 'contacts', action: 'new') %>
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header">
      <a id="menutoggler" href="#" class="loggedout">
        <i class="main-color fa fa-bars"></i>
      </a>
      <%= link_to image_tag("logo.png", alt: "nfuselogo"), root_path, class: 'navbar-brand' %>
      <!-- LOGGED OUT NAV -->
      <div id="loggedout-nav" class="loggedout navbar-right">
        <ul class="nav">
          <li>
            <a href="/signup" class="hidden-xs page-scroll animated"><i class="fa fa-user"></i> Sign Up</a>
            <a href="#" class="visible-xs signuptoggler"><i class="fa fa-user"></i> Sign Up</a>
          </li>
          <li>
            <%= link_to signin_path do %>
            <i class="fa fa-user-plus"></i>Login
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!-- Search Form -->
    <form accept-charset="UTF-8" action="/search" id="head-search" class="search drk" method="get">
      <div style="display:none">
        <input name="utf8" type="hidden" value="✓">
      </div>
      <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
      <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
      <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
    </form>
    <!-- LOGGED IN NAV -->
    <div id="loggedin-nav" class="loggedout slideout">
      <form accept-charset="UTF-8" action="/search" id="slide-search" class="search drk" method="get">
        <div style="display:none">
          <input name="utf8" type="hidden" value="✓">
        </div>
        <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
        <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
        <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
      </form>
        <ul class="nav">
        <li>
          <%= link_to 'Home', root_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign Un', signup_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign In', signin_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Privacy', privacy_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Contact Us', new_contact_path, class: '' %>
        </li>
        </ul>
      </div>
  </nav>
<% else %>
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header">
      <a id="menutoggler" href="#" class="loggedout">
        <i class="main-color fa fa-bars"></i>
      </a>
      <%= link_to image_tag("logo.png", alt: "nfuselogo"), root_path, class: 'navbar-brand' %>
      <!-- LOGGED OUT NAV -->
      <div id="loggedout-nav" class="loggedout navbar-right">
        <ul class="nav">
          <li>
            <a href="/signup" class="hidden-xs page-scroll animated"><i class="fa fa-user"></i> Sign Up</a>
            <a href="#" class="visible-xs signuptoggler"><i class="fa fa-user"></i> Sign Up</a>
          </li>
          <li>
            <%= link_to signin_path do %>
            <i class="fa fa-user-plus"></i>Login
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!-- Search Form -->
    <form accept-charset="UTF-8" action="/search" id="head-search" class="search drk" method="get">
      <div style="display:none">
        <input name="utf8" type="hidden" value="✓">
      </div>
      <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
      <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
      <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
    </form>
    <!-- LOGGED IN NAV -->
    <div id="loggedin-nav" class="loggedout slideout">
      <form accept-charset="UTF-8" action="/search" id="slide-search" class="search drk" method="get">
        <div style="display:none">
          <input name="utf8" type="hidden" value="✓">
        </div>
        <a class="randomize" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
        <a class="gosearch" href="explore.html"><i class="fa fa-search"></i></a>
        <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
      </form>
      <ul class="nav">
        <li>
          <%= link_to 'Home', root_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign Un', signup_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sign In', signin_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Privacy', privacy_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Contact Us', new_contact_path, class: '' %>
        </li>
      </ul>
    </div>
  </nav>
<% end %>
