<!-- *Start* Views/layouts/_header.html -->
<style type="text/css">
  .input-bg {
    background-color: #fff;
  }
</style>
<div class="Ourfuckinthing"></div>
<div class="headerBack">
<nav class="header" role="navigation">
  <div class="header_inLineLeft">
    <ul>
      <li><%= link_to root_path do %>
          <%= image_tag('Full-Logo.png', size: "151x47") %>
          <% end %>
      </li>
    </ul>
  </div>

<% if signed_in? %> <!-- if signed in _header-->
  <ul class="header_inlineleft">
    <li>
      <%= form_tag search_path, method: "get", class: "search-bar" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search"%>
      <% end %>
    </li>
  </ul>

  <div class="inLineRight iconBar">
    <ul id="menu">
      <li class="navIcon tilt" id="home">
        <%= link_to root_path do %>
        <%= image_tag('home1.fw.png', size: "32x32", title: "Hub") %>
        <% end %>
      </li>
      <li class="navIcon tilt" id="explore">        
      <%= link_to explore_user_path(current_user) do %>
        <%= image_tag('educational27.png', size: "32x32", title: "Explore") %>
      <% end %>
      </li>
      <li class="navIcon tilt" id="profile">
        <%= link_to feed_user_path(current_user) do %>
        <%= image_tag(current_user.avatar(:small), class: "user_profile_picture", size: "32x32", title: "#{ current_user.full_name}") %>
        <% end %>
      </li>
      <li class="navIcon tilt" id="notifications">
        <%= link_to notifications_path do %>
        <%= image_tag('notifications.fw.png', size: "32x32", title: "Notifications") %>
        <% end %>
      </li>
      <li class="navIcon edit feedback" id="help">
        <a href="#" class="dropdown-toggle">
          <%= image_tag('menu24.fw.png', size: "32x32", title: "Menu") %> <b class="caret"></b>
        </a>
        <ul class="menuDropdown">
          <li class="doubleDrop"><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="doubleDrop"><%= link_to "Help", help_path %></li>
          <li class="doubleDrop"><%= link_to "Feedback", contacts_path %></li>
          <li class="divider"></li>
          <li class="doubleDrop"><%= link_to "Log out", signout_path, method: :get %></li>
        </ul>
      </li>
    </ul> 
  
  </div>


<% else %> <!-- else _header-->

  <div class="login_form_position">
    <%= form_for(:session, url: sessions_path, html: { class: "navbar-form navbar-right", id:"signin", role: "form" }) do |f| %>
      <div class="input-group">
        <span class="input-group-addon"><%= image_tag("male80.png", size: "15x15") %></span>
          <%= f.text_field :email, placeholder: "Email", class: "form-control input-bg", id: "email", type: "email" %>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><%= image_tag("lock27.png", size: "15x15") %></span>
          <%= f.text_field :password, placeholder: "Password", class: "form-control input-bg", id: "password", type: "password" %>
      </div>
      <button         
        <%= f.submit "Create my account", class: "btn btn-link-login ", type: "submit" %>> Log in!
      </button>
    <% end %>
  </div>
<% end %>

</nav>

<script>
$(document).ready(function(){
    $(".navIcon").removeClass("activeNavIcon");
    var urlPath = window.location.pathname;
    //alert(urlPath);
    if(urlPath == "/"){
      $('#home').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore')!== -1){
      $('#explore').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/feed')!== -1){
      $('#profile').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/nfuse_page')!== -1){
      $('#profile').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/following')!== -1){
      $('#profile').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/followers')!== -1){
      $('#profile').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/notifications')!== -1){
      $('#notifications').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/edit')!== -1){
      $('.edit').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/help')!== -1){
      $('#help').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/contacts')!== -1){
      $('.feedback').addClass("activeNavIcon");
    }
  $('.menuDropdown').hide();
  //alert("header.js");
  $('.dropdown-toggle').click(function () {
    $('.menuDropdown').toggle(300);
  });
  $('.navIcon').click(function (){
    $(".navIcon").removeClass("activeNavIcon");
  });
});
</script>
</div>
<!-- *End* Views/layouts/_header.html -->
