<nav class="navbar navbar-custom navbar-fixed-top">
   <!-- NAVBAR -->
    <div class="navbar-header">
        <a id="menutoggler" href="#" class="" data-toggle="offcanvas" data-target="#slide-nav" title="Menu">
            <i class="main-color fa fa-bars"></i>
        </a>
<!--         <a id="menutoggler" href="#" data-toggle="modal" data-target="#navmodal">
            <i class="main-color fa fa-bars"></i>
        </a> -->
        <%= link_to image_tag("logo.png", alt: "nfuselogo", title: 'Illuminate'), root_path, class: 'navbar-brand' %>
        <div id="top-nav" class="">
          <% if !signed_in? %>
            <!-- LOGGED OUT -->
            <ul class="nav loggedout">
                <li>
                  <%#= link_to signup_path, class: 'signintoggler' do %>
                    <!-- <i class="fa fa-user-plus"></i>Sign Up -->
                  <%# end %>
                  <a href="#" data-toggle="modal" data-target="#signupmodal"><i class="fa fa-user-plus"></i> Sign Up</a>
                </li>
                <li>
                  <%#= link_to signin_path, class: 'signintoggler' do %>
                    <!-- <i class="fa fa-user"></i>Log In -->
                  <%# end %>
                    <a href="#" data-toggle="modal" data-target="#signinmodal"><i class="fa fa-user"></i> Log In</a>
                </li>
                <li>
                  <a href="/auth/facebook" class="signintoggler"><i class="fa fa-facebook"></i>Connect</a>
                </li>
            </ul>
          <% else %>
            <!-- LOGGED IN -->
            <div class="nav loggedin">
              <% if current_user.avatar_file_name.present? && current_user.avatar_file_name.include?('graph.facebook.com') %>
                <%= link_to image_tag(current_user.avatar_file_name, title: "#{current_user.full_name}"), feed_user_path(current_user), id: 'user' %>
              <% else %>
                <%= link_to image_tag(current_user.avatar(:small), id: 'user', title: "#{current_user.full_name}"), feed_user_path(current_user), id: 'user' %>
              <% end %>
                <!-- <a id="user" href="profile.html">
                    <img src="/assets/users/default.jpg" alt="User Image"/>
                </a> -->
              <%= link_to explore_user_path(current_user), class: 'icon-link', id: 'explore', title: 'Explore' do %>
                    <i class="main-color fa fa-compass"></i>
              <% end %>
                <!-- <a id="explore" href="explore-loggedin.html" class="icon-link" alt="Explore">
                    <i class="main-color fa fa-compass"></i>
                </a>  --> 
              <%= link_to activities_path, id: "notifications", class: "icon-link", data: {toggle: 'offcanvas', target: '#notifications-list'}, alt: "Notifications", title: "Notifications", remote: true do %>
                <i class="main-color fa fa-bell"></i>
                <span id="count">
                  <% activity1 = PublicActivity::Activity.where(recipient_id: current_user.id, read: false).count %>
                  <% activity2 = PublicActivity::Activity.where("user_recipients LIKE ':id,%' or user_recipients LIKE '%, :id' or user_recipients LIKE '%, :id,%' or user_recipients = ':id'", id: current_user.id).where(read: false).count %>
                  <%= activity1 + activity2 %>
                </span>
              <% end %>
              <%= link_to root_path, class: 'icon-link', id: 'home', title: 'Home' do %>
                    <i class="main-color fa fa-home"></i>
              <% end %>
                <!-- <a id="home" href="profile.html" class="icon-link" alt="The Hub">
                    <i class="main-color fa fa-home"></i>
                </a> -->
            </div>
          <% end %>
        </div>
    </div>
    <!-- TOP SEARCH FORM -->
    <%= form_tag search_path, method: 'get', id: "head-search", class: "down search drk" do %>
      <% if signed_in? %>
        <div class="dropdown loggedin">
          <%= select_tag "selected_option", options_for_select([ "Nfusers", "Pages", "Posts" ], params[:selected_option]), id:"searchdrop" %> 
        </div>
      <% else %>
        <a class="ilink randomize loggedout" href="/random_search"><img src="/assets/dice.png" alt="random search"/></a>
        <%= hidden_field_tag "selected_option" %>
      <% end %>
      <!-- <a class="gosearch" type="submit"><i class="fa fa-search"></i></a> -->
      <a class="ilink gosearch"><button type="submit"><i class=" fa fa-search"></i></button></a>
      <%= text_field_tag :search, params[:search], class: "searchform", placeholder: "#tags, @Users & Social Media" %>
    <% end %>

    <!-- SLIDEOUT NAV -->

    <div id="slide-nav" class="slide-out navmenu-fixed-right offcanvas">
      <%= form_tag search_path, method: 'get', id: "slide-search", class: "search drk" do %>
        <% if signed_in? %>
          <div class="dropdown loggedin">
            <%= select_tag "selected_option", options_for_select([ "Nfusers", "Pages", "Posts" ], params[:selected_option]), id:"searchdrop" %>  
          </div>
        <% else %>
          <a class="ilink randomize loggedout" href="/random_search"><img src="/assets/dice.png" alt="random search"/></a>
          <%= hidden_field_tag "selected_option" %>
        <% end %>
        <!-- <a class="gosearch" type="submit"><i class="fa fa-search"></i></a> -->
        <a class="ilink gosearch"><button type="submit"><i class=" fa fa-search"></i></button></a>
        <%= text_field_tag :search, params[:search], class: "searchform", placeholder: "#tags, @Users & Social Media" %>
      <% end %>
      <% if !signed_in? %>
        <!-- LOGGED OUT -->
        <ul class="nav loggedout">
          <li>
            <%= link_to 'Home', root_path, class: '' %>
              <!-- <a class="" href="index.html">Home</a> -->
          </li>
          <li>
            <%= link_to 'Sign Up', signup_path, class: '' %>
              <!-- <a class="" href="signup.html">Sign Up</a> -->
          </li>
          <li>
            <%= link_to 'Log In', signin_path, class: '' %>
              <!-- <a class="" href="signin.html">Sign In</a> -->
          </li>
          <li>
            <%= link_to 'Privacy', privacy_path, class: '' %>
              <!-- <a class="" href="privacy.html">Privacy</a> -->
          </li>
          <li>
            <%= link_to 'Contact Us', contact_us_path, class: '' %>
              <!-- <a class="" href="contact.html">Contact Us</a> -->
          </li>
        </ul>
      <% else %>  
        <!-- LOGGED IN -->
        <ul class="nav loggedin">
          <li>
            <%= link_to 'Settings', edit_user_path(current_user), class: '' %>
              <!-- <a class="" href="settings.html">Settings</a> -->
          </li>
          <li>
            <%= link_to 'Help', help_path, class: '' %>
              <!-- <a class="" href="#">Help</a> -->
          </li>
          <li>
            <%= link_to 'Feedback', contact_us_path, class: '' %>
              <!-- <a class="" href="#">Feedback</a> -->
          </li>
          <li>
            <%= link_to 'Log Out', signout_path, method: :get, class: '' %>
              <!-- <a class="" href="#">Log Out</a> -->
          </li>
        </ul>
      <% end %>
    </div>
</nav>


