<!-- *Start* Views/layouts/_header.html -->
<style type="text/css">
  .input-bg {
    background-color: #fff;
  }
@media only screen and (max-width: 900px) {
    #fadeshow4 {
        display: none;
    }
}
  @media only screen and (max-width: 1020px) {
      #fadeshow_login1 {
          display: none;
      }
  }
  @media (min-width: 1020px) {
      #fadeshow_login3 {
          display: none;
      }
  }
  <% if signed_in? %>
    @media only screen and (max-width: 550px) {
        #fadeshow4_logged_out_banner {
            display: none;
        }
    }
  <%end%>

  .login_small {
    margin-top: 16px;
    font-size: 1.6em;
    font-weight: 500;
  }

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#search_header {

}

#search_header input[type="text"] {
    background-color: rgba(19, 19, 19, 0.11);
    border: 0 none;
    font: bold 22px Arial,Helvetica,Sans-serif;
    margin-top: 2px;
    color: #21efb8;
    width: 220px;
    height: 40px;
    padding: 6px 15px 6px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    }
</style>
<div class="Thing"></div>
<div class="headerBack">
<nav class="header" role="navigation">
  <div class="header_inLineLeft">
    <ul>
      <li><%= link_to image_tag('Nfusebannermin.png', size: "160x41", id: "fadeshow4_logged_out_banner"), root_path %>
      </li>
    </ul>
  </div>

<% if signed_in? %> <!-- if signed in _header-->
  <ul class="header_inlineleft">
    <li id="fadeshow4">
      <%= form_tag searchuser_path, method: "get", class: "search-bar" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search"%>
      <% end %>
    </li>
  </ul>

  <div class="inLineRight iconBar">
    <ul id="menu">    <!-- <ul class="nav navbar-nav navbar-right" id="menu"> -->
      <li class="navIcon tilt" id="home">
        <%= link_to image_tag('home1.fw.png', size: "32x32", title: "Hub"), root_path %>
      </li>
      <li class="navIcon tilt" id="explore">        
      <%= link_to image_tag('educational27.png', size: "32x32", title: "Explore"), explore_user_path(current_user) %>
      </li>
      <li class="navIcon tilt" id="profile">
        <%= link_to image_tag(current_user.avatar(:small), class: "user_profile_picture_header", size: "32x32", title: "#{ current_user.full_name}"), feed_user_path(current_user) %>
      </li><!-- 
      <li class="navIcon tilt" id="newpost">
          <a data-toggle="modal" data-target="#new_post_header_modal">
            <%#= image_tag('add50blue.fw.png', size: "32x32", title: "New Post") %>
          </a>
        <%#= link_to image_tag('add50blue.fw.png', size: "32x32", title: "New post"), new_shout_path %>
      </li> -->
       <li class="navIcon tilt" id="notifications">
        <%= link_to image_tag('notifications3.fw.png', size: "32x32", title: "Notifications"), activities_path %>
      </li> 
      <li class="navIcon edit feedback" id="help">
        <a href="#" class="dropdown-toggle">
          <%= image_tag('menu24.fw.png', size: "32x32", title: "Menu") %> <b class="caret"></b>
        </a>
        <ul class="menuDropdown">
          <li class="doubleDrop"><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="doubleDrop"><%= link_to "Help", help_path %></li>
          <li class="doubleDrop"><%= link_to "Feedback", contacts_path %></li>
          <li class="divider"></li>
          <li class="doubleDrop"><%= link_to "Log out", signout_path, method: :get %></li>
        </ul>
      </li>
    </ul> 
  
  </div>

<% else %> <!-- else _header-->
  <% if current_page?(root_path) %>
    <div class="login_form_position" id="fadeshow_login1">
      <%= form_for(:session, url: sessions_path, html: { class: "navbar-form navbar-right", id:"signin", role: "form" }) do |f| %>
        <div class="input-group">
          <span class="input-group-addon"><%= image_tag("male80.png", size: "15x15") %></span>
            <%= f.text_field :email, placeholder: "Email", class: "form-control input-bg", id: "email", type: "email" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><%= image_tag("lock27.png", size: "15x15") %></span>
            <%= f.text_field :password, placeholder: "Password", class: "form-control input-bg", id: "password", type: "password" %>
        </div>
        <button type= "submit" class="btn btn-link-login">
          Log in!
        </button>
      <% end %>
    </div>
    <div class="navbar-right login_small" id="fadeshow_login3">
      <%= link_to 'Log In', signin_path%>
    </div>
  <% else %>
     <div>
      <%= form_tag search_path, method: 'get', class: "navbar-form navbar-right", id:"search_header" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
      <% end %>
    </div>
<!-- 
    <div>
      <form method="get" action="/search" class="navbar-form navbar-right" id="search_header">
        <input name="q" type="text" placeholder="Search..." />
      </form>
    </div> -->
  <% end %>
<% end %>

</nav>
</div>
<script>
$(document).ready(function(){
    $(".navIcon").removeClass("activeNavIcon");
    var urlPath = window.location.pathname;
    //alert(urlPath);
    if(urlPath == "/"){
      $('#home').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/explore')!== -1){
      $('#explore').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/notifications')!== -1){
      $('#notifications').addClass("activeNavIcon");
    }
    <% if signed_in? && current_page?(feed_user_path(current_user)) %>
    else if(urlPath.indexOf("/feed")!== -1){
      $('#profile').addClass("activeNavIcon");
    }
    <%end%>
    else if(urlPath.indexOf('/nfuse_page')!== -1){
      $('#profile').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/following')!== -1){
      $('#profile').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/followers')!== -1){
      $('#profile').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/shouts/new')!== -1){
      $('#newpost').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/edit')!== -1){
      $('.edit').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/help')!== -1){
      $('#help').addClass("activeNavIcon");
    }
    else if(urlPath.indexOf('/contacts')!== -1){
      $('.feedback').addClass("activeNavIcon");
    }
  $('.menuDropdown').hide();
  //alert("header.js");
  $('.dropdown-toggle').click(function () {
    $('.menuDropdown').toggle(300);
  });
  $('.navIcon').click(function (){
    $(".navIcon").removeClass("activeNavIcon");
  });
});
</script>
<script>
  $(function() {
    $('#newPostHeaderPictureInput').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        $('#headerPostTarget').html(img);
      }
      reader.readAsDataURL(image);
      console.log(files);
    });
  });
</script>

<script>
function load(request) {
  $('#code').text(request);
  $('#headerUrlPostPreview').html(request);
}

function preview(value) {
  console.log("preview; value = " + value);

  /*
  $.getJSON("/preview?callback=?", value, function(data){
    load(data);
    console.log("preview callback\n" + data);
  });
  */

  $.ajax({
    dataType: "html",
    url: "/preview?url=" + value['url']
  })
  .done( function(data){
    load(data);
    console.log("preview callback\n" + data);
  });
}

function previewUrl() {
  preview({'url':$('#header_post_url_body').val()});
}

$('#examples a').click(function() {
  $('#header_post_url_body').focus(); 
  $('#header_post_url_body').val( $(this).attr('href'));
  previewUrl();
});

$(function () { 
  $("#header_post_url_body").focus();
  previewUrl();
});

//$('#upload_form').delayedObserver(1, function(element, value) { previewUrl() });
//$('#header_post_url_body').keydown(function() { alert("hi"); previewUrl() });
//$('#header_post_url_body').bind('input propertychange', function() { alert("hi"); previewUrl() });  


</script>
