<!DOCTYPE html>
<!-- *Start* Views/layouts/application.html -->
<html lang="en">
  <head>
    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% end %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,900,300,700' rel='stylesheet' type='text/css'>

    <%= favicon_link_tag 'icon.png'%>
    <%= render 'layouts/shim' %>
    <%= csrf_meta_tags %>
  </head>
    <!-- Updated at 1:57 12/30/15 -->
    <% if !signed_in? %>
      <body id="nfuse" class="loggedout nosearchbar" data-spy="scroll" data-target=".navbar-fixed-top">
    <% else %>
      <body id="nfuse" class="loggedin nosearchbar" data-spy="scroll" data-target=".navbar-fixed-top">
    <% end %>
    <%= render 'layouts/header' %>
    <%= yield %>

    <a id="backtotop" title="back to top" class="page-scroll animation" href="#nfuse" ><i class="fa fa-long-arrow-up"></i></a>
    <%= render partial: 'layouts/modals', locals: {user: @user} %>
    <%= render partial: 'layouts/footer' %>

    <!-- NOTIFICATIONS -->
    <% if signed_in? %>
      <div id="notifications-list" class="slide-out navmenu-fixed-right offcanvas">
        <div id="notifications-header">
          <h5><i class="fa fa-bell"></i>Notifications</h5>
        </div>
      </div>    <!-- EXCLUSIVE POST MODAL -->

      <div class="modal fade" id="exclusivemodal" tabindex="-1" role="dialog" aria-labelledby="exclusivelabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <%#= paginate @activities %>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Masonary Script -->
    <%= javascript_include_tag 'masonry.pkgd.js' %>
    <%= javascript_include_tag 'imagesloaded.pkgd.js' %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag 'nfuse.js' %>
    <%= javascript_include_tag 'jasny-bootstrap.min.js' %>

    <!-- Plugin JavaScript -->
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'jquery.easing.min.js' %>

    <!-- SCROLLBAR -->
    <%= javascript_include_tag 'jquery.slimscroll.min.js' %>
    <script type="text/javascript">
      var $grid = $('#masonJar').masonry({
        itemSelector: '.individual_post',
        columnWidth: '.grid-sizer',
        gutter: 20
      });

      var theInterval = setInterval(function(){
        $grid.masonry('layout'); 
      }, 300);

      $(window).bind("load", function() {
         $grid.masonry('layout');
         clearInterval(theInterval);
      });
    </script>
  </body>
</html>