<!DOCTYPE html>
<!-- *Start* Views/layouts/application.html -->
<html>
  <head>
    <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %> 
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'%>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <%= javascript_include_tag 'masonry.pkgd.js'%>
    <%= javascript_include_tag 'resize_masonry.js'%>
    <%= javascript_include_tag 'imagesloaded.pkgd.js'%>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'Nfuselogopurple.fw.png'%>
    <%= render 'layouts/shim' %>
    <%= csrf_meta_tags %>
  </head>
  <body><!--app.html body start-->
    
    <%= render 'layouts/header' %>
    <div class="container_app_html">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= value %>
        </div>
      <% end %>
      <div class="content_container_app_html">
        <%= yield %>
      </div>
    </div>
   <script>
   
     $( document ).ready(function() {
        resizeMasonry();
      });
     $( window ).resize(function() {
        resizeMasonry();
      });

var msnry;

function triggerMasonry() {
  // don't proceed if masonry has not been initialized
  if ( !msnry ) {
    return;
  }
  msnry.layout();
}

function initMasonry() {
  var container = document.querySelector('#masonJar');
  msnry = new Masonry( container, {
      itemSelector: '.item',
      isAnimated: true,
      isResizable: true,
      gutter: 25
     
      
    });
}

// initialize masonry on document ready
docReady( function() {
  initMasonry();
});


var $container = $('#masonJar');
// initialize Masonry after all images have loaded  
$container.imagesLoaded( function() {
     $container.masonry({
      itemSelector: '.item',
      isAnimated: true,
      isResizable: true,
      gutter: 25
     
      
    });

});
    
    </script>
  <%= render partial: 'layouts/footer' %>
  </body>
  <!-- *End* Views/layouts/application.html -->
</html>
