<!DOCTYPE html>
<!-- *Start* Views/layouts/application.html -->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nfuse, Share all your social media in on place, one feed for all your social media, easy way to share with your friends" />
    <meta name="author" content="">
    <meta name="keywords" content="Nfuse, Nfuse.it, wwww.nfuse.it, infuse.it, Social Media, Social Agregate, all in one social media, one social site, sharing social media, social media in one, social share, one feed" />

    <title>Nfuse - Share All Your Social Media. </title>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,900,300,700' rel='stylesheet' type='text/css'>

    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% end %>

    <%= favicon_link_tag 'Nfuselogopurple.fw.png'%>
    <%= render 'layouts/shim' %>
    <%= csrf_meta_tags %>
  </head>
  <!-- Updated at 1:57 12/30/15 -->
  <% if current_page?(controller: 'pages', action: 'home')%>
    <body id="nfuse" class="loggedout home" data-spy="scroll" data-target=".navbar-fixed-top">
  <% elsif current_page?(controller: 'pages', action: 'privacy')%>
    <body id="nfuse" class="loggedout general inner" data-spy="scroll" data-target=".navbar-fixed-top">
  <% elsif current_page?(controller: 'sessions', action: 'new')%>
    <body id="nfuse" class="loggedout inner pagetrans" data-spy="scroll" data-target=".navbar-fixed-top">
  <% elsif current_page?(controller: 'users', action: 'new')%>
    <body id="nfuse" class="loggedout inner pagetrans" data-spy="scroll" data-target=".navbar-fixed-top">
  <% elsif current_page?(controller: 'contacts', action: 'new')%>
    <body id="nfuse" class="loggedout inner pagetrans" data-spy="scroll" data-target=".navbar-fixed-top">
  <% end %>
    
    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render partial: 'layouts/footer' %>
    <%= javascript_include_tag 'jquery.js' %>
    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <!-- Plugin JavaScript -->
    <%= javascript_include_tag 'jquery.easing.min.js' %>
    <!-- Custom Theme JavaScript 
    <script src="js/application.js"></script>-->
    <%= javascript_include_tag 'nfuse.js' %>
    <% if content_for? :for_body %>
      <%= yield :for_body %>
    <% end %>
  </body>
</html>
