<!DOCTYPE html>
<!-- Last Edited by Ryan 10/22/2014 -->
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'%>
    <!-- You have jquery plugins built on older version of jQuery. -->
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'%>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'favicon.fw.png' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <div class="content_container">
          <%= yield %>
        </div>
          <% if signed_in? %>
            <%= debug(params) if Rails.env.development? %>
          <% else %>
            <%= render 'layouts/footer' %>
      <% end %>
    </div>
  </body>
</html>
