<!DOCTYPE html>
<!-- *Start* Views/layouts/application.html -->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nfuse, Share all your social media in on place, one feed for all your social media, easy way to share with your friends" />
    <meta name="author" content="">
    <meta name="keywords" content="Nfuse, Nfuse.it, wwww.nfuse.it, infuse.it, Social Media, Social Agregate, all in one social media, one social site, sharing social media, social media in one, social share, one feed" />

    <title>Nfuse - Share All Your Social Media. </title>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,900,300,700' rel='stylesheet' type='text/css'>

    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% end %>

    <%= favicon_link_tag 'Nfuselogopurple.fw.png'%>
    <%= render 'layouts/shim' %>
    <%= csrf_meta_tags %>
  </head>
    <!-- Updated at 1:57 12/30/15 -->
    <% if current_page?(controller: 'pages', action: 'home')%>
      <body id="nfuse" class="loggedout home" data-spy="scroll" data-target=".navbar-fixed-top">
    <% elsif current_page?(controller: 'pages', action: 'privacy')%>
      <body id="nfuse" class="loggedout general inner" data-spy="scroll" data-target=".navbar-fixed-top">
    <% elsif params['controller'] == 'sessions' && params['action'] == 'new' %>
      <body id="nfuse" class="loggedout inner pagetrans" data-spy="scroll" data-target=".navbar-fixed-top">
    <% elsif params['controller'] == 'users' && params['action'] == 'new' %>
      <body id="nfuse" class="loggedout inner pagetrans" data-spy="scroll" data-target=".navbar-fixed-top">
    <% elsif current_page?(controller: 'contacts', action: 'new')%>
      <body id="nfuse" class="loggedout inner pagetrans" data-spy="scroll" data-target=".navbar-fixed-top">
    <% else %>
      <body id="nfuse" class="loggedout explore inner" data-spy="scroll" data-target=".navbar-fixed-top">
    <% end %>
    
    <%= render 'layouts/header' %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= value %>
        </div>
      <% end %>

    <%= yield %>

    <%= render partial: 'layouts/footer' %>
    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <!-- Plugin JavaScript -->
    <%= javascript_include_tag 'jquery.easing.min.js' %>
    <!-- Custom Theme JavaScript 
    <script src="js/application.js"></script>-->
    <% if params['controller'] == 'searches' || params['controller'] == 'pages' %>
      <%= javascript_include_tag 'resize_masonry.js' %>
      <%= javascript_include_tag 'nfuse.js' %>
      <!-- Masonary Script -->
      <%= javascript_include_tag 'imagesloaded.pkgd.js' %>
      <%= javascript_include_tag 'masonry.pkgd.js' %>
       <script>
         $( document ).ready(function() {
            resizeMasonry();
            });
         $( window ).resize(function() {
            resizeMasonry();
            });

          var msnry;
            function triggerMasonry() {
            // don't proceed if masonry has not been initialized
              if ( !msnry ) {
                return;
            }
            msnry.layout();
        }

        function initMasonry() {
          var container = document.querySelector('#masonJar');
          msnry = new Masonry( container, {
              itemSelector: '.item',
              isAnimated: true,
              isResizable: true,
              gutter: 25


          });
        }

            // initialize masonry on document ready
            docReady( function() {
              initMasonry();
          });


            var $container = $('#masonJar');
            // initialize Masonry after all images have loaded  
            $container.imagesLoaded( function() {
               $container.masonry({
                  itemSelector: '.item',
                  isAnimated: true,
                  isResizable: true,
                  gutter: 25

                  
              });

           });
    
    </script>
    <% else %>
      <%= javascript_include_tag 'nfuse.js' %>
    <% end %>

    <% if content_for? :for_body %>
      <%= yield :for_body %>
    <% end %>
  </body>
</html>
